<div fxLayout="column" class="whole">
    <div fxLayout="row" fxLayoutAlign="space-between" class="tool">
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px" class="addbtndiv">
            <img src="../../assets/Images/gear.svg" class="gearimg">
            <span class="maintenance-span">Maintenance Report</span>

        </div>
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px" class="togglediv">
            <span class="maintainmode">Maintenance Mode</span>
            <div class="parent">
                <mat-slide-toggle size="large" class="toggle"></mat-slide-toggle>
            </div>
        </div>
    </div>

    <mat-tab-group>
        <mat-tab>

            <ng-template mat-tab-label class="daily-ngtemplate">
                <div class="label" fxLayout="row" fxLayoutAlign="space-between center">
                    <div fxLayout="column" fxLayoutAlign="start start" class="schedulename">
                        <span class="daily">Daily</span>
                        <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="10px">
                            <span class="pending">Pending</span>
                            <div class="twelve">
                                <span class="pending-numberclass">12</span>
                            </div>
                        </div>
                    </div>

                    <div class="downarrow-image">
                        <img *ngIf="tabindex == 0" src="../../assets/Images/DownArrowDark.svg">
                    </div>
                </div>
            </ng-template>

            <div fxLayout="column" class="daily-templatediv-1">
                <div fxLayout="row" fxFlex="100" class="daily-templatediv-innerdiv1">
                    <div fxFlex="30" fxLayout="column" class="daily-templatediv-nesteddiv1">
                        <div fxLayout="row " fxLayoutAlign="space-between center" class="elevator-topdiv">
                            <div fxLayout="column" class="elevationdiv">
                                <span class="elevation-span">Elevation</span>
                                <span class="lift">Lift 1</span>
                            </div>
                            <img src="../../assets/Images/building1.png" class="liftbuilding">
                        </div>
                        <div fxLayout="column" fxLayoutAlign="start start" class="buttons-elevator" fxLayoutGap="10px">
                            <div fxLayout="row" class="commonnew">
                                <span class="buttons-span-elevator" fxFlex="50">Lift Buttons</span>
                                <div class="toggle-slide-elevator" fxFlex="50">
                                    <mat-slide-toggle class="slide"></mat-slide-toggle>
                                </div>
                            </div>
                            <div fxLayout="row" class="commonnew">
                                <span class="buttons-span-elevator" fxFlex="50">Alarm Buttons</span>
                                <div class="toggle-slide-elevator" fxFlex="50">
                                    <mat-slide-toggle class="slide"></mat-slide-toggle>
                                </div>
                            </div>
                            <div fxLayout="row" class="commonnew">
                                <span class="buttons-span-elevator" fxFlex="50">Telephone</span>
                                <div class="toggle-slide-elevator" fxFlex="50">
                                    <mat-slide-toggle class="slide"></mat-slide-toggle>
                                </div>
                            </div>
                            <div fxLayout="row" class="commonnew">
                                <span class="buttons-span-elevator" fxFlex="50">Ventilation Fan</span>
                                <div class="toggle-slide-elevator" fxFlex="50">
                                    <mat-slide-toggle class="slide"></mat-slide-toggle>
                                </div>
                            </div>
                            <div fxLayout="row" class="commonnew">
                                <span class="buttons-span-elevator" fxFlex="50">Door Sensor</span>
                                <div class="toggle-slide-elevator" fxFlex="50">
                                    <mat-slide-toggle class="slide" checked></mat-slide-toggle>
                                </div>
                            </div>
                            <div fxLayout="row" class="commonnew">
                                <span class="buttons-span-elevator" fxFlex="50">Elevator Car</span>
                                <div class="toggle-slide-elevator" fxFlex="50">
                                    <mat-slide-toggle class="slide" checked></mat-slide-toggle>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div fxFlex="5">
                        <mat-divider [vertical]="true" class="divider-elevator"></mat-divider>
                    </div>
                    <div fxFlex="30" fxLayout="column" class="daily-templatediv-nesteddiv1">
                        <div fxLayout="row " fxLayoutAlign="space-between center" class="elevator-topdiv">
                            <div fxLayout="column" class="elevationdiv">
                                <span class="elevation-span">Elevation</span>
                                <span class="lift">Lift 1</span>
                            </div>
                            <img src="../../assets/Images/building1.png" class="liftbuilding">
                        </div>
                        <div fxLayout="column" fxLayoutAlign="start start" class="buttons-elevator" fxLayoutGap="10px">
                            <div fxLayout="row" class="commonnew">
                                <span class="buttons-span-elevator" fxFlex="50">Lift Buttons</span>
                                <div class="toggle-slide-elevator" fxFlex="50">
                                    <mat-slide-toggle class="slide"></mat-slide-toggle>
                                </div>
                            </div>
                            <div fxLayout="row" class="commonnew">
                                <span class="buttons-span-elevator" fxFlex="50">Alarm Buttons</span>
                                <div class="toggle-slide-elevator" fxFlex="50">
                                    <mat-slide-toggle class="slide"></mat-slide-toggle>
                                </div>
                            </div>
                            <div fxLayout="row" class="commonnew">
                                <span class="buttons-span-elevator" fxFlex="50">Telephone</span>
                                <div class="toggle-slide-elevator" fxFlex="50">
                                    <mat-slide-toggle class="slide"></mat-slide-toggle>
                                </div>
                            </div>
                            <div fxLayout="row" class="commonnew">
                                <span class="buttons-span-elevator" fxFlex="50">Ventilation Fan</span>
                                <div class="toggle-slide-elevator" fxFlex="50">
                                    <mat-slide-toggle class="slide"></mat-slide-toggle>
                                </div>
                            </div>
                            <div fxLayout="row" class="commonnew">
                                <span class="buttons-span-elevator" fxFlex="50">Door Sensor</span>
                                <div class="toggle-slide-elevator" fxFlex="50">
                                    <mat-slide-toggle class="slide" checked></mat-slide-toggle>
                                </div>
                            </div>
                            <div fxLayout="row" class="commonnew">
                                <span class="buttons-span-elevator" fxFlex="50">Elevator Car</span>
                                <div class="toggle-slide-elevator" fxFlex="50">
                                    <mat-slide-toggle class="slide" checked></mat-slide-toggle>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div fxFlex="5">
                        <mat-divider [vertical]="true" class="divider-elevator"></mat-divider>
                    </div>
                    <div fxFlex="30" fxLayout="column" class="daily-templatediv-nesteddiv1">
                        <div fxLayout="row " fxLayoutAlign="space-between center" class="elevator-topdiv">
                            <div fxLayout="column" class="elevationdiv">
                                <span class="elevation-span">Elevation</span>
                                <span class="lift">Lift 1</span>
                            </div>
                            <img src="../../assets/Images/building1.png" class="liftbuilding">
                        </div>
                        <div fxLayout="column" fxLayoutAlign="start start" class="buttons-elevator" fxLayoutGap="10px">
                            <div fxLayout="row" class="commonnew">
                                <span class="buttons-span-elevator" fxFlex="50">Lift Buttons</span>
                                <div class="toggle-slide-elevator" fxFlex="50">
                                    <mat-slide-toggle class="slide"></mat-slide-toggle>
                                </div>
                            </div>
                            <div fxLayout="row" class="commonnew">
                                <span class="buttons-span-elevator" fxFlex="50">Alarm Buttons</span>
                                <div class="toggle-slide-elevator" fxFlex="50">
                                    <mat-slide-toggle class="slide"></mat-slide-toggle>
                                </div>
                            </div>
                            <div fxLayout="row" class="commonnew">
                                <span class="buttons-span-elevator" fxFlex="50">Telephone</span>
                                <div class="toggle-slide-elevator" fxFlex="50">
                                    <mat-slide-toggle class="slide"></mat-slide-toggle>
                                </div>
                            </div>
                            <div fxLayout="row" class="commonnew">
                                <span class="buttons-span-elevator" fxFlex="50">Ventilation Fan</span>
                                <div class="toggle-slide-elevator" fxFlex="50">
                                    <mat-slide-toggle class="slide"></mat-slide-toggle>
                                </div>
                            </div>
                            <div fxLayout="row" class="commonnew">
                                <span class="buttons-span-elevator" fxFlex="50">Door Sensor</span>
                                <div class="toggle-slide-elevator" fxFlex="50">
                                    <mat-slide-toggle class="slide" checked></mat-slide-toggle>
                                </div>
                            </div>
                            <div fxLayout="row" class="commonnew">
                                <span class="buttons-span-elevator" fxFlex="50">Elevator Car</span>
                                <div class="toggle-slide-elevator" fxFlex="50">
                                    <mat-slide-toggle class="slide" checked></mat-slide-toggle>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </mat-tab>

        <mat-tab>
            <ng-template mat-tab-label class="daily-ngtemplate">
                <div class="label" fxLayout="row" fxLayoutAlign="space-between center">
                    <div fxLayout="column" fxLayoutAlign="start start" class="schedulename">
                        <span class="daily">Weekly</span>
                        <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="10px">
                            <span class="pending">Pending</span>
                            <div class="twelve">
                                <span class="pending-numberclass">12</span>
                            </div>
                        </div>
                    </div>
                    <div fxFlex="2"></div>
                    <div class="newdiv" fxFlex="28">
                        <span class="new-span">New</span>
                    </div>
                    <div class="downarrow-image">
                        <img *ngIf="tabindex == 0" src="../../assets/Images/DownArrowDark.svg">
                    </div>
                </div>
            </ng-template>


            <div fxLayout="row" fxFlex="100">
                <div fxFlex="30" fxLayout="column">
                    <div fxLayout="row" fxLayoutAlign="space-between center">
                        <div fxLayout="column" class="elevationdiv" fxFlexOffset="4">
                            <p>Elevation</p>
                            <p class="lift">Lift 1</p>
                        </div>
                        <img src="../../assets/Images/building1.png" class="liftbuilding">
                    </div>
                    <div fxLayout="row" fxLayoutAlign="space-between center" class="commonnew">
                        <p fxFlexOffset="6">Fire Alarm</p>
                        <mat-slide-toggle class="slide"></mat-slide-toggle>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="space-between center" class="commonnew" fxFlexOffset="3">
                        <p fxFlexOffset="6">Emergrncy Sensor</p>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="space-between center" class="commonnew" fxFlexOffset="3">
                        <p fxFlexOffset="6" style="color: #c2bedf">P Sensor</p>
                        <mat-slide-toggle class="slide"></mat-slide-toggle>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="space-between center" class="commonnew" fxFlexOffset="3">
                        <p fxFlexOffset="6" style="color: #c2bedf">S Sensor</p>
                        <mat-slide-toggle class="slide"></mat-slide-toggle>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="space-between center" class="commonnew" fxFlexOffset="3">
                        <p fxFlexOffset="6">Joints</p>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="space-between center" class="commonnew" fxFlexOffset="3">
                        <p fxFlexOffset="6" style="color: #c2bedf">Nut</p>
                        <mat-slide-toggle class="slide" checked></mat-slide-toggle>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="space-between center" class="commonnew" fxFlexOffset="3">
                        <p fxFlexOffset="6" style="color: #c2bedf">Bolt</p>
                        <mat-slide-toggle class="slide" checked></mat-slide-toggle>
                    </div>
                </div>
                <div fxFlex="5">
                    <mat-divider [vertical]="true"></mat-divider>
                </div>
                <div fxFlex="30" fxLayout="column">
                    <div fxLayout="row" fxLayoutAlign="space-between center">
                        <div fxLayout="column" class="elevationdiv" fxFlexOffset="4">
                            <p>Elevation</p>
                            <p class="lift">Lift 1</p>
                        </div>
                        <img src="../../assets/Images/building1.png" class="liftbuilding">
                    </div>
                    <div fxLayout="row" fxLayoutAlign="space-between center" class="commonnew">
                        <p fxFlexOffset="6">Fire Alarm</p>
                        <mat-slide-toggle class="slide"></mat-slide-toggle>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="space-between center" class="commonnew" fxFlexOffset="3">
                        <p fxFlexOffset="6">Emergrncy Sensor</p>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="space-between center" class="commonnew" fxFlexOffset="3">
                        <p fxFlexOffset="6" style="color: #c2bedf">P Sensor</p>
                        <mat-slide-toggle class="slide"></mat-slide-toggle>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="space-between center" class="commonnew" fxFlexOffset="3">
                        <p fxFlexOffset="6" style="color: #c2bedf">S Sensor</p>
                        <mat-slide-toggle class="slide"></mat-slide-toggle>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="space-between center" class="commonnew" fxFlexOffset="3">
                        <p fxFlexOffset="6">Joints</p>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="space-between center" class="commonnew" fxFlexOffset="3">
                        <p fxFlexOffset="6" style="color: #c2bedf">Nut</p>
                        <mat-slide-toggle class="slide" checked></mat-slide-toggle>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="space-between center" class="commonnew" fxFlexOffset="3">
                        <p fxFlexOffset="6" style="color: #c2bedf">Bolt</p>
                        <mat-slide-toggle class="slide" checked></mat-slide-toggle>
                    </div>
                </div>
                <div fxFlex="5">
                    <mat-divider [vertical]="true"></mat-divider>
                </div>
                <div fxFlex="30" fxLayout="column">
                    <div fxLayout="row" fxLayoutAlign="space-between center">
                        <div fxLayout="column" class="elevationdiv" fxFlexOffset="4">
                            <p>Elevation</p>
                            <p class="lift">Lift 1</p>
                        </div>
                        <img src="../../assets/Images/building1.png" class="liftbuilding">
                    </div>
                    <div fxLayout="row" fxLayoutAlign="space-between center" class="commonnew">
                        <p fxFlexOffset="6">Fire Alarm</p>
                        <mat-slide-toggle class="slide"></mat-slide-toggle>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="space-between center" class="commonnew" fxFlexOffset="3">
                        <p fxFlexOffset="6">Emergrncy Sensor</p>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="space-between center" class="commonnew" fxFlexOffset="3">
                        <p fxFlexOffset="6" style="color: #c2bedf">P Sensor</p>
                        <mat-slide-toggle class="slide"></mat-slide-toggle>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="space-between center" class="commonnew" fxFlexOffset="3">
                        <p fxFlexOffset="6" style="color: #c2bedf">S Sensor</p>
                        <mat-slide-toggle class="slide"></mat-slide-toggle>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="space-between center" class="commonnew" fxFlexOffset="3">
                        <p fxFlexOffset="6">Joints</p>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="space-between center" class="commonnew" fxFlexOffset="3">
                        <p fxFlexOffset="6" style="color: #c2bedf">Nut</p>
                        <mat-slide-toggle class="slide" checked></mat-slide-toggle>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="space-between center" class="commonnew" fxFlexOffset="3">
                        <p fxFlexOffset="6" style="color: #c2bedf">Bolt</p>
                        <mat-slide-toggle class="slide" checked></mat-slide-toggle>
                    </div>
                </div>
            </div>

        </mat-tab>

        <mat-tab>
            <ng-template mat-tab-label class="daily-ngtemplate">
                <div class="label" fxLayout="row" fxLayoutAlign="space-between center">
                    <div fxLayout="column" fxLayoutAlign="start start" class="schedulename">
                        <span class="daily">Monthly</span>
                        <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="10px">
                            <span class="pending">Completed</span>
                            <!-- <div class="twelve">
                                <span class="pending-numberclass">12</span>
                            </div> -->
                        </div>
                    </div>
                    <div fxFlex="2"></div>
                    <div class="newdiv" fxFlex="28">
                        <span class="new-span">New</span>
                    </div>
                    <div class="downarrow-image">
                        <img *ngIf="tabindex == 0" src="../../assets/Images/DownArrowDark.svg">
                    </div>
                </div>
            </ng-template>


            <div fxLayout="row" fxFlex="100">
                <div fxFlex="30" fxLayout="column">
                    <div fxLayout="row" fxLayoutAlign="space-between center">
                        <div fxLayout="column" class="elevationdiv" fxFlexOffset="4">
                            <p>Escalator</p>
                            <p class="lift">Floor 1</p>
                        </div>
                        <img src="../../assets/Images/escalator.png" class="escalator">
                    </div>
                    <div fxLayout="row" fxLayoutAlign="space-between center" class="commonnew">
                        <p fxFlexOffset="6">Motor Bearing</p>
                        <mat-slide-toggle class="slide" checked></mat-slide-toggle>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="space-between center" class="commonnew" fxFlexOffset="3">
                        <p fxFlexOffset="6">Shaft</p>
                        <mat-slide-toggle class="slide" checked></mat-slide-toggle>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="space-between center" class="commonnew" fxFlexOffset="3">
                        <p fxFlexOffset="6">Belt</p>
                        <mat-slide-toggle class="slide" checked></mat-slide-toggle>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="space-between center" class="commonnew" fxFlexOffset="3">
                        <p fxFlexOffset="6">Chain Drive</p>
                        <mat-slide-toggle class="slide" checked></mat-slide-toggle>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="space-between center" class="commonnew" fxFlexOffset="3">
                        <p fxFlexOffset="6">Brush</p>
                        <mat-slide-toggle class="slide" checked></mat-slide-toggle>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="space-between center" class="commonnew" fxFlexOffset="3">
                        <p fxFlexOffset="6">Roller Wheels</p>
                        <mat-slide-toggle class="slide" checked></mat-slide-toggle>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="space-between center" class="commonnew" fxFlexOffset="3">
                        <p fxFlexOffset="6">Guide Rails</p>
                        <mat-slide-toggle class="slide" checked></mat-slide-toggle>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="space-between center" class="commonnew" fxFlexOffset="3">
                        <p fxFlexOffset="6">Speed Governor</p>
                        <mat-slide-toggle class="slide" checked></mat-slide-toggle>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="space-between center" class="commonnew" fxFlexOffset="3">
                        <p fxFlexOffset="6">Controller</p>
                        <mat-slide-toggle class="slide" checked></mat-slide-toggle>
                    </div>
                </div>
                <div fxFlex="5">
                    <mat-divider [vertical]="true"></mat-divider>
                </div>
                <div fxFlex="30" fxLayout="column">
                    <div fxLayout="row" fxLayoutAlign="space-between center">
                        <div fxLayout="column" class="elevationdiv" fxFlexOffset="4">
                            <p>Escalator</p>
                            <p class="lift">Floor 2</p>
                        </div>
                        <img src="../../assets/Images/escalator.png" class="escalator">
                    </div>
                    <div fxLayout="row" fxLayoutAlign="space-between center" class="commonnew">
                        <p fxFlexOffset="6">Motor Bearing</p>
                        <mat-slide-toggle class="slide" checked></mat-slide-toggle>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="space-between center" class="commonnew" fxFlexOffset="3">
                        <p fxFlexOffset="6">Shaft</p>
                        <mat-slide-toggle class="slide" checked></mat-slide-toggle>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="space-between center" class="commonnew" fxFlexOffset="3">
                        <p fxFlexOffset="6">Belt</p>
                        <mat-slide-toggle class="slide" checked></mat-slide-toggle>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="space-between center" class="commonnew" fxFlexOffset="3">
                        <p fxFlexOffset="6">Chain Drive</p>
                        <mat-slide-toggle class="slide" checked></mat-slide-toggle>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="space-between center" class="commonnew" fxFlexOffset="3">
                        <p fxFlexOffset="6">Brush</p>
                        <mat-slide-toggle class="slide" checked></mat-slide-toggle>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="space-between center" class="commonnew" fxFlexOffset="3">
                        <p fxFlexOffset="6">Roller Wheels</p>
                        <mat-slide-toggle class="slide" checked></mat-slide-toggle>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="space-between center" class="commonnew" fxFlexOffset="3">
                        <p fxFlexOffset="6">Guide Rails</p>
                        <mat-slide-toggle class="slide" checked></mat-slide-toggle>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="space-between center" class="commonnew" fxFlexOffset="3">
                        <p fxFlexOffset="6">Speed Governor</p>
                        <mat-slide-toggle class="slide" checked></mat-slide-toggle>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="space-between center" class="commonnew" fxFlexOffset="3">
                        <p fxFlexOffset="6">Controller</p>
                        <mat-slide-toggle class="slide" checked></mat-slide-toggle>
                    </div>
                </div>
                <div fxFlex="5">
                    <mat-divider [vertical]="true"></mat-divider>
                </div>
                <div fxFlex="30" fxLayout="column">
                    <div fxLayout="row" fxLayoutAlign="space-between center">
                        <div fxLayout="column" class="elevationdiv" fxFlexOffset="4">
                            <p>Escalator</p>
                            <p class="lift">Floor 3</p>
                        </div>
                        <img src="../../assets/Images/escalator.png" class="escalator">
                    </div>
                    <div fxLayout="row" fxLayoutAlign="space-between center" class="commonnew">
                        <p fxFlexOffset="6">Motor Bearing</p>
                        <mat-slide-toggle class="slide" checked></mat-slide-toggle>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="space-between center" class="commonnew" fxFlexOffset="3">
                        <p fxFlexOffset="6">Shaft</p>
                        <mat-slide-toggle class="slide" checked></mat-slide-toggle>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="space-between center" class="commonnew" fxFlexOffset="3">
                        <p fxFlexOffset="6">Belt</p>
                        <mat-slide-toggle class="slide" checked></mat-slide-toggle>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="space-between center" class="commonnew" fxFlexOffset="3">
                        <p fxFlexOffset="6">Chain Drive</p>
                        <mat-slide-toggle class="slide" checked></mat-slide-toggle>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="space-between center" class="commonnew" fxFlexOffset="3">
                        <p fxFlexOffset="6">Brush</p>
                        <mat-slide-toggle class="slide" checked></mat-slide-toggle>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="space-between center" class="commonnew" fxFlexOffset="3">
                        <p fxFlexOffset="6">Roller Wheels</p>
                        <mat-slide-toggle class="slide" checked></mat-slide-toggle>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="space-between center" class="commonnew" fxFlexOffset="3">
                        <p fxFlexOffset="6">Guide Rails</p>
                        <mat-slide-toggle class="slide" checked></mat-slide-toggle>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="space-between center" class="commonnew" fxFlexOffset="3">
                        <p fxFlexOffset="6">Speed Governor</p>
                        <mat-slide-toggle class="slide" checked></mat-slide-toggle>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="space-between center" class="commonnew" fxFlexOffset="3">
                        <p fxFlexOffset="6">Controller</p>
                        <mat-slide-toggle class="slide" checked></mat-slide-toggle>
                    </div>
                </div>
            </div>
        </mat-tab>

        <mat-tab>
            <ng-template mat-tab-label class="daily-ngtemplate">
                <div class="label" fxLayout="row" fxLayoutAlign="space-between center">
                    <div fxLayout="column" fxLayoutAlign="start start" class="schedulename">
                        <span class="daily">6 Months Once</span>
                        <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="10px">
                            <span class="pending">Pending</span>
                            <div class="twelve">
                                <span class="pending-numberclass">16</span>
                            </div>
                        </div>
                    </div>

                    <div class="downarrow-image">
                        <img *ngIf="tabindex == 0" src="../../assets/Images/DownArrowDark.svg">
                    </div>
                </div>
            </ng-template>
            <div fxLayout="row" fxFlex="100">
                <div fxFlex="30" fxLayout="column">
                    <div fxLayout="row" fxLayoutAlign="space-between center">
                        <div fxLayout="column" class="elevationdiv" fxFlexOffset="4">
                            <p>Elevation</p>
                            <p class="lift">Lift 1</p>
                        </div>
                        <img src="../../assets/Images/building1.png" class="liftbuilding">
                    </div>
                    <div fxLayout="row" fxLayoutAlign="space-between center" class="commonnew">
                        <p fxFlexOffset="6">Motor Bearing</p>
                        <mat-slide-toggle class="slide" checked></mat-slide-toggle>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="space-between center" class="commonnew" fxFlexOffset="3">
                        <p fxFlexOffset="6">Shaft</p>
                        <mat-slide-toggle class="slide" checked></mat-slide-toggle>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="space-between center" class="commonnew" fxFlexOffset="3">
                        <p fxFlexOffset="6">Belt</p>
                        <mat-slide-toggle class="slide" checked></mat-slide-toggle>
                    </div>

                    <div fxLayout="row" fxLayoutAlign="space-between center" class="commonnew" fxFlexOffset="3">
                        <p fxFlexOffset="6">Brush</p>
                        <mat-slide-toggle class="slide" checked></mat-slide-toggle>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="space-between center" class="commonnew" fxFlexOffset="3">
                        <p fxFlexOffset="6">Steel Wire</p>
                        <mat-slide-toggle class="slide" checked></mat-slide-toggle>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="space-between center" class="commonnew" fxFlexOffset="3">
                        <p fxFlexOffset="6">Sheave Groove</p>
                        <mat-slide-toggle class="slide" checked></mat-slide-toggle>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="space-between center" class="commonnew" fxFlexOffset="3">
                        <p fxFlexOffset="6">Guide Rails</p>
                        <mat-slide-toggle class="slide" checked></mat-slide-toggle>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="space-between center" class="commonnew" fxFlexOffset="3">
                        <p fxFlexOffset="6">Speed Governor</p>
                        <mat-slide-toggle class="slide" checked></mat-slide-toggle>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="space-between center" class="commonnew" fxFlexOffset="3">
                        <p fxFlexOffset="6">Roller Wheels</p>
                        <mat-slide-toggle class="slide" checked></mat-slide-toggle>
                    </div>


                </div>
                <div fxFlex="5">
                    <mat-divider [vertical]="true"></mat-divider>
                </div>
                <div fxFlex="30" fxLayout="column">
                    <div fxLayout="row" fxLayoutAlign="space-between center">
                        <div fxLayout="column" class="elevationdiv" fxFlexOffset="4">
                            <p>Elevation</p>
                            <p class="lift">Lift 2</p>
                        </div>
                        <img src="../../assets/Images/building1.png" class="liftbuilding">
                    </div>
                    <div fxLayout="row" fxLayoutAlign="space-between center" class="commonnew">
                        <p fxFlexOffset="6">Motor Bearing</p>
                        <mat-slide-toggle class="slide" checked></mat-slide-toggle>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="space-between center" class="commonnew" fxFlexOffset="3">
                        <p fxFlexOffset="6">Shaft</p>
                        <mat-slide-toggle class="slide" checked></mat-slide-toggle>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="space-between center" class="commonnew" fxFlexOffset="3">
                        <p fxFlexOffset="6">Belt</p>
                        <mat-slide-toggle class="slide"></mat-slide-toggle>
                    </div>

                    <div fxLayout="row" fxLayoutAlign="space-between center" class="commonnew" fxFlexOffset="3">
                        <p fxFlexOffset="6">Brush</p>
                        <mat-slide-toggle class="slide"></mat-slide-toggle>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="space-between center" class="commonnew" fxFlexOffset="3">
                        <p fxFlexOffset="6">Steel Wire</p>
                        <mat-slide-toggle class="slide"></mat-slide-toggle>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="space-between center" class="commonnew" fxFlexOffset="3">
                        <p fxFlexOffset="6">Sheave Groove</p>
                        <mat-slide-toggle class="slide"></mat-slide-toggle>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="space-between center" class="commonnew" fxFlexOffset="3">
                        <p fxFlexOffset="6">Guide Rails</p>
                        <mat-slide-toggle class="slide" checked></mat-slide-toggle>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="space-between center" class="commonnew" fxFlexOffset="3">
                        <p fxFlexOffset="6">Speed Governor</p>
                        <mat-slide-toggle class="slide" checked></mat-slide-toggle>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="space-between center" class="commonnew" fxFlexOffset="3">
                        <p fxFlexOffset="6">Roller Wheels</p>
                        <mat-slide-toggle class="slide" checked></mat-slide-toggle>
                    </div>
                </div>
                <div fxFlex="5">
                    <mat-divider [vertical]="true"></mat-divider>
                </div>
                <div fxFlex="30" fxLayout="column">
                    <div fxLayout="row" fxLayoutAlign="space-between center">
                        <div fxLayout="column" class="elevationdiv" fxFlexOffset="4">
                            <p>Elevation</p>
                            <p class="lift">Lift 3</p>
                        </div>
                        <img src="../../assets/Images/building1.png" class="liftbuilding">
                    </div>
                    <div fxLayout="row" fxLayoutAlign="space-between center" class="commonnew">
                        <p fxFlexOffset="6">Motor Bearing</p>
                        <mat-slide-toggle class="slide"></mat-slide-toggle>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="space-between center" class="commonnew" fxFlexOffset="3">
                        <p fxFlexOffset="6">Shaft</p>
                        <mat-slide-toggle class="slide"></mat-slide-toggle>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="space-between center" class="commonnew" fxFlexOffset="3">
                        <p fxFlexOffset="6">Belt</p>
                        <mat-slide-toggle class="slide"></mat-slide-toggle>
                    </div>

                    <div fxLayout="row" fxLayoutAlign="space-between center" class="commonnew" fxFlexOffset="3">
                        <p fxFlexOffset="6">Brush</p>
                        <mat-slide-toggle class="slide"></mat-slide-toggle>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="space-between center" class="commonnew" fxFlexOffset="3">
                        <p fxFlexOffset="6">Steel Wire</p>
                        <mat-slide-toggle class="slide"></mat-slide-toggle>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="space-between center" class="commonnew" fxFlexOffset="3">
                        <p fxFlexOffset="6">Sheave Groove</p>
                        <mat-slide-toggle class="slide"></mat-slide-toggle>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="space-between center" class="commonnew" fxFlexOffset="3">
                        <p fxFlexOffset="6">Guide Rails</p>
                        <mat-slide-toggle class="slide"></mat-slide-toggle>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="space-between center" class="commonnew" fxFlexOffset="3">
                        <p fxFlexOffset="6">Speed Governor</p>
                        <mat-slide-toggle class="slide"></mat-slide-toggle>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="space-between center" class="commonnew" fxFlexOffset="3">
                        <p fxFlexOffset="6">Roller Wheels</p>
                        <mat-slide-toggle class="slide"></mat-slide-toggle>
                    </div>
                </div>
            </div>
        </mat-tab>

        <mat-tab>
            <ng-template mat-tab-label class="daily-ngtemplate">
                <div class="label" fxLayout="row" fxLayoutAlign="space-between center">
                    <div fxLayout="column" fxLayoutAlign="start start" class="schedulename">
                        <span class="daily">Yearly</span>
                        <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="10px">
                            <span class="pending">Pending</span>
                            <div class="twelve">
                                <span class="pending-numberclass">26</span>
                            </div>
                        </div>
                    </div>

                    <div class="downarrow-image">
                        <img *ngIf="tabindex == 0" src="../../assets/Images/DownArrowDark.svg">
                    </div>
                </div>
            </ng-template>
            <div fxLayout="row" fxLayoutAlign="center center">
                <img src="../../assets/Images/yearly.png" class="yearly">
            </div>
        </mat-tab>
    </mat-tab-group>

</div>