*{
    font-family: 'poppins';
}
.addbtndiv{
    margin: 10px 0 0 0;
}
.addbtndiv > p{
margin: 5px 0 0 0;
font-weight: 600;
}
.gearimg{
    // margin: -5px 0 0 0;
    transform: scale(0.6);
}
.addtxt{
    color: #26009c;
    font-size: 12px;
    font-weight: 600;
    /* font-family: Helvetica; */
    position: relative;
    top: -5px;
}
.addbtn{
    height: 28px;
    background-color: #f9f8fe;
    border-radius: 4px;
}
.togglediv{
    margin: 10px 0 0 0;
    
}
.maintainmode{
    color: #0d0c22;
    font-size: 12px;
    font-family: 'poppins-semi' !important;
    font-weight: 600;
}
.toggle{
    top: 2px;
}
 .parent .mat-slide-toggle-thumb{
    height: 21px;
    width: 21px;
    position: relative;
    top: 1px;
    border-radius: 50%;
}
 .parent .mat-slide-toggle-bar{
    width: 50px;
    height: 18px;
}
 .parent .mat-slide-toggle .mat-slide-toggle-thumb {
    background-color: white !important;
}   
 .parent  .mat-slide-toggle .mat-slide-toggle-bar {
    background-color:  lightblue;
}
 .parent .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
    background-color: #3ec725 !important;
    margin-left: 18px;
    transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}   
 .parent  .mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
    background-color:  #93ff80;
}

 .parent .mat-slide-toggle.mat-checked .mat-slide-toggle-bar::after {
        content: 'ON';
        font-size: 12px;
        font-weight: 600;
        color: black;
        position: absolute;
        left: 8px;
        top: -2px;
    }
 .parent .mat-slide-toggle:not(.mat-checked) .mat-slide-toggle-bar::after {
    content: 'OFF';
    font-size: 12px;
    font-weight: 600;
    color: black;
    position: absolute;
    left: 22px;
    top: -2px;
    }
mat-tab-group{
    width: 100%;
    height: 100%;
    padding: 5px;
}
 .mat-tab-label{
        min-width: 25% !important;
        padding: 0 !important;
        text-align: left !important;
        border: 1px solid  #f3f3f4;
        min-height: 56px;
        height: 66px;
        color: transparent;
       
    }
     .mat-tab-label-content{
    width: 100% !important;
}
.label{
    width: 100% !important;
}
 .mat-tab-labels{
    place-content: space-between;
}
 .mat-tab-labels .mat-tab-label{
    opacity: 0.4;
}
 .mat-tab-labels .mat-tab-label-active{
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
    border: solid 1px #0d0c22;
    opacity: 1;
    border-radius: 4px;
    .label{
        background-color: #ffffff;
        .daily{
            color: #0d0c22 !important;
            font-weight: 600 !important;
        }
        .pending{
            color: #6e6d7a;
        }
        .twelve{
            background-color: #e2e2e2;
            .pending-numberclass{
                color: #6e6d7a;
            }
        }
    }
}
 .mat-tab-header{
    border-bottom: none !important;
    height: 80px;
}
 .mat-tab-label:hover{

}
.mat-tab-header-pagination-controls-enabled .mat-tab-header-pagination {
     display: none !important;
}
 .mat-ink-bar{
    display: none;
}
.downarrow{
  opacity: 0.7 !important;
}
.daily{
    color: #6e6d7a !important;
    font-weight: 600;
    font-family: 'poppins-semi' !important;
    font-size: 10px;
}
.pending{
    color: #c2bedf;
    font-family: 'poppins-semi' !important;
    font-size: 10px;
    font-weight: 600;
}

.twelve{
    width: 30px;
    border-radius: 4px;
    text-align: center;
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
    height: 20px;
}
.pending-numberclass{
    text-align: center;
    font-size: 10px;
    color: #c2bedf;
    font-family: 'poppins-semi' !important;
}
.newdiv{
    background-color:  rgb(0, 186, 83,0.1);
  height: 23px;
  text-align: center;
  border-radius: 4px;
}
.newdiv > span{
    color:   #00ba53;
    font-size: 10px;
    text-align: center;
    font-family: 'poppins-semi' !important;
}



.escalator{
    width: 30%;
height: auto;
position: relative;
right: 10%;
}

.common > p{
    margin: 10px 0 0 0;
    font-weight: 600;
    color: #6e6d7a;
}

.divider-elevator{
    color: #f9f9f9;
    width: 2px;
    height: 60%;
    position: relative;
    top: 25%;
    left: 42.5%;
}
.yearly{
   width: 30%;
   height: auto;
}
.vr{
    border-bottom: 2px solid  #f9f9f9;
    width: 80%;
    position: relative;
    left: 10%;
    top:30px;
}
 .mat-tab-body-wrapper {
    height: 100%; 
    padding-right: 10px;
}
.whole{
    height: 100%;
    padding-top: 5px;
}
.maintenance-span{
    color: #0d0c22;
    font-size: 12px;
    font-family: 'poppins-semi' !important;
}
.downarrow-image{
    transform: scale(0.8);
    padding-top: 5px;
}
.label{
    padding: 14px;
}
.daily-templatediv-1{
    .daily-templatediv-innerdiv1{
        .daily-templatediv-nesteddiv1{
            padding-left: 10px;
            .elevator-topdiv{
                height: 100px !important;
                .elevationdiv{
                    .elevation-span{
                        color: #0d0c22;
                        font-size: 16px;
                        font-family: 'poppins-semi' !important;
                        font-weight: 700;
                    }
                    .lift{
                        color: #6e6d7a;
                        font-size: 12px;
                        font-family: 'poppins-semi' !important;
                    }
                    
                }
                .liftbuilding{
                    // width: 40%;
                    // height: auto;
                    transform: scale(0.5);
                    position: relative;
                }
            }

            .buttons-elevator{
                padding-top: 10px;
                width: 100%;
                height: 100%;
                .buttons-span-elevator{
                    font-size: 10px;
                    color: #0d0c22;
                    font-family: 'poppins-semi' !important;
                }
                .toggle-slide-elevator{
                    text-align: right !important;
                    justify-content: right;
                    justify-self: right;
                    .slide{
                        right: 10%;
                    } 
                }
                              
                .commonnew{
                    text-align: left !important;
                    justify-content: left;
                    justify-self: left;
                    width: 100%;
                }
                .commonnew .mat-slide-toggle-thumb{
                    height: 100%;
                    width: 100%;
                    position: relative;
                    top: 3px;
                    border-radius: 50%;
                }
                 .commonnew .mat-slide-toggle-bar{
                    width: 90px;
                    height: 20px;
                    border-radius: 12px;
                }
                
                 .commonnew .mat-slide-toggle .mat-slide-toggle-ripple {
                    opacity: 0 !important;
                }
                 .commonnew .mat-slide-toggle .mat-slide-toggle-thumb {
                    background-color: #f73c3c !important;
                    transition: 0.5s;
                }   
                 .commonnew  .mat-slide-toggle .mat-slide-toggle-bar {
                    background-color:  #ffafaf;
                }
                 .commonnew .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
                    background-color: #3ec725 !important;
                    margin-left: 265%;
                    transition: 0.5s;
                }   
                 .commonnew  .mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
                    background-color:  #b0e2a8;
                }
                
                 .commonnew .mat-slide-toggle.mat-checked .mat-slide-toggle-bar::after {
                        content: 'Done';
                        font-size: 10px;
                        font-weight: 600;
                        line-height: 2;
                        color: #3ec725;
                        position: absolute;
                        left: 35%;
                    }
               .commonnew .mat-slide-toggle:not(.mat-checked) .mat-slide-toggle-bar::after {
                    content: 'Pending';
                    font-size: 10px;
                    font-weight: 600;
                    line-height: 2;
                    color: #f73c3c;
                    position: absolute;
                    left: 35%;
                }
            }
        }
    }
}
