.dialog-content-wrapper {
    max-height: 90vh;
    display: flex;
    flex-direction: column;
  }
  .content{
    padding: 24px;
    margin: 0;
}
.footer{
    // box-shadow: 0 2px 18px 0 rgba(74, 122, 255, 0.38);
    background-color: #fdfdfd;
    height: 56px;
    margin: 0;
    padding: 16px;
  }
  .savebtn{
    background-color: #4410ff !important;
    color: #ffffff !important;
    font-size: 10px;
  }
  .mat-dialog-container {
    display: block;
     padding: 0px; 
    border-radius: 4px;
    box-sizing: border-box;
    overflow: auto;
    outline: 0;
    width: 100%;
    height: 100%;
    min-height: inherit;
    max-height: inherit;
}
.mat-dialog-container {
    padding: 0;
    border-radius: 4px;
  }
  .toolbar{
    background-color: #f4f4fb;
    height: 56px;
    margin-top: -22px !important;
    margin-left: -22px;
    /* margin-right: 15px; */
    width: 429px;
  }
  .content_text
  {
    font-size: 12px;
    font-weight: 700;
  }
  .title
  {
    font-size: 15px;
    font-weight: 600;
  }
  .btn
  {
    margin-right: 8px;
    width: 10px;
    height: 33px;
  }