
.close-dialog{
  width: 540px;
  .poppins{
    font-family: poppins-semi;
  }
  .mat-dialog-container {
    padding: 0;
    border-radius: 4px;
  }
.content{
    padding: 24px;
    margin: 0;
    font-size: 11px;
    font-weight: 700;
    .content-body{
      color: #0c0c1dde;
    }
}
  .dialog-content-wrapper {
    max-height: 90vh;
    display: flex;
    flex-direction: column;
  }
  .toolbar{
    background-color: #fff;
    height: 48px;
    box-shadow: 0 3px 3px 0px #00000014;
  }
  .title{
      @extend .poppins;
      font-size: 14px;
      color: #2c2c2e;
  }
  .closeimages{
    cursor: pointer;
    width: 9px;
    justify-content: right;
    text-align: right;
    align-items: flex-end;
}
  .footer{
    // box-shadow: 0 2px 18px 0 rgba(74, 122, 255, 0.38);
    background-color: #ffffff;
    min-height: 48px;
    margin: 0;
    padding: 0 16px;
    box-shadow: 0 -3px 3px 0px #00000014;
  }
  .savebtn{
    background-color: #4410ff !important;
    color: #ffffff !important;
    
  }
  .btn{
    // margin-right: 8px;
    height: 29px;
    line-height: inherit;
    font-size: 10px;
  }
  .list{
    padding: 10px;
    margin:8px;
    background-color: #ebe5ff;
    word-wrap: break-word;
    cursor: pointer;
    border-radius: 4px;
  }
  .list:hover{
    border: 2px solid #5f2cff !important;
  }
  .signin{
    color: #5f2cff;
    text-decoration: underline;
    cursor: pointer;
  }
  .form{
      padding: 0 16px;
      .fields{
        font-size: 12px;
        @extend .poppins;
      }
  }
  .radio-group{
    margin-bottom: 24px;
    .radio{
      font-size: 12px;
      @extend .poppins;
    }
  }
}
