<div fxLayout="row" fxFlex="100" fxLayoutGap="30px" style="font-size: 12px;">
    <div fxFlex="5"></div>

    <div fxFlex="30" fxLayout="column" fxLayoutGap="20px">
        <div fxLayout="row" fxLayoutGap="15px">
            <img src="../../assets/technician.svg">
            <p class="tech">Technician</p>
        </div>
        <div class="divider_row"></div>
        <div fxLayoutGap="15px">
            <div fxLayout="row" class="tempdiv" fxLayoutGap="10px">
                <img src="../../assets/ArrowMenu.svg" class="logo">
                <img class="temp" src="../../assets/Temperature.svg">
                <p class="temptxt">Temperature</p>
            </div>
            <div fxLayout="row" class="tempdiv" fxLayoutGap="10px">
                <img src="../../assets/ArrowMenu.svg" class="logo">
                <img class="caution" src="../../assets/caution.svg">
                <p class="temptxt">Caution</p>
            </div>
            <div fxLayout="row" class="tempdiv" fxLayoutGap="10px">
                <img src="../../assets/ArrowMenu.svg" class="logo">
                <img class="ac" src="../../assets/AC.svg">
                <p class="temptxt">AC</p>
            </div>
        </div>
    </div>

    <div fxFlex="30" fxLayout="column" fxLayoutGap="20px">
        <div fxLayout="row" fxLayoutGap="15px">
            <img src="../../assets/technician.svg">
            <p class="mailtxt">Mail</p>
        </div>
        <div class="divider_row"></div>
        <div fxLayoutGap="15px">
            <div fxLayout="row" class="tempdiv" fxLayoutGap="10px">
                <img src="../../assets/ArrowMenu.svg" class="logo">
                <img class="order" src="../../assets/notification.svg">
                <p class="temptxt">Notification</p>
            </div>
            <div fxLayout="row" class="tempdiv" fxLayoutGap="10px">
                <img src="../../assets/ArrowMenu.svg" class="logo">
                <img class="order" src="../../assets/Order.svg">
                <p class="temptxt">Order</p>
            </div>
        </div>
    </div>

    <div fxFlex="30" fxLayout="column" fxLayoutGap="20px">
        <div fxLayout="row" fxLayoutGap="15px">
            <img src="../../assets/technician.svg">
            <p class="create">Create</p>
        </div>
        <div class="divider_row"></div>

        <div fxLayoutGap="15px">
        <div fxLayout="row" class="tempdiv" fxLayoutGap="10px">
            <img src="../../assets/ArrowMenu.svg" class="logo">
            <img class="crate" src="../../assets/Create.svg">
            <p class="temptxt" (click)="Finishpopup()">Create</p>
        </div>
        <div fxLayout="row" class="tempdiv" fxLayoutGap="10px">
            <img src="../../assets/ArrowMenu.svg" class="logo">
            <img class="crate" src="../../assets/Copy.svg">
            <p class="temptxt">Copy</p>
        </div>
        <div fxLayout="row" class="tempdiv" fxLayoutGap="10px">
            <img src="../../assets/ArrowMenu.svg" class="logo">
            <img class="crate" src="../../assets/new.svg">
            <p class="temptxt">New</p>
        </div>
        <div fxLayout="row" class="tempdiv" fxLayoutGap="10px">
            <img src="../../assets/ArrowMenu.svg" class="logo">
            <img class="crate" src="../../assets/edit.svg">
            <p class="temptxt">Edit</p>
        </div>
    </div>
    </div>
    <div fxFlex="5"></div>
</div>