<div style="width:100%;height:90%;padding-top:15px" fxLayout="column">

    <div fxLayout="column">
        <div fxLayoutAlign="center center" fxLayout="row" fxLayoutGap="20px">
            <div [ngClass]="Lift==true?'tab1':'tab'" style="cursor: pointer;" fxLayout="column"
                fxLayoutAlign="center center" (click)="lift()">
                <div>
                    <img height="25px" [src]="Lift==true? 'assets/lift2.svg':'assets/lift1.svg'">
                </div>
                <div class="elevator-span-div">
                    Elevator
                </div>
            </div>
            <div [ngClass]="Escalator==true?'tab1':'tab'" style="cursor: pointer;" fxLayout="column"
                fxLayoutAlign="center center" (click)="escalator()">
                <div>
                    <img height="25px" [src]="Escalator==true?'assets/escalator1.svg':'assets/escalator.svg'">
                </div>
                <div class="elevator-span-div">
                    Escalator
                </div>
            </div>
            <div class="tab" fxLayout="column" fxLayoutAlign="center center">
                <div>
                    <img height="25px" src="assets/Group 8237.svg">
                </div>
                <div class="elevator-span-div">
                    Add
                </div>
            </div>
        </div>
        <div *ngIf="Lift" fxLayout="column" style="padding:  5% 6%;">
            <div class="label lift" style="margin-bottom: 15px;">
                Lift Control System
            </div>
            <div fxLayout="row">
                <div fxFlex="30">
                    <div fxFlex="50" fxLayout="column" fxLayoutGap="15px">
                        <div class="label23">
                            Type
                        </div>
                        <div class="label23">
                            Motor
                        </div>
                        <div class="label23">
                            Temperature
                        </div>
                        <div class="label23">
                            System Voltage
                        </div>
                        <div class="label23">
                            Guide Shoes
                        </div>
                        <div class="label23">
                            Suspension Rope
                        </div>
                        <div class="label23">
                            Compensation
                        </div>
                        <div class="label23">
                            Ventilation Fan
                        </div>
                        <div class="label23">
                            Capacity
                        </div>
                        <div class="label23">
                            Weight
                        </div>
                        <div class="label23">
                            Emergency Switch
                        </div>
                    </div>
                    <div fxFlex="50" fxLayout="column" fxLayoutGap="15px" *ngFor="let e of elevator">
                        <div class="label23_1">
                            {{e.type}}
                        </div>
                        <div class="label23_1">
                            {{e.motor}}
                        </div>
                        <div class="label23_1">
                            {{e.temperature}}
                        </div>
                        <div class="label23_1">
                            {{e.systemVoltage}}
                        </div>
                        <div class="label23_1">
                            {{e.guideShoes}}
                        </div>
                        <div class="label23_1">
                            {{e.suspensionRope}}
                        </div>
                        <div class="label23_1">
                            {{e.compensation}}
                        </div>
                        <div class="label23_1">
                            {{e.ventilationFab}}
                        </div>
                        <div class="label23_1">
                            {{e.capacity}}
                        </div>
                        <div class="label23_1">
                            {{e.weight}}
                        </div>
                        <div class="label23_1">
                            {{e.energencySwitch}}
                        </div>
                    </div>
                </div>
                <div fxFlex="70" style="padding: 50px;height: 300px;">
                    <img [src]="imgSrc" width="100%" height="150%" (mouseover)="onMouseOver()"
                        (mouseout)="onMouseOut()">
                </div>
            </div>
        </div>
        <div *ngIf="Escalator" fxLayout="column" style="padding:  5% 6%;">
            <div class="label lift" style="margin-bottom: 15px;">
                Escalator Control System
            </div>
            <div fxLayout="row">
                <div fxFlex="30">
                    <div fxFlex="50" fxLayout="column" fxLayoutGap="15px">
                        <div class="label23">
                            Motor
                        </div>
                        <div class="label23">
                            System Voltage
                        </div>
                        <div class="label23">
                            Guide Roller
                        </div>
                        <div class="label23">
                            Capacity
                        </div>
                        <div class="label23">
                            Weight
                        </div>
                        <div class="label23">
                            Speed
                        </div>
                        <div class="label23">
                            Inclination
                        </div>
                        <div class="label23">
                            Emergency Btn
                        </div>

                    </div>
                    <div fxFlex="50" fxLayout="column" fxLayoutGap="15px" *ngFor="let ele of esclator">
                        <div class="label23_1">
                            {{ele.motor}}
                        </div>
                        <div class="label23_1">
                            {{ele.systemVoltage}}
                        </div>
                        <div class="label23_1">
                            {{ele.guideRollers}}
                        </div>
                        <div class="label23_1">
                            {{ele.capacity}}
                        </div>
                        <div class="label23_1">
                            {{ele.weight}}
                        </div>
                        <div class="label23_1">
                            {{ele.speed}}
                        </div>
                        <div class="label23_1">
                            {{ele.inclination}}
                        </div>
                        <div class="label23_1">
                            {{ele.energencySwitch}}
                        </div>

                    </div>
                </div>
                <div fxFlex="70" style="padding: 50px;height: 300px;">
                    <img [src]="imgSrc1" width="100%" height="150%" (mouseover)="onMouseOver1()"
                        (mouseout)="onMouseOut2()">
                </div>
            </div>
        </div>

    </div>



</div>