.dialog-content-wrapper {
    max-height: 90vh;
    display: flex;
    flex-direction: column;
  }
  .toolbar{
    background-color: white;
    height: 12px;
  }
  .div_toolbar
  {
    text-align-last: end;
  }
  .img_div
  {
    height: 100%;
    text-align-last: center;
    // margin-top: 70px;
  }
  .fontcolor_dark
  {
    color: #0d0c22;
    font-family: 'poppins-semi';
    font-size: 10px;
    font-weight: bold;
  }
  .placeholdertext{
    font-size: 10px;
    font-family: 'poppins-semi' !important;
  }
  .placeholdertext::placeholder{
    font-size: 10px !important;
    font-family: 'poppins-semi' !important;
    color: #0d0c22 !important;
  }
  ::placeholder {
    color: #596069;
    font-size: 10px !important;
}
::-webkit-input-placeholder{
  color: #596069;
    font-size: 10px;
}
.selectoptionclass{
  color: #9ba0a5;
  font-size: 10px !important;
  font-family: 'poppins-semi' !important;
}
  .empty_img
  {
    height: 295px;
    margin-top: 84px;

  }
  .outer
  {
    margin-top: 17px;
    height: 100%;
  }
  .form_field_cls
  {
      width:100%;
      font-family: 'poppins-semi';
  }
  .form_field_cls1
  {
    width: 63%;
    font-family: 'poppins-semi';
    margin-top: -16px;
  }
  .formspan
  {
    align-self: center;
    margin-right: 13px;
  }
  .shift_btn
  {
      
    background-color: #4410ff;
    color: white;
    width: 38%;
    height: 28px;
    line-height: normal;
    font-size: 10px;
    font-family: 'poppins-semi' !important;


  }
  .close_hover{
    cursor: pointer;
}
.mat-form-field-appearance-outline .mat-form-field-infix {
  padding: 0.3em 0 1em 0 !important;
}

// width: 17%;
//         height: 28px;
//         line-height: normal;
//         font-size: 10px;
//         font-family: 'poppins-semi' !important;