.dialog-content-wrapper {
    max-height: 90vh;
    display: flex;
    flex-direction: column;
  }
  .toolbar{
    background-color: white;
    height: 12px;
  }
  .div_toolbar
  {
    text-align-last: end;
  }
  .img_div
  {
    height: 100%;
    text-align-last: center;
    // margin-top: 70px;
  }
  .fontcolor_dark
  {
    color: #0d0c22;
    font-family: 'poppins-semi';
    font-size: 12px;
    font-weight: bold;
  }
  .placeholdertext{
    font-size: 12px;
    font-family: 'poppins-semi' !important;
  }
  .placeholdertext::placeholder{
    font-size: 10px !important;
    font-family: 'poppins-semi' !important;
    color: #0d0c22 !important;
  }
  .empty_img
  {
    height: 295px;
    margin-top: 84px;

  }
  .outer
  {
    margin-top: 17px;
    height: 100%;
  }
  .form_field_cls
  {
      width:100%;
      font-family: 'poppins-semi';
  }
  .form_field_cls1
  {
    width: 63%;
    font-family: 'poppins-semi';
  }
  .formspan
  {
    align-self: center;
    margin-right: 13px;
  }
  .shift_btn
  {
      
    background-color: #4410ff;
    color: white;
    width: 38%;
    font-size: 11px;


  }
  .close_hover{
    cursor: pointer;
}