<div class="dialog-content-wrapper">
    
    <!-- <mat-toolbar class="toolbar" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="8px">
        <span class="vacatespan">
            Shift Confirmation
        </span>
        <img (click)="close()" class="closeimages" src="assets/Close.svg">
    </mat-toolbar> -->
    <mat-toolbar class="shifttoolbar" fxLayout="row" fxLayoutAlign="space-between center">
        <label class="title">Shift Confirmation</label>
        
        <img class="close_hover close" src="assets/Close.svg" (click)="close()">
    </mat-toolbar>
    <mat-dialog-content class="content" fusePerfectScrollbar>
        <div fxLayout="row">
            <div fxFlex="50" class="img_div">
                <img src="assets/Empty-cuate.png" class="empty_img">
            </div>
            <div fxLayout="column" class="outer" fxLayoutAlign="start" fxFlex="50">
                <div fxFlex="100" fxLayout="column">
                    <form [formGroup]="ShiftConformationForm" fxLayout="column" style="width: 100%;" fxLayoutGap="10px">
                        <div fxLayout="column">
                            <div fxFlex="18">
                                <p class="fontcolor_dark">Penalty</p>
                            </div>
                            <mat-form-field appearance="outline" class="form_field_cls">
                                <input matInput placeholder="Enter penality if any" autocomplete="off" formControlName="Penalty"
                                    type="number" class="forminputedit" (keydown)="decimalOnly($event)">
                                <mat-error *ngIf="ShiftConformationForm.get('Penalty').hasError('required')"
                                    class="erroredits">
                                    Penalty is required
                                </mat-error>
                                <mat-error *ngIf="ShiftConformationForm.controls['Penalty'].hasError('invalidName')"
                                    class="erroredits">
                                    No special character
                                </mat-error>
                                <mat-error *ngIf="ShiftConformationForm.get('Penalty').touched && !ShiftConformationForm.get('Penalty').hasError('required')
                            &&ShiftConformationForm.get('Penalty').hasError('pattern')" class="erroredits">
                                    Enter a valid amount
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div fxLayout="row" fxFlex="100" fxLayoutGap="10px" fxLayoutAlign="start center">
                            <div fxLayout="row" fxFlex="100" fxLayoutAlign="start center" class="label_connect">
                                <span class="formspan fontcolor_dark" fxFlex="20">From</span>
                                <mat-form-field appearance="standard" fxFlex="80">
                                    <!-- style="align-self: self-end;" -->
                                    <mat-select formControlName="From" class="selectoptionclass">
                                        <mat-option *ngFor="let option of fromToOptions" [value]="option"
                                            class="forminputedit">
                                            {{option}}</mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="ShiftConformationForm.get('From').hasError('required')"
                                        class="erroredits">
                                        Select an option
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <!-- <div fxFlex="56" fxLayout="row">
                                <span class="formspan fontcolor_dark" style="align-self: center;
                                margin-right: 14px;">To</span>
                                <mat-form-field appearance="standard" style="align-self: self-end;"
                                    class="form_field_cls1">
                                    <mat-select formControlName="To" class="selectoptionclass">
                                        <mat-option *ngFor="let option of fromToOptions" [value]="option"  class="forminputedit">
                                            {{option}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div> -->
                        </div>


                        <div fxLayout="column">
                            <div fxFlex="18">
                                <p class="fontcolor_dark">Remarks</p>
                            </div>
                            <mat-form-field appearance="outline" class="form_field_cls">
                                <textarea matInput
                                cdkTextareaAutosize
                                #autosize="cdkTextareaAutosize"
                                cdkAutosizeMinRows="3"
                                cdkAutosizeMaxRows="100" placeholder="Enter Remarks" formControlName="Remarks"
                                    class="forminputedit textareaclass"></textarea>
                                <mat-error *ngIf="ShiftConformationForm.get('Remarks').hasError('required')"
                                    class="erroredits">
                                    Enter Remarks
                                </mat-error>
                            </mat-form-field>
                        </div>

                        <button mat-raised-button class="savebtn" type="button" class="shift_btn close_hover"
                            (click)="Save()">Confirm Shift</button>
                    </form>
                </div>

            </div>
        </div>
    </mat-dialog-content>
</div>