<mat-drawer-container style="height: 100%;">
    <mat-drawer mode="side" opened class="size" style="border-right: 1px solid rgb(242, 242, 242);">
        <div fxLayout="row" fxLayoutAlign=" none" fxFlex="100">


            <div (window:resize)="onResize($event)" *ngIf="fullmenu" fxFlex="45" fxLayout="column" fxLayoutAlign="none"
                class="sidenav_1">
                <div> <img [@fadeSlideInOut]='state' class="ara_img" src="./assets/ara_img.png"></div>

                <div class="menu">Menu</div>


                <div fxLayout="row" [ngClass]="overview_bool==true?'inner_menus_home_highlight':'dashboard'" (click)="home_clik()">
                    <div style="margin-left: 9%;">
                        <img style="width: 14px;vertical-align: middle;"  *ngIf="overview_bool==false" src="./assets/dashboard_icon.svg">
                        <img style="width: 14px;vertical-align: middle;" *ngIf="overview_bool==true" src="./assets/dashboard_icon_blue.svg">

                    </div>
                    <div  [ngClass]="overview_bool==true?'inner_menus_highlight':'inner_menus'" style="margin-left: 20%;">Home</div>
                </div>

                <div fxLayout="row" class="inner_menus_home" >
                    <div style="margin-left: 9%;">
                        <img style="width: 14px;vertical-align: middle;" src="./assets/models.svg">
                    </div>
                    <div class="inner_menus" style="margin-left: 20%;">Models</div>
                </div>

                <div fxLayout="row" class="inner_menus_home">
                    <div style="margin-left: 9%;">
                        <img style="width: 14px;vertical-align: middle;" src="./assets/rental_icon.svg">
                    </div>
                    <div class="inner_menus" style="margin-left: 20%;">Rental</div>
                </div>


                <div style="margin-top: 10%;" fxLayout="row" fxLayoutAlign="center center">
                    <mat-divider class="divider"></mat-divider>
                </div>


                <div style="margin-top: 10%;margin-left: 12%;" class="menu">Others</div>


                <div fxLayout="row" class="dashboard">
                    <div style="margin-left: 9%;">
                        <img style="width: 14px;vertical-align: middle;" src="./assets/chatbot_icon.svg">
                    </div>
                    <div class="inner_menus" style="margin-left: 20%;">Chat Bot</div>
                </div>

                <div fxLayout="row" class="inner_menus_home">
                    <div style="margin-left: 9%;">
                        <img style="width: 14px;vertical-align: middle;" src="./assets/privacy_icon.svg">
                    </div>
                    <div class="inner_menus" style="margin-left: 20%;">Privacy Policy</div>
                </div>
                <!-- <div fxLayout="row" class="inner_menus_home" (click)="isLeasemanagement=!isLeasemanagement;"> -->
                <div fxLayout="row" (click)="leaseclk()" [ngClass]="overview_bool==false?'inner_menus_home_highlight':'inner_menus_home'" >

                    <div style="margin-left: 9%;">
                        <img style="width: 14px;vertical-align: middle;" *ngIf="overview_bool==true" src="./assets/date-expired_ash.svg">
                        <img style="width: 14px;vertical-align: middle;" *ngIf="overview_bool==false" src="./assets/date-expired_blue.svg">
                    </div>
                    <div  [ngClass]="overview_bool==false?'inner_menus_highlight':'inner_menus'" style="margin-left: 20%;">Lease Management</div>
                </div>
                <div>
                    <img class="building" src="./assets/building.png">
                </div>
                <div fxLayout="column" fxLayoutAlign="center center">
                    <div class="content_sidenav">
                        Buy Pro Account to explore
                    </div>
                    <div class="content_sidenav1">
                        Premium Features
                    </div>
                    <button mat-flat-button class="send_btn" style="cursor: pointer;" color="primary">Purchase
                        Now!</button>
                </div>
                <div fxLayout="row" style="margin: 8px 10px 0px 41px;">
                    <div fxFlex="10">
                        <img src="./assets/logout_ash.svg" style="width: 9px;">
                    </div>
                    <div fxFlex="10" style="    color: #394256;
                   font-size: 11px;cursor: pointer;" (click)="logout()">
                        Logout
                    </div>
                </div>
                <div style="bottom: 0px;right: 0px;margin:5px ;">
                    <img style="float: right;width: 12px;cursor: pointer;" (click)="slidemenuforbig()"
                        src="./assets/slide_close_arrow.svg">
                </div>
            </div>
            <div @fadeSlideInOut_one *ngIf="shortmenu" fxLayout="column" fxFlex="10" fxLayoutAlign="start center"
                class="sidenav_1_short ">
                <div>
                    <img style="width: 18px;margin-top:12px;" src="./assets/short_ara.png">
                </div>
                <div style="margin-top:60px ;">
                    <img class="small_icons" matTooltipClass='red-tooltip' matTooltip="Home"
                        [matTooltipPosition]="'right'" src="./assets/dashboard_icon.svg">
                </div>
                <div style="margin-top:15px ;">
                    <img class="small_icons_selected" matTooltipClass='red-tooltip' matTooltip="Models"
                        [matTooltipPosition]="'right'" src="./assets/models.svg">
                </div>
                <div style="margin-top:15px ; " fxLayout="row" fxLayoutAlign="center center">
                    <img class="small_icons" matTooltipClass='red-tooltip' matTooltip="Rental"
                        [matTooltipPosition]="'right'" src="./assets/rental_icon.svg">
                </div>

                <div style="margin-top: 15px;" fxLayout="row" fxLayoutAlign="center center">
                    <mat-divider class="divider_small"></mat-divider>
                </div>

                <div style="margin-top:15px ;">
                    <img class="small_icons" matTooltipClass='red-tooltip' matTooltip="Chatbot"
                        [matTooltipPosition]="'right'" src="./assets/chatbot_icon.svg">
                </div>
                <div style="margin-top:15px ;">
                    <img class="small_icons" src="./assets/privacy_icon.svg">
                </div>


                <div style="position: absolute;bottom: 0px;margin-bottom: 10px;" fxLayout="row"
                    fxLayoutAlign="center center">
                    <img style="width: 12px;cursor: pointer;" (click)="slidemenuforsmall()"
                        src="./assets/slide_close_arrow.svg">
                </div>
            </div>


            <!-- sidenav 2 starts here -->
            <div fxLayout="column" class="sidenav_2" fxFlex>
                <div fxLayout="row" fxLayoutAlign="space-between center" class="model_bg" style=" height: 7%;">
                    <div fxLayout="row" style="margin-left: 10%;">
                        <img style="width: 16px;vertical-align: middle;" src="./assets/Models_top.svg">
                        <div class="models">Models</div>
                    </div>

                    <div><img class="main_model" src="./assets/down_arrow1.svg"></div>
                </div>
                <div *ngIf="!sidemenu">
                    <div class="menu" style="margin: 5% 0% 0% 8%;">
                         Sites
                    </div>
                    <div style="margin-top: 5%;" fxLayout="row" fxLayoutAlign="center center">
                        <mat-divider class="divider2"></mat-divider>
                    </div>
                    <div fxLayoutAlign="center center">
                        <div fxLayout="row" class="main_input_field" fxLayoutAlign="space-between center">
                            <div>
                                <img style="vertical-align: -webkit-baseline-middle;
                                width: 24px;" src="./assets/search.svg">
                            </div>
                            <div>
                                <input class="input_field" [(ngModel)]="voiceText" matInput
                                    placeholder="Search ">
                            </div>

                            <div>
                                <img style="vertical-align: middle; margin-left: -66%;width: 8px;"
                                    src="./assets/mic.svg" (click)="startVoiceRecognition()">
                            </div>


                        </div>
                    </div>

                    <div style="margin-top: 4%;">
                        <mat-tree [dataSource]="treeSource" [treeControl]="treeControl" [trackBy]="trackBy">

                            <!-- This is the tree node template for leaf nodes -->
                            <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle class="example-tree-node">
                                <li class="mat-tree-node">
                                    <!-- use a disabled button to provide padding for tree leaf -->
                                    <button mat-icon-button disabled></button>
                                    {{node.name}}
                                    <button type="button" [matMenuTriggerFor]="menu" mat-icon-button
                                        (click)="showSelected(node.name)">
                                        <mat-icon inline="true">add</mat-icon>
                                    </button>
                                    <mat-menu #menu="matMenu">
                                        <button mat-menu-item>
                                            <span (click)="spaceclicked()">Space</span>
                                        </button>
                                        <button mat-menu-item>

                                            <span (click)="assetsclicked()">Asset</span>
                                        </button>
                                    </mat-menu>
                                </li>
                            </mat-tree-node>

                            <!-- node with children -->
                            <mat-tree-node *matTreeNodeDef="let node; when: hasChild" class="example-tree-node">
                                <li class="mat-tree-node" style="cursor: pointer;" (click)="GetChild(node.name)">
                                    <div class="mat-tree-node">
                                        <button mat-icon-button matTreeNodeToggle
                                            [attr.aria-label]="'toggle ' + node.name">
                                            <mat-icon class="mat-icon-rtl-mirror">
                                                {{treeControl.isExpanded(node) ? 'expand_more' : 'play_arrow'}}
                                            </mat-icon>
                                        </button>
                                        {{node.name}}
                                        <button type="button" [matMenuTriggerFor]="menu1" mat-icon-button
                                            (click)="showSelected(node.name)">
                                            <mat-icon inline="true">add</mat-icon>
                                        </button>
                                        <mat-menu #menu1="matMenu">
                                            <button mat-menu-item>
                                                <span (click)="spaceclicked()">Space</span>
                                            </button>
                                            <button mat-menu-item>

                                                <span (click)="assetsclicked()">Asset</span>
                                            </button>
                                        </mat-menu>
                                    </div>
                                </li>
                                <ul [class.children-invisible]="!treeControl.isExpanded(node)">
                                    <ng-container matTreeNodeOutlet></ng-container>
                                </ul>
                            </mat-tree-node>
                        </mat-tree>
                    </div>

                </div>

            </div>
        </div>

    </mat-drawer>

    <mat-drawer-content style="background-color: white;">
        <mat-toolbar class="toolbar_class">
            <div class="sidenav_3" style="background-color: white;width: 71%;">
                <div fxLayout="row" style="padding-top: 5px;" fxLayoutAlign="space-between center" class="header_row">
                    <div fxLayout="row" class="header">
                        <span>{{displayparent}}</span>
                        <span *ngIf="(Space != '') || (SubSpace != '') ">+</span>
                        <span>{{Space}}</span>
                        <span *ngIf="(SubSpace != '') || (Space != '')  ">+</span>
                        <span>{{SubSpace}}</span>
                    </div>
                    <div fxLayout="row" style="margin-right: 30px;">
                        <div class="header_bold"> User </div>
                        <div> <img style="height: 28px; margin-left:15px;" src="./assets/face.png"></div>
                        <div> <img style="height: 4px; vertical-align: middle;margin-left:5px"
                                src="./assets/down_arrrow.svg"> </div>
                        <div>
                            <mat-divider [vertical]="true" class="divider3"></mat-divider>
                        </div>
                        <div> <img style="height: 14px; vertical-align: middle;margin-left:15px"
                                src="./assets/settings.svg"> </div>
                        <div> <img style="height: 12px; vertical-align:middle;margin-left:15px" src="./assets/mail.svg">
                        </div>
                        <div>
                            <mat-divider [vertical]="true" class="divider3"></mat-divider>
                        </div>



                        <div class="header_bold" style="margin-left: 15px;">
                            <div (click)="openDialog()"> Main <span> +</span></div>
                            <div class="inkbar"></div>

                        </div>



                    </div>
                </div>


            </div>
        </mat-toolbar>

        <div style="margin-top: 95px;" *ngIf="overview_bool">
            <div fxLayout="row" style="margin: -35px 20px 10px 15px;" fxLayoutAlign="space-between center">
                <div fxLayout="row">
                    <div (click)="func1()"
                        [ngClass]="bool1 || bool7 == true ? 'main_buttons' : 'main_buttons_not_seklected' ">
                        Overview </div>
                    <div style="margin-left: 10px;" (click)="func2()"
                        [ngClass]="bool2 == true ? 'main_buttons' : 'main_buttons_not_seklected' "> List </div>
                    <div style="margin-left: 10px;" (click)="func3()"
                        [ngClass]="bool3 == true ? 'main_buttons' : 'main_buttons_not_seklected' "> Control
                        Panel </div>
                    <div style="margin-left: 10px;" (click)="func4()"
                        [ngClass]="bool4 == true ? 'main_buttons' : 'main_buttons_not_seklected' "> Utility
                        Building
                    </div>
                    <div style="margin-left: 10px;" (click)="func5()"
                        [ngClass]="bool5 == true ? 'main_buttons' : 'main_buttons_not_seklected' "> Documents
                    </div>
                    <div class="main_buttons_not_seklected" style="margin-left: 10px;" (click)="func6()"
                        [ngClass]="bool6 == true ? 'main_buttons' : 'main_buttons_not_seklected' ">
                        Signals </div>
                    <div class="main_buttons_not_seklected" style="margin-left: 10px;" (click)="func7()"
                        [ngClass]="bool8 == true ? 'main_buttons' : 'main_buttons_not_seklected' ">
                        Action Center
                    </div>
                    <!-- <div class="main_buttons_not_seklected" style="margin-left: 10px;" (click)="func8()"
                        [ngClass]="bool9 == true ? 'main_buttons' : 'main_buttons_not_seklected' " *ngIf="divhide1">
                        Lease Management
                    </div > -->

                </div>
                <div fxLayout="row" class="main_buttons_side" (click)="ViewAnalytics()">

                    <div>View Analytics </div>
                    <div>
                        <img style="vertical-align: sub;margin-left: 4px;" src="./assets/arrow_right_direction.svg">
                    </div>

                </div>
            </div>

            <!-- <router-outlet></router-outlet> -->
            <div *ngIf="bool1==true || bool7 == true">
                <app-over></app-over>
            </div>
            <div *ngIf="bool2==true">
                <app-ara-list></app-ara-list>
            </div>
            <div *ngIf="ass==true">
                <app-assign></app-assign>
            </div>
            <div *ngIf="bool3==true">
                <app-control-pannel></app-control-pannel>
            </div>
            <div *ngIf="bool4==true">
                <app-utility></app-utility>
            </div>
            <div *ngIf="bool5==true">
                <app-document></app-document>
            </div>
            <div *ngIf="bool6==true">
                <app-signals></app-signals>
            </div>
            <div *ngIf="bool8==true">
                <app-action></app-action>
            </div>
            <!-- <div *ngIf="bool9==true">
                <app-leasemanagement></app-leasemanagement>
            </div> -->

        </div>
        <div *ngIf="isLeasemanagement">
            <app-leasemanagement></app-leasemanagement>
        </div>

    </mat-drawer-content>
</mat-drawer-container>