<mat-drawer-container style="height: 100%;">
    <mat-drawer mode="side" opened class="size" style="border-right: 1px solid rgb(242, 242, 242);">
        <div fxLayout="row" fxLayoutAlign=" none" fxFlex="100">

            <div fxLayout="column" [@openClose]="!isFolded ? 'open' : 'closed'" class="sidenav_1 test" [ngClass]="{'sidenav_1_short':isFolded}">
                <div fxLayoutAlign="center" style="padding: 12px;">
                    <img *ngIf="isFolded" width="20px" src="./assets/short_ara.png">
                    <img *ngIf="!isFolded" class="ara_img" src="./assets/ara_img.png">
                </div>
                <div class="divider"></div>
                <div fxFlex class="menu_container">
                    <div class="menu">Menu</div>

                    <div fxLayout="row" [ngClass]="overview_bool==true?'inner_menus_home_highlight':'inner_menus_home'"
                        (click)="home_clik()">
                        <div style="margin-left: 8px;">
                            <img style="width: 14px;vertical-align: middle;" *ngIf="overview_bool==false"
                                src="./assets/dashboard_icon.svg">
                            <img style="width: 14px;vertical-align: middle;" *ngIf="overview_bool==true"
                                src="./assets/dashboard_icon_blue.svg">

                        </div>
                        <div [ngClass]="overview_bool==true?'inner_menus_highlight':'inner_menus'"
                            style="margin-left: 16px;" *ngIf="!isFolded">Home</div>
                    </div>

                    <div fxLayout="row" class="inner_menus_home">
                        <div style="margin-left: 8px;">
                            <img style="width: 14px;vertical-align: middle;" src="./assets/models.svg">
                        </div>
                        <div class="inner_menus" style="margin-left: 16px;" *ngIf="!isFolded">Models</div>
                    </div>

                    <div fxLayout="row" class="inner_menus_home">
                        <div style="margin-left: 8px;">
                            <img style="width: 14px;vertical-align: middle;" src="./assets/rental_icon.svg">
                        </div>
                        <div class="inner_menus" style="margin-left: 16px;" *ngIf="!isFolded">Rental</div>
                    </div>


                    <div style="margin-top:12px;margin-bottom: 12px;" class="menu">Others</div>


                    <div fxLayout="row" class="inner_menus_home">
                        <div style="margin-left: 8px;">
                            <img style="width: 14px;vertical-align: middle;" src="./assets/chatbot_icon.svg">
                        </div>
                        <div class="inner_menus" style="margin-left: 16px;" *ngIf="!isFolded">Chat Bot</div>
                    </div>

                    <div fxLayout="row" class="inner_menus_home">
                        <div style="margin-left: 8px;">
                            <img style="width: 14px;vertical-align: middle;" src="./assets/privacy_icon.svg">
                        </div>
                        <div class="inner_menus" style="margin-left: 16px;" *ngIf="!isFolded">Privacy Policy</div>
                    </div>
                    <div fxLayout="row" (click)="leaseclk()"
                        [ngClass]="overview_bool==false?'inner_menus_home_highlight':'inner_menus_home'">

                        <div style="margin-left: 8px;">
                            <img style="width: 14px;vertical-align: middle;" *ngIf="overview_bool==true"
                                src="./assets/date-expired_ash.svg">
                            <img style="width: 14px;vertical-align: middle;" *ngIf="overview_bool==false"
                                src="./assets/date-expired_blue.svg">
                        </div>
                        <div [ngClass]="overview_bool==false?'inner_menus_highlight':'inner_menus'"
                            style="margin-left: 16px;" *ngIf="!isFolded">Lease</div>
                    </div>
                </div>
                <!-- <div>
                    <img class="building" src="./assets/building.png">
                </div>
                <div fxLayout="column" fxLayoutAlign="center center">
                    <div class="content_sidenav">
                        Buy Pro Account to explore
                    </div>
                    <div class="content_sidenav1">
                        Premium Features
                    </div>
                    <button mat-flat-button class="send_btn" style="cursor: pointer;" color="primary">Purchase
                        Now!</button>
                </div> -->
                <div fxFlex></div>
                <div class="user-panel">
                    <div fxLayout="row" fxLayoutAlign="center center" style="padding: 8px;" [style.gap]="isFolded?'0px':'16px'">
                        <img style="height: 28px;" src="./assets/face.png">
                        <label *ngIf="!isFolded" style="color: #394256;
                        font-size: 11px;font-weight:500 ;font-family: poppins-med;">{{currentUser}}</label>
                        <img src="assets/Images/userActive.svg" width="8px" class="activity-img">
                    </div>
                    <div fxLayout="row" fxLayoutGap="16px" style="padding:0px 8px 8px;cursor: pointer;" fxLayoutAlign="center" (click)="logout()">
                        <div>
                            <img src="./assets/logout_ash.svg" style="width: 12px;">
                        </div>
                        <div *ngIf="!isFolded" style="color: #394256;
                       font-size: 11px;font-weight:500 ;font-family: poppins-med;">
                            Logout
                        </div>
                    </div>
                </div>

                <div style="padding:4px 12px 12px 12px;" fxLayout="row" fxLayoutAlign="end center">
                    <img *ngIf="!isFolded" style="width: 12px;cursor: pointer;" (click)="toggleSideMenu()"
                        src="./assets/slide_close_arrow.svg">
                    <img *ngIf="isFolded" style="width: 10px;cursor: pointer;" src="./assets/expand_arrow.svg" alt="expand" (click)="toggleSideMenu()">
                </div>
            </div>
            <!-- sidenav 2 starts here -->
            <div fxLayout="column" class="sidenav_2">
                <div fxLayout="row" fxLayoutAlign="space-between center" class="model_bg">
                    <div fxLayout="row" style="margin-left: 10%;">
                        <img style="width: 16px;vertical-align: middle;" src="./assets/Models_top.svg">
                        <div class="models">Models</div>
                    </div>

                    <div><img class="main_model" src="./assets/down_arrow1.svg"></div>
                </div>
                <div *ngIf="!sidemenu" fxLayout="column">
                    <div class="menu" style="margin: 5% 0% 0% 8%;">
                        Sites
                    </div>
                    <div style="margin-top: 5%;" fxLayout="row" fxLayoutAlign="center center">
                        <mat-divider class="divider2"></mat-divider>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start center">
                        <div fxLayout="row" class="main_input_field" fxLayoutAlign="start center">
                            <img style="vertical-align: -webkit-baseline-middle;
                                width: 24px;" src="./assets/search.svg">
                            <input class="input_field" [(ngModel)]="voiceText" matInput placeholder="Search">
                            <div fxFlex></div>
                            <img width="8px" src="./assets/mic.svg" (click)="startVoiceRecognition()">
                        </div>
                    </div>

                    <div class="tree-container">
                        <mat-tree [dataSource]="treeSource" [treeControl]="treeControl" [trackBy]="trackBy">
                            
                            <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding
                                matTreeNodePaddingIndent="8px" class="example-tree-node" [ngStyle]="{'background-color':selectedNode == node.name ? '#ebe5ff' : '#f9f8fe' }">
                                <li class="mat-tree-node" style="cursor: pointer;"   (click)="setSelectedNode(node)">
                                    <div class="mat-tree-node" [ngStyle]="{'color':selectedNode == node.name ? '#26009c' : 'inherit' }">
                                        <button mat-icon-button matTreeNodeToggle recursive="true"
                                            [attr.aria-label]="'toggle ' + node.name">
                                            <mat-icon class="mat-icon-rtl-mirror" *ngIf="node.expandable">
                                                {{treeControl.isExpanded(node) ? 'expand_more' : 'play_arrow'}}
                                            </mat-icon>
                                        </button>
                                        {{node.name}}
                                        <div fxFlex></div>
                                        <button type="button" [matMenuTriggerFor]="menu1" mat-icon-button
                                            (click)="showSelected(node.name)">
                                            <mat-icon inline="true">add</mat-icon>
                                        </button>
                                        <mat-menu #menu1="matMenu" yPosition="below" class="menuclass">
                                            <button mat-menu-item>
                                                <span (click)="spaceclicked()">Space</span>
                                            </button>
                                            <button mat-menu-item>
                                                <span (click)="assetsclicked()">Asset</span>
                                            </button>
                                        </mat-menu>
                                    </div>
                                </li>
                                <!-- <ul [class.children-invisible]="!treeControl.isExpanded(node)">
                                    <ng-container matTreeNodeOutlet></ng-container>
                                </ul> -->
                            </mat-tree-node>
                        </mat-tree>
                    </div>

                </div>

            </div>
        </div>

    </mat-drawer>

    <mat-drawer-content style="background-color: white;" [@marginAlign]="!isFolded ? 'open' : 'closed'">
        <mat-toolbar class="toolbar_class">
            <div class="sidenav_3">
                <div fxLayout="row" fxLayoutAlign="space-between center" class="header_row">
                    <div fxLayout="row" class="header">
                        <span>{{selectedNode}}</span>
                    </div>
                    <div class="header_bold" style="margin-left: 15px;">
                        <div (click)="openDialog()">+</div>
                        <div class="inkbar"></div>
                    </div>
                </div>
            </div>
        </mat-toolbar>

        <div *ngIf="overview_bool" style="padding: 16px;">
            <div fxLayout="row" fxLayoutAlign="space-between center">
                <div fxLayout="row">
                    <div (click)="func1()"
                        [ngClass]="bool1 || bool7 == true ? 'main_buttons' : 'main_buttons_not_seklected' ">
                        Overview </div>
                    <div style="margin-left: 10px;" (click)="func2()"
                        [ngClass]="bool2 == true ? 'main_buttons' : 'main_buttons_not_seklected' "> List </div>
                    <div style="margin-left: 10px;" (click)="func3()"
                        [ngClass]="bool3 == true ? 'main_buttons' : 'main_buttons_not_seklected' "> Control
                        Panel </div>
                    <div style="margin-left: 10px;" (click)="func4()"
                        [ngClass]="bool4 == true ? 'main_buttons' : 'main_buttons_not_seklected' "> Utility
                        Building
                    </div>
                    <div style="margin-left: 10px;" (click)="func5()"
                        [ngClass]="bool5 == true ? 'main_buttons' : 'main_buttons_not_seklected' "> Documents
                    </div>
                    <div class="main_buttons_not_seklected" style="margin-left: 10px;" (click)="func6()"
                        [ngClass]="bool6 == true ? 'main_buttons' : 'main_buttons_not_seklected' ">
                        Signals </div>
                    <div class="main_buttons_not_seklected" style="margin-left: 10px;" (click)="func7()"
                        [ngClass]="bool8 == true ? 'main_buttons' : 'main_buttons_not_seklected' ">
                        Action Center
                    </div>
                </div>
                <div fxLayout="row" class="main_buttons_side" (click)="ViewAnalytics()">
                    <div>View Analytics </div>
                    <div>
                        <img style="vertical-align: sub;margin-left: 4px;" src="./assets/arrow_right_direction.svg">
                    </div>
                </div>
            </div>
            <div *ngIf="bool1==true || bool7 == true" style="padding: 16px 0 0 0;">
                <app-over></app-over>
            </div>
            <div *ngIf="bool2==true">
                <app-ara-list></app-ara-list>
            </div>
            <div *ngIf="ass==true">
                <app-assign></app-assign>
            </div>
            <div *ngIf="bool3==true">
                <app-control-pannel></app-control-pannel>
            </div>
            <div *ngIf="bool4==true">
                <app-utility></app-utility>
            </div>
            <div *ngIf="bool5==true">
                <app-document></app-document>
            </div>
            <div *ngIf="bool6==true">
                <app-signals></app-signals>
            </div>
            <div *ngIf="bool8==true" style="padding: 16px 0 0 0;">
                <app-action></app-action>
            </div>
        </div>
        <div *ngIf="isLeasemanagement">
            <app-leasemanagement (switchSideNav)="switchSideMenu($event)"></app-leasemanagement>
        </div>

    </mat-drawer-content>
</mat-drawer-container>
<app-loader></app-loader>