.btn_bg
{
    border-radius: 4px;
  background-color: #f3f3f4;
  height: 32px;
}
.btn_bg2
{  height: 32px;
    border-radius: 4px;
  background-color: #f3f3f4;
}
.Renew_btn
{
    background-color: #f3f3f4;
    color: #6e6d7a;
    font-size: 10px;
    font-family: 'poppins-semi' !important;
}
.serachicon_search
{
    color: #98abc4;
    /* font-size: 14px; */
    transform: scale(0.7);
    align-self: center;
    margin-left: 12px;
}
.search_input1{
    height: 25px;
    width: 80%;
    border-radius: 3px;
    color: #394256;
    align-self: center;
    font-family: Poppins;
    font-size: 12px;
    font-weight: 500;
    border: none;
    background: transparent;
}
.search_input1:focus{
    outline: none;
}
::placeholder {
    color: #acacac;
    font-size: 10px !important;
}
::-webkit-input-placeholder{
  color: #98abc4;
    font-size: 10px;
}
.table.mat-table {
    background: #fff;
    width: 100%;
    
    // overflow: scroll;
    // overflow-x: scroll !important;
    // margin-top:20px
}
.mat-row {
    height: auto;
    min-width: max-content !important;
    width: max-content;
  }
  
  .mat-cell {
    padding: 8px 8px 8px 0;
    min-width: 50% !important;
    width: max-content;
  }

  .mat-cell, .mat-header-cell {
    border: none !important;
    font-size: 11px;
    padding: 10px 25px 0px 0;
    overflow: hidden;
  }
  .actionstable{
    height: 14px;
}
::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-ripple .mat-ripple-element {
    opacity: 0.03 !important;
    background-color: black!important;
  }

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: black;
  }
  .upload_btn
  {
    color: white;
    background-color: #4410ff;
    width: 100%;
    height: 32px;
    font-size: 12px;
    line-height: normal;
    font-family: "poppins-semi" !important;
  }
  .upload_btn2
  {
    color: white;
    background-color: #4410ff;
    width: 100%;
    height: 33px;
    font-size: 10px !important;
    line-height: inherit !important;
    font-family: "poppins-semi" !important;
  }
  .form_bg
  {
    background-color: #f3f3f4;
    height: 100%;
    width: 100%;
    // overflow-y: scroll;
    padding: 8px 8px;
  }
  .form_img
  {
    position: absolute;
    right: 48px;
    top: 209px;
    height: 92px;

  }
  .cl_lab
{
  color: #0d0c22;
  font-size: 11px;
  font-weight: 600;
  line-height: 63px;
}
.cl_lab1
{
  color: #0d0c22;
  font-size: 11px;
  font-weight: 600;
  // line-height: 63px;
}
.spaceinput_outer
{
    align-self: center;
}
.form_align
{
  // margin-left: 17px;
  height: 285px;
  // margin-right: 17px;
}
.cl_formdiv
{
  margin-left: 17px;
   margin-right: 17px;
}
.client_placeholder::placeholder {
  color: black;
  font-size: 10px;
}

// .uploadfiles{
//   background-color: #ececec;
//   border-radius: 4px;
//   cursor: pointer;
//   width: 100%;
//   color: #fff;
//   font-size: 12px;
//   align-items: center;
//   font-family: Poppins;
//   height: 5rem;
//   // padding: 5px -8px 4px 10px;
// }
.dropzonengx{
  border-radius: 4px !important;
  background-color: #f3f3f4;
  color: #6e6d7a;
  font-size: 11px;
  width: 92%;
  height: 89%;
  border: none;
  margin-left: 10px;
}

::ng-deep.drag-preview{
  align-items: center!important;
  border-radius: 5px!important;
  display: flex!important;
  // height: 140px!important;
  justify-content: center !important;
  margin: 10px!important;
  /* max-width: 180px; */
  /* min-height: 61px; */
  // height: 41px !important;
  /* min-width: 180px; */
  padding: 0px 20px!important;
  position: relative!important;

}
.drag-preview:hover{
  background-color: #f3f3f4;
}
.drag-preview {
  align-items: center !important;
  border-radius: 5px !important;
  display: flex !important;
  margin: 10px !important;
  height: 40px !important;
  min-height: 68px !important;
  padding: 0px 20px !important;
  position: relative !important;
}
.uploadfiles{
  background-color: #ececec;
  border-radius: 4px;
  cursor: pointer;
  width: 99%;
  color: #fff;
  font-size: 12px;
  align-items: center;
  font-family: Poppins;
  height: 5rem;

  // padding: 4px 10px 4px 10px;
}
.draganddrop{
  color: #6e6d7a;
  font-family: Poppins;
}
.dragdrop-label{
  font-family: "poppins-semi" !important;
  font-size: 10px;
  border-radius: 4px;
  background-color: #f3f3f4;
  cursor: pointer;
  width: 60%;
  font-size: 13px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #acacac;
 min-width: max-content;
}
.dragdrop-label_2{
  min-width: -webkit-max-content;
  min-width: max-content;
  color: #6e6d7a;
  font-family: "poppins-semi" !important;
  font-size: 10px;
  background-color: #f3f3f4;
  cursor: pointer;
  /* width: 100%; */
  /* height: 54%; */
  border-radius: 4px;
}
.add_div
{
  width: 89%;
  height: 91%;
  align-self: center;
  margin-top: 18px;
}
.btn_Add
{
  width: 100%;
  /* height: 100%; */
  background-color: #4410ff;
  color: white;
  font-size: 12px;
}
.upload_bg
{
  background-color: #efeff8;
  height: 151px;
  width: 100%;
  margin-top: 22px;
}
tr.mat-header-row {
  height: 35px;
}
.viewdetails_arrow
{
  
  margin-top: -9px !important;
  margin-left: 8px !important;

}
.example-container {
  width: 100%;
  // height: 100% !important;
  float: left;
  // border: 1px solid rgba(0, 0, 0, 0.5);
  background-color: white;
}
.example-sidenav {
  // padding: 20px;
  width:30%;
  float: left;
  height: 100% !important;

}
mat-sidenav{
height: 100% !important;
}

.mat-row {
  height: auto;
  min-width: max-content !important;
}

.mat-cell {
  padding: 8px 8px 8px 0;
}

// .labelcss{
//   font-size: 11px;
//   color: #0d0c22;
//   font-family: 'poppins-semi' !important;
//   justify-content: left;
//   text-align: left;
// }
// .labelcssvalue{
//   font-size: 11px;
//   color: #838383;
//   font-family: 'poppins-semi' !important;
//   text-align: left;
// }
.labelcss{
  font-size: 10px;
  color: #0d0c22;
  font-family: 'poppins-semi' !important;
  justify-content: left;
  text-align: left;
}
.labelcssvalue{
  font-size: 10px;
  color: #838383;
  font-family: 'poppins-semi' !important;
  word-wrap: break-word;
}
.formspan{
  color: #0d0c22;
  font-size: 12px;
  font-family: 'poppins-semi' !important;
  justify-content: left;
}

.formfield{
  width: 50% !important;
}

.datarow{
  font-size: 10px !important;
  font-family: 'poppins-semi' !important;
}

.mat-sidenav-backdrop.mat-sidenav-shown{
  background-color: transparent !important;
}

.placeholdertext{
  font-size: 12px;
  font-family: 'poppins' !important;
}
.placeholdertext::placeholder{
  font-size: 10px !important;
  font-family: 'poppins-semi' !important;
  color: #0d0c22 !important;
}

.highlight3{
  .mat-cell, .mat-header-cell {
    color: #0d0c22;
    background: #f9f8fe;
  }
  .actionstable{
    filter: brightness(0.5);
  }
}

.label_connect .mat-form-field-appearance-legacy .mat-form-field-label{
  font-size: 10px !important;
  font-family: 'poppins' !important;
  color: #596069 !important;
  line-height: 3.5;

}

.mat-sidenav-backdrop.mat-sidenav-shown{
  background-color: transparent !important;
}

.mat-sidenav-content{
  height: 90vh !important;
}


.clientview{
  text-align: left !important;
  justify-content: left;
  justify-self: left;
  width: 100%;
  justify-content: space-evenly center;
  padding-left: 10px;
}

.toggleimage{
  width: 12px;
  cursor: pointer;
  padding: 10px;
  animation: out 0.5s ;
  animation-fill-mode: backwards ;
}

@keyframes out {
  from {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(0deg);
  }
}
.mat-cell, .mat-header-cell {
  border: none !important;
  color:#6e6d7a;
  font-size: 11px;
}
::placeholder {
  color: #98abc4;
  font-size: 10px;
  margin-left:10px
}
.circlerow{
  width: 5px !important;
  height: 5px !important;
  border-radius: 50%;
}

.arrowtoolbar{
  background-color: #f3f3f4;
  height: 36px;
  position: absolute;
  top: -1px;
  width: 100%;
  padding-left: 4px;
  padding-top: 4px;
}
.toggleimage:hover{
  width: 13px;
  padding: 10px;
  animation: rotation 0.5s ;
  animation-fill-mode: forwards ;
  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(180deg);
    }
  }

}


.pointer{
  cursor: pointer;
}
.ripple_outer
{
  padding:0 16px;
  height: 100%;
}
.new_txt
{
    color: #6e6d7a;
    font-size: 11px;
    cursor: pointer;
}

.forminputedit{
  color: #0d0c22 !important;
  font-size: 10px !important;
  font-family: 'poppins-semi' !important;
}
.bgouter
{
  margin-top:16px
}
.TableFooter {
  margin-top: 0px !important;
  // border: 1px solid #e3dbdb;
  height: 47px;
  border-top: 0px;
}
.nodata
{
  font-size: 10px;
    font-weight: 700;
}
.infoicon
{
  color: #1b56ca;
  font-size: 23px;
}
*{
  font-family: 'poppins-semi';
}