<div fxLayout="column" fxFlex="100">
    <!-- <div fxFlex fxLayout="row" fxLayoutGap="10px">
     
      <div fxFlex="25" fxLayout="row" class="btn_bg">
        <mat-icon matSuffix class="serachicon_search">search</mat-icon>
        <input matInput class="search_input1" placeholder="Search Document">
      </div>
    </div> -->
    <div fxLayout="row" fxLayoutGap="10px">
      <div fxFlex="70" style="
      overflow-x: scroll !important;">
        <table mat-table [dataSource]="dataSource" colspan=20 style="overflow-x: scroll !important;width:126% !important" matSort
          class="table example-container">
          <ng-container matColumnDef="select" sticky>
            <th mat-header-cell *matHeaderCellDef >
            </th>
            <td mat-cell *matCellDef="let row;index as i;">
              <div fxLayout="row" fxLayoutAlign="start center">
                <mat-checkbox (click)="$event.stopPropagation()" (change)="updateCheckedList($event,i)"
                  [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row,i)">
                </mat-checkbox>
              </div>
            </td>
          </ng-container>
  
          <ng-container matColumnDef="ClientName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 20%;"> Client Name </th>
            <td mat-cell *matCellDef="let row;let element"> {{row.client}} </td>
          </ng-container>
  
  
          <ng-container matColumnDef="FileName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 25%;text-align: left;"> File Name </th>
            <td mat-cell *matCellDef="let row"> {{row.fileName}} </td>
          </ng-container>
  
  
          <ng-container matColumnDef="DaysRemaining">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 16%;text-align: left;">  Remaining Days
              </th>
            <td mat-cell *matCellDef="let row" style="    text-align: center;
            "> {{GetRemainingDays(row.expiryDate)}} </td>
          </ng-container>
  
  
          <ng-container matColumnDef="ExpiryDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 19%;text-align: left;"> Expiry Date </th>
            <td mat-cell *matCellDef="let row"> {{row.expiryDate | date:'dd/MM/yyyy'}} </td>
          </ng-container>
  
          <ng-container matColumnDef="Action"  >
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="text-align: center;"> Action </th>
            <td mat-cell *matCellDef="let row">
              <div fxLayout="row" fxLayoutAlign="space-evenly center" fxLayoutGap="15px">
                <div fxLayout="row" fxLayoutAlign="space-evenly center" fxLayoutGap="5px">
                  <img src="./assets/iconmonstr-paper-plane-2 (2).svg" class="actionstable">
                  <span class="actionsspan">Send</span>
                </div>
                <div fxLayout="row" fxLayoutAlign="space-evenly center" fxLayoutGap="5px">
                  <img src="./assets/download_ash.svg" class="actionstable">
                  <span class="actionsspan">Open</span>
                </div>
                <div fxLayout="row" fxLayoutAlign="space-evenly center" fxLayoutGap="5px">
                  <img src="./assets/iconmonstr-product-10.svg" class="actionstable">
                  <span class="actionsspan">Review</span>
                </div>
              </div>
            </td>
          </ng-container>
  
          <ng-container matColumnDef="ViewDetails" >
            <th mat-header-cell *matHeaderCellDef mat-sort-header> </th>
            <td mat-cell *matCellDef="let row" style="width: 23%">
              <div fxLayout="row" fxLayoutAlign="start center" style="align-items: center;
              margin-left: 43px;">
                <p>View Details</p>
                <img src="./assets/double front arrow_ash.svg" class="viewdetails_arrow">
              </div>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns" style="background-color: #f3f3f4;"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;" style="border-bottom-style: none;"
            (click)="selection.toggle(row)"></tr>
        </table>
  
      </div>
      <div fxFlex="29" fxLayout="column">
        <div fxFlex="10" fxLayout="row" class="btn_bg">
          <mat-icon matSuffix class="serachicon_search">search</mat-icon>
          <input matInput class="search_input1" placeholder="Search Document">
        </div>
        <div fxFlex="6" style="margin-top: 9px;" fxLayoutAlign="flex-end">
          <button mat-button class="upload_btn" (click)="uploadDocument()"
            [style.background-color]="btn_name==='Upload Document'?'#4410ff':'red'">{{btn_name}}</button>
        </div>
        <div fxFlex="90" fxLayoutAlign="center center">
          <div *ngIf="btn_name=='Upload Document'">
            <img src="./assets/Filing system-rafiki (1).svg" style="height: 255px;">
          </div>
          <div *ngIf="btn_name=='Cancel' && uploadVisible==false" class="form_bg">
            <img src="./assets/Filing system-rafiki (1).svg" class="form_img">
  
            <form fxLayout="column" fxFlex="100" autocomplete="off" name="form" novalidate
              [formGroup]="SignedDocumentDetailsForm" class="form_align ">
              <div fxFlex="11" style="margin-top: 63px;" class="cl_formdiv">
                <div fxFlex="38">
                  <mat-label class="cl_lab">Client Name</mat-label>
                </div>
                <div fxFlex="59" class="spaceinput_outer">
                  <mat-form-field appearance="standard" style="width:100%">
                    <input matInput placeholder="Enter Client Name" class="client_placeholder "
                      formControlName="Client">
                  </mat-form-field>
                </div>
              </div>
              <!--  -->
              <div fxFlex="11" class="cl_formdiv">
                <div fxFlex="38">
                  <mat-label class="cl_lab">FileName</mat-label>
                </div>
                <div fxFlex="59" class="spaceinput_outer">
                  <mat-form-field appearance="standard" style="width:100%">
                    <input matInput placeholder="Enter File Name" formControlName="FileName"  class="client_placeholder ">
                  </mat-form-field>
                </div>
              </div>
              <!--  -->
              <div fxFlex="11" class="cl_formdiv">
                <div fxFlex="38">
                  <mat-label class="cl_lab">Creation Date</mat-label>
                </div>
                <div fxFlex="59" class="spaceinput_outer">
                  <mat-form-field appearance="standard" style="width:100%">
                    <input matInput [matDatepicker]="dp1"  readonly placeholder="dd/mm/yyy"   class="client_placeholder " style="color: black;"
                      formControlName="CreatedOn">
                    <mat-datepicker-toggle matSuffix [for]="dp1" (click) ="createdDate()"></mat-datepicker-toggle>
                    <mat-datepicker #dp1 disabled="false"></mat-datepicker>
                  </mat-form-field>
                </div>
              </div>
              <!--  -->
              <div fxFlex="11" class="cl_formdiv">
                <div fxFlex="38">
                  <mat-label class="cl_lab">Expiry Date</mat-label>
                </div>
                <div fxFlex="59" class="spaceinput_outer">
                  <mat-form-field appearance="standard" style="width:100%">
                    <input matInput [matDatepicker]="dp2" readonly placeholder="dd/mm/yyy" [min]="SignedDocumentDetailsForm.get('CreatedOn').value" class="client_placeholder " style="color: black;"
                      formControlName="ExpiryDate">
                    <mat-datepicker-toggle matSuffix [for]="dp2" style="height:10px"></mat-datepicker-toggle>
                    <mat-datepicker #dp2 disabled="false"></mat-datepicker>
                  </mat-form-field>
                </div>
              </div>
              <!--  -->
              <div fxFlex="11" class="cl_formdiv">
                <div fxFlex="38">
                  <mat-label class="cl_lab">Total Deposit</mat-label>
                </div>
                <div fxFlex="59" class="spaceinput_outer">
                  <mat-form-field appearance="standard" style="width:100%">
                    <input matInput placeholder="Enter Total Deposit" type="number"  class="client_placeholder " formControlName="TotalDeposit">
                    <span matPrefix>
                      <p style="font-size: 11px;
              font-weight: 600px;
              height: 0px;">Rs.</p>&nbsp;
                    </span>
                  </mat-form-field>
                </div>
              </div>
              <!--  -->
  
              <div fxFlex="11" class="cl_formdiv">
                <div fxFlex="38">
                  <mat-label class="cl_lab">Rental</mat-label>
                </div>
                <div fxFlex="59" class="spaceinput_outer">
                  <mat-form-field appearance="standard" style= "width:100%">
                    <input matInput placeholder="Enter Rental" type="number"   class="client_placeholder " formControlName="Rental">
                    <span matPrefix>
                      <p style="font-size: 11px;
              font-weight: 600px;
              height: 0px;">Rs.</p>&nbsp;
                    </span>
                  </mat-form-field>
                </div>
              </div>
              <!--  -->
              <div fxFlex="11" class="cl_formdiv">
                <div fxFlex="38">
                  <mat-label class="cl_lab">Bank Name</mat-label>
                </div>
                <div fxFlex="59" class="spaceinput_outer">
                  <mat-form-field appearance="standard" style= "width:100%">
                    <input matInput placeholder="Enter Bank Name"  class="client_placeholder " formControlName="BankName">
               
                  </mat-form-field>
                </div>
              </div>
                <!--  -->
                <div fxFlex="11" class="cl_formdiv">
                  <div fxFlex="38">
                    <mat-label class="cl_lab">Holder Name</mat-label>
                  </div>
                  <div fxFlex="59" class="spaceinput_outer">
                    <mat-form-field appearance="standard" style= "width:100%">
                      <input matInput placeholder="Enter Holder Name"    class="client_placeholder " formControlName="HolderName">
                     
                    </mat-form-field>
                  </div>
                </div>
              <!--  -->
              <div fxFlex="17" class="cl_formdiv">
                <div fxFlex="38">
                  <mat-label class="cl_lab">Account No.</mat-label>
                </div>
                <div fxFlex="59" class="spaceinput_outer">
                  <mat-form-field appearance="standard" style= "width:100%">
                    <input matInput placeholder="Enter Account No."    class="client_placeholder " formControlName="AccountNo">
                   
                  </mat-form-field>
                </div>
              </div>
               <!--  -->
               <div fxFlex="11" class="cl_formdiv">
                <div fxFlex="38">
                  <mat-label class="cl_lab1">Mode of Transfer</mat-label>
                </div>
                <div fxFlex="59" class="spaceinput_outer">
                  <mat-form-field appearance="standard" style= "width:100%">
                    <input matInput placeholder="Enter Mode of Transfer"  class="client_placeholder " formControlName="ModeofTransfer">          
                  </mat-form-field>
                </div>
              </div>
               <!--  -->
               <div fxFlex="16" class="cl_formdiv">
                <div fxFlex="38">
                  <mat-label class="cl_lab">IFSC Code</mat-label>
                </div>
                <div fxFlex="59" class="spaceinput_outer">
                  <mat-form-field appearance="standard" style= "width:100%">
                    <input matInput placeholder="Enter IFSC Code" type="number"   class="client_placeholder " formControlName="IFSCCode">
                  </mat-form-field>
                </div>
              </div>
            <!--  -->
            <div fxFlex="11" class="cl_formdiv">
              <div fxFlex="38">
                <mat-label class="cl_lab1">Advance Request</mat-label>
              </div>
              <div fxFlex="59" class="spaceinput_outer">
                <mat-form-field appearance="standard" style= "width:100%">
                  <input matInput placeholder="Enter Advance Request" type="number"   class="client_placeholder " formControlName="AdvanceRequest">
                  <span matPrefix>
                    <p style="font-size: 11px;
            font-weight: 600px;
            height: 0px;">Rs.</p>&nbsp;
                  </span>
                </mat-form-field>
              </div>
            </div>
        
        <!--  -->
              
              <div fxFlex="11" class="cl_formdiv">
                <div fxFlex="38">
                  <mat-label class="cl_lab">Maintenance</mat-label>
                </div>
                <div fxFlex="59" class="spaceinput_outer">
                  <mat-form-field appearance="standard" style="width:100%">
                    <input matInput placeholder="Enter Maintenance"  class="client_placeholder " formControlName="Maintenance">
  
                  </mat-form-field>
                </div>
              </div>
              <!--  -->
              <div fxFlex="11" class="cl_formdiv">
                <div fxFlex="38">
                  <mat-label class="cl_lab">Electrical</mat-label>
                </div>
                <div fxFlex="59" class="spaceinput_outer">
                  <mat-form-field appearance="standard" style="width:100%">
                    <input matInput placeholder="Enter Electrical" type="number"   class="client_placeholder " formControlName="Electrical">
                  </mat-form-field>
                </div>
              </div>
              <!--  -->
              <div fxFlex="11" class="cl_formdiv">
                <div fxFlex="38">
                  <mat-label class="cl_lab">Condition</mat-label>
                </div>
                <div fxFlex="59" class="spaceinput_outer" fxLayout="column">
                  <div fxFlex="50">
                    <mat-form-field appearance="standard" style="width:100%">
                      <input matInput placeholder="Enter Condition"   class="client_placeholder " formControlName="Condition">
                    </mat-form-field>
                  </div>
                  <!-- <div fxFlex="50">
                    <mat-form-field appearance="standard" style="width:100%;">
                      <input matInput formControlName="Condition">
                    </mat-form-field>
                  </div> -->
                </div>
              </div>
              <!--  -->
              <!--  -->
              <div fxFlex="11" class="cl_formdiv">
                <div fxFlex="38">
                  <mat-label class="cl_lab">Remarks</mat-label>
                </div>
                <div fxFlex="59" class="spaceinput_outer" fxLayout="column">
                  <div fxFlex="50">
                    <mat-form-field appearance="standard" style="width:100%">
                      <input matInput placeholder="Enter Description"  class="client_placeholder " formControlName="Remarks">
                    </mat-form-field>
                  </div>
                </div>
              </div>
              <!--  -->
              <div fxFlex="19" style="margin-top: 20px;" fxLayoutAlign="center center">
                <button mat-button class="upload_btn" for="file" style="background-color:#4410ff;width:100%"
               (click)="saveclk()">Save</button>
               <!-- (click)="fileInput1.click(); -->
                <input hidden type="file" #fileInput1 id="file_msme"  (change)="handleFileInput($event)" />
              </div>
            </form>
          </div>
    <!--  -->
        </div>
  
      </div>
    </div>