.main_buttons_not_seklected{color: #6e6d7a;font-size: 11px; font-family: 'poppins-semi' !important;font-weight: 600;
    padding: 4px 10px 4px 10px;    border-radius: 4px; cursor: pointer; line-height: 2;height: 20px; }

.main_buttons_not_seklected:hover{color: #6e6d7a;font-size: 11px; font-family: 'poppins-semi' !important;font-weight: 600;
        padding: 4px 10px 4px 10px;  line-height: 2;height: 20px;   border-radius: 4px; background-color: #f3f3f4;cursor: pointer; }

.main_buttons{color: #0d0c22;font-size: 11px; font-family: 'poppins-semi' !important; cursor: pointer; line-height: 2;height: 20px;
            padding: 4px 10px 4px 10px;    border-radius: 4px;    background-color: #f3f3f4;}
.main_buttons_side{
                color: #0d0c22;font-size: 11px; font-family: 'poppins-semi' !important;cursor: pointer;  line-height: 1.4;height: 25px;
            padding: 4px 10px 4px 10px;    border-radius: 4px;    border: solid 1px #e7e7e9;   }



.neweditdiv{
    font-family: 'poppins-semi' !important;
    padding: 4px 10px 4px 10px;  
   
}
.search-to-do{
    width: 365px;
    height: 32px;
    background-color: #f3f3f4;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    display: flex;
    align-items: center;
    color: white;
}
.search_input1{
    height: 25px;
    width: 80%;
    border-radius: 3px;
    color: #394256;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: Poppins;
    font-size: 12px;
    font-weight: 500;
    border:none;
    margin-left: 7px;
    background: transparent;
    padding-top: 2px;
}
.search_input1:focus{
    outline: none;
}
::placeholder {
    color: #98abc4;
    font-size: 10px;
}
.neweditdiv1{
    border-radius: 4px; background-color: #f3f3f4;cursor: pointer; 
    color: #6e6d7a;font-size: 11px; width: 60%;  height: 2rem;
}
.neweditdiv2{
    border-radius: 4px;
    width: 40%;
    height: 2rem;
}
.files{
    background-color: #4410ff;
    border-radius: 4px; 
    cursor: pointer;
    width: 17%;
    color: #fff;
    font-size: 12px;
    align-items: center;
    font-family: Poppins;
    height: 4rem;
}
.filesimage{
    // transform: scale(0.6);
    width: 13px;
}
.filesimagetable{
    transform: scale(0.65);
    margin-left: 0.5rem;
}
.uploadfiles{
    background-color: #f3f3f4;
    border-radius: 4px; 
    cursor: pointer;
    width: 80%;
    color: #fff;
    font-size: 12px;
    align-items: center;
    font-family: Poppins;
    height: 4rem;
    padding: 4px 10px 4px 10px;  
}
.draganddrop{
    color: #6e6d7a;
    font-family: Poppins;
}
.dragdrop-label{
    color: #6e6d7a;
    font-family: 'poppins-semi' !important;
    font-size: 10px;
    border-radius: 4px; background-color: #f3f3f4;cursor: pointer; 
   width: 60%;  height: 2rem;
   min-width: max-content;
}
.dragdrop-label_2{
    min-width: max-content;
    color: #6e6d7a;
    font-family: 'poppins-semi' !important;
    font-size: 10px;
    background-color: #f3f3f4;cursor: pointer; 
    border-radius: 4px;
}
.dropzonengx{
    border-radius: 4px; background-color: #f3f3f4;
    color: #6e6d7a;font-size: 11px; width: 100%;  height: 100%;
    border: none;
}
.drag-preview{
    align-items: center;
    border-radius: 5px;
    display: flex;
    height: 10px;
    justify-content: center;
    margin: 10px;

}
.drag-preview:hover{
    background-color: #f3f3f4;
}
[_nghost-qij-c299]:focus, [_nghost-qij-c299]:hover {

    outline: 0;
}
// [_nghost-qij-c299]:hover {
   
// }


table {
    width: 100%;
    padding: 4px 10px 4px 10px;  
}
  
.mat-form-field {
    font-size: 14px;
    width: 100%;
}
  
td, th {
    width: 7%;
    font-family: 'poppins-semi' !important;
    
}
td{
    font-size: 10px;
    color: #6e6d7a;
    font-family: Poppins !important;
}

.tabledivision{
    padding: 4px 10px 4px 10px;  
    font-family: 'poppins-semi' !important;
    font-size: 12px;
}
.actionstable{
    transform: scale(0.65);
}
.actionsspan{
    font-size: 12px;
    color: #6e6d7a;
    font-family: Poppins !important;
}