<div fxLayout="column" fxFlex="100" class="bgouter">
  <div fxFlex fxLayout="row" fxLayoutGap="10px" class="outerbg">
    <div fxFlex="70" class="btn_bg cursor" fxLayout="row">
      <div matRipple matRippleCentered="true" class="ripple_outer" fxLayoutAlign="center center"
        (click)="openDialogrenew()">
        <span class="new_txt">Renew</span>
      </div>
      <div matRipple matRippleCentered="true" class="ripple_outer" fxLayoutAlign="center center"
        (click)="openDialogvacate()">
        <span class="new_txt">Vacate</span>
      </div>
      <div matRipple matRippleCentered="true" class="ripple_outer" fxLayoutAlign="center center"
        (click)="openDialogterminate()">
        <span class="new_txt">Terminate</span>
      </div>

      <!-- <button mat-flat-button class="Renew_btn" (click)="openDialogrenew()" >Renew</button>
      <button mat-flat-button class="Renew_btn" (click)="openDialogvacate()">Vacate</button>
      <button mat-flat-button class="Renew_btn" (click)="openDialogterminate()">Terminate</button> -->

    </div>
    <div fxFlex="29" fxLayout="row" class="btn_bg">
      <mat-icon matSuffix class="serachicon_search">search</mat-icon>
      <input matInput class="search_input1 forminputedit" placeholder="Search Document" autocomplete="off"
        (keyup)="applyFilter($event)">
    </div>
  </div>
  <div style="height: 20px;">

  </div>
  <mat-sidenav-container class="example-container" autosize hasBackdrop="false">
    <mat-sidenav #drawer class="example-sidenav " position="end" mode="side" (openedChange)="drawerToggled($event)">

      <div class="top-formbg">
        <div class="form_bg" fxLayout="column" fxLayoutGap="10px">
          <mat-toolbar class="arrowtoolbar" fxLayout="row" fxLayoutAlign="start center">
            <img class="toggleimage" (click)="drawer.toggle();toggleSideNav();" src="./assets/slide_close_arrow.svg">
          </mat-toolbar>
          <div fxLayout="row" fxFlex="100" class="clientview">
            <div fxFlex="50" class="labelcss">Client name</div>
            <div fxFlex="50" class="labelcssvalue" *ngIf="variableclient"> {{variableclient}}</div>
            <div fxFlex="50" class="labelcssvalue" *ngIf="!variableclient"> -</div>
          </div>
          <div fxLayout="row" fxFlex="100" class="clientview">
            <div fxFlex="50" class="labelcss">Client name</div>
            <div fxFlex="50" class="labelcssvalue" *ngIf="variableclient"> {{variableclient}}</div>
            <div fxFlex="50" class="labelcssvalue" *ngIf="!variableclient"> -</div>
          </div>
          <div fxLayout="row" fxFlex="100" class="clientview">
            <div fxFlex="50" class="labelcss">File name</div>
            <div fxFlex="50" class="labelcssvalue" *ngIf="variablefilename">{{variablefilename}}</div>
            <div fxFlex="50" class="labelcssvalue" *ngIf="!variablefilename">-</div>
          </div>
          <div fxLayout="row" fxFlex="100" class="clientview">
            <div fxFlex="50" class="labelcss">Creation date</div>
            <div fxFlex="50" class="labelcssvalue" *ngIf="variableCreatedOn">{{variableCreatedOn | date: 'dd.MM.yyyy'}}
            </div>
            <div fxFlex="50" class="labelcssvalue" *ngIf="!variableCreatedOn">-</div>
          </div>
          <div fxLayout="row" fxFlex="100" class="clientview">
            <div fxFlex="50" class="labelcss">Expiry date</div>
            <div fxFlex="50" class="labelcssvalue" *ngIf="variableExpiryDate">{{variableExpiryDate | date:
              'dd.MM.yyyy'}}</div>
            <div fxFlex="50" class="labelcssvalue" *ngIf="!variableExpiryDate">-</div>
          </div>
          <div fxLayout="row" fxFlex="100" class="clientview">
            <div fxFlex="50" class="labelcss">Advance amount</div>
            <div fxFlex="50" class="labelcssvalue" *ngIf="variableTotalDeposit">{{variableTotalDeposit}}</div>
            <div fxFlex="50" class="labelcssvalue" *ngIf="!variableTotalDeposit">-</div>
          </div>
          <div fxLayout="row" fxFlex="100" class="clientview">
            <div fxFlex="50" class="labelcss">Rental</div>
            <div fxFlex="50" class="labelcssvalue" *ngIf="variableRental"> {{variableRental}}</div>
            <div fxFlex="50" class="labelcssvalue" *ngIf="!variableRental">-</div>
          </div>

          <div fxLayout="row" fxFlex="100" class="clientview">
            <div fxFlex="50" class="labelcss">Maintenance</div>
            <div fxFlex="50" class="labelcssvalue" *ngIf="vMaintenance"> {{vMaintenance}}</div>
            <div fxFlex="50" class="labelcssvalue" *ngIf="!vMaintenance">-</div>
          </div>
          <div fxLayout="row" fxFlex="100" class="clientview">
            <div fxFlex="50" class="labelcss">Bank name</div>
            <div fxFlex="50" class="labelcssvalue" *ngIf="variableBankName"> {{variableBankName}}</div>
            <div fxFlex="50" class="labelcssvalue" *ngIf="!variableBankName">-</div>
          </div>
          <div fxLayout="row" fxFlex="100" class="clientview">
            <div fxFlex="50" class="labelcss">IFSC code</div>
            <div fxFlex="50" class="labelcssvalue" *ngIf="varIFSCCode"> {{varIFSCCode}}</div>
            <div fxFlex="50" class="labelcssvalue" *ngIf="!varIFSCCode">-</div>
          </div>
          <div fxLayout="row" fxFlex="100" class="clientview">
            <div fxFlex="50" class="labelcss">Account type</div>
            <div fxFlex="50" class="labelcssvalue" *ngIf="vCondition">AccType</div>
            <!-- <div fxFlex="50" class="labelcssvalue" *ngIf="!vCondition">-</div> -->
          </div>
          <div fxLayout="row" fxFlex="100" class="clientview">
            <div fxFlex="50" class="labelcss">Account holder name</div>
            <div fxFlex="50" class="labelcssvalue" *ngIf="variableHolderName"> {{variableHolderName}}</div>
            <div fxFlex="50" class="labelcssvalue" *ngIf="!variableHolderName">-</div>
          </div>
          <div fxLayout="row" fxFlex="100" class="clientview">
            <div fxFlex="50" class="labelcss">Account no</div>
            <div fxFlex="50" class="labelcssvalue" *ngIf="variableAccountNo"> {{variableAccountNo}}</div>
            <div fxFlex="50" class="labelcssvalue" *ngIf="!variableAccountNo">-</div>
          </div>
          <div fxLayout="row" fxFlex="100" class="clientview">
            <div fxFlex="50" class="labelcss">Mode of transfer</div>
            <div fxFlex="50" class="labelcssvalue" *ngIf="variaModeofTransfer"> {{variaModeofTransfer}}</div>
            <div fxFlex="50" class="labelcssvalue" *ngIf="!variaModeofTransfer">-</div>
          </div>

          <!-- <div fxLayout="row" fxFlex="100" class="clientview">
            <div fxFlex="50" class="labelcss">Advance request</div>
            <div fxFlex="50" class="labelcssvalue" *ngIf="vAdvanceRequest"> {{vAdvanceRequest}}</div>
            <div fxFlex="50" class="labelcssvalue" *ngIf="!vAdvanceRequest">-</div>
          </div> -->
          <div fxLayout="row" fxFlex="100" class="clientview">
            <div fxFlex="50" class="labelcss">Remarks</div>
            <div fxFlex="50" class="labelcssvalue" *ngIf="vRemarks"> {{vRemarks}}</div>
            <div fxFlex="50" class="labelcssvalue" *ngIf="!vRemarks">-</div>
          </div>
          <div fxLayout="row" fxFlex="100" class="clientview">
            <div fxFlex="50" class="labelcss">Electrical(RR)</div>
            <div fxFlex="50" class="labelcssvalue" *ngIf="vElectrical"> {{vElectrical}}</div>
            <div fxFlex="50" class="labelcssvalue" *ngIf="!vElectrical">-</div>
          </div>
          <div fxLayout="row" fxFlex="100" class="clientview">
            <div fxFlex="50" class="labelcss">Condition</div>
            <div fxFlex="50" class="labelcssvalue" *ngIf="vCondition">{{vCondition}}</div>
            <div fxFlex="50" class="labelcssvalue" *ngIf="!vCondition">-</div>
          </div>
          <div fxLayout="row" fxFlex="100" class="clientview">
            <div fxFlex="50" class="labelcss">SPOC person</div>
            <div fxFlex="50" class="labelcssvalue" *ngIf="vCondition">SpocPerson</div>
            <div fxFlex="50" class="labelcssvalue" *ngIf="!vCondition">-</div>
          </div>
          <div fxLayout="row" fxFlex="100" class="clientview">
            <div fxFlex="50" class="labelcss">Contact1</div>
            <div fxFlex="50" class="labelcssvalue" *ngIf="vCondition">Contact1</div>
            <div fxFlex="50" class="labelcssvalue" *ngIf="!vCondition">-</div>
          </div>
          <div fxLayout="row" fxFlex="100" class="clientview">
            <div fxFlex="50" class="labelcss">Contact2</div>
            <div fxFlex="50" class="labelcssvalue" *ngIf="vCondition">Contact2</div>
            <div fxFlex="50" class="labelcssvalue" *ngIf="!vCondition">-</div>
          </div>
          <div fxLayout="row" fxFlex="100" class="clientview">
            <div fxFlex="50" class="labelcss">Email1</div>
            <div fxFlex="50" class="labelcssvalue" *ngIf="vCondition">Email1</div>
            <div fxFlex="50" class="labelcssvalue" *ngIf="!vCondition">-</div>
          </div>
          <div fxLayout="row" fxFlex="100" class="clientview">
            <div fxFlex="50" class="labelcss">Email2</div>
            <div fxFlex="50" class="labelcssvalue" *ngIf="vCondition">Email2</div>
            <div fxFlex="50" class="labelcssvalue" *ngIf="!vCondition">-</div>
          </div>
        </div>
      </div>
    </mat-sidenav>

    <mat-sidenav-content *ngIf="valuetable">
      <div fxLayout="row" fxLayoutGap="10px" style="width: 100%;">
        <div fxFlex="100" style="overflow-x: scroll !important;">
          <table mat-table [dataSource]="dataSource" colspan=20
            style="overflow-x: scroll !important;width:100% !important" matSort class="table">

            <ng-container matColumnDef="ClientName">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Client </th>
              <td mat-cell *matCellDef="let row;let element" class="datarow"> {{row.clientName}} </td>
            </ng-container>


            <ng-container matColumnDef="FileName">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Document Name
              </th>
              <td mat-cell *matCellDef="let row" class="datarow"> {{row.documentName}} </td>
            </ng-container>


            <ng-container matColumnDef="DaysRemaining">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Days Remaining
              </th>
              <td mat-cell *matCellDef="let row" class="datarow"
                [ngStyle]="{'color': getWidth(GetRemainingDays(row.expiryDate))}">
                {{GetRemainingDays(row.expiryDate)}} days
              </td>
            </ng-container>


            <ng-container matColumnDef="ExpiryDate">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Expiry Date
              </th>
              <td mat-cell *matCellDef="let row" class="datarow"> {{row.expiryDate | date:'dd/MM/yyyy'}} </td>
            </ng-container>

            <ng-container matColumnDef="Action">
              <th mat-header-cell *matHeaderCellDef mat-sort-header style="text-align: center;"> Action </th>
              <td mat-cell *matCellDef="let row" class="datarow">
                <div fxLayout="row" fxLayoutAlign="space-between center">

                  <div fxLayout="row" fxLayoutAlign="space-evenly center" fxLayoutGap="5px"
                    (click)="DownloadLeaseDocument(row);$event.stopPropagation();" matTooltip="Download">
                    <img src="./assets/download_ash.svg" class="actionstable">
                    <!-- <span class="actionsspan">Download</span> -->
                  </div>
                  <div fxLayout="row" fxLayoutAlign="space-evenly center" fxLayoutGap="5px"
                    (click)="sideNavStatus=true;openSendMailDialog(row.documentID);$event.stopPropagation();" matTooltip="Send Email">
                    <img src="./assets/iconmonstr-paper-plane-2 (2).svg" class="actionstable">
                    <!-- <span class="actionsspan" >Send</span> -->
                  </div>
                  <div fxLayout="row" fxLayoutAlign="space-evenly center" fxLayoutGap="5px" class="pointer"
                    (click)="Deleteleaserow(row.documentID);$event.stopPropagation();" matTooltip="Delete">
                    <img src="./assets/iconmonstr-trash-can-28.svg" class="actionstable">
                    <!-- <span class="actionsspan">Delete</span> -->
                  </div>
                  <!-- <div fxLayout="row" fxLayoutAlign="space-evenly center" fxLayoutGap="5px">
                    <img src="./assets/iconmonstr-product-10.svg" class="actionstable">
                    <span class="actionsspan" (click)="openSendMailDialog(row.documentID)">Review</span>
                  </div> -->

                </div>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns" style="background-color: #f3f3f4;"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"
              style="border-bottom-style: none;cursor: pointer;"
              [ngClass]="{'highlight3': selectedRowIndex2 == row.leaseID}"
              (click)="highlight2(row);docdata(row);go(row)"></tr>
          </table>

        </div>

      </div>
      <!-- <div flex fxLayoutAlign="center center" class="TableFooter" style="margin-top: 20px;"
      *ngIf="!Mlease.length">
      <mat-icon  class="infoicon"> info  </mat-icon>
      <span class="nodata">The table does not contain any records</span>
    </div> -->
      <div flex fxLayoutAlign="center center" fxLayout="column" *ngIf="!Mlease.length && isDataLoaded ">
        <img src="./assets/Empty.svg" style="height: 150px;">
        <label class="nodata">The table does not contain any records</label>
      </div>
    </mat-sidenav-content>

  </mat-sidenav-container>