.btn_bg
{
    border-radius: 4px;
  background-color: #f3f3f4;
}
.Renew_btn
{
    background-color: #f3f3f4;
    color: #6e6d7a;
    font-size: 11px;
    font-family: 'poppins-semi' !important;
}
.serachicon_search
{
    color: #98abc4;
    /* font-size: 14px; */
    transform: scale(0.7);
    align-self: center;
    margin-left: 12px;
}
.search_input1{
    height: 25px;
    width: 80%;
    border-radius: 3px;
    color: #394256;
    align-self: center;
    font-family: Poppins;
    font-size: 12px;
    font-weight: 500;
    border: none;
    background: transparent;
}
.search_input1:focus{
    outline: none;
}
::placeholder {
    color: #98abc4;
    font-size: 10px;
}
.table.mat-table {
    background: #fff;
    // width: 100%;
    // overflow: scroll;
    // overflow-x: scroll !important;
    margin-top:20px
}
.mat-row {
    height: auto;
    min-width: max-content !important;
    width: max-content;
  }
  
  .mat-cell {
    padding: 8px 8px 8px 0;
    min-width: 50% !important;
    width: max-content;
  }

  .mat-cell, .mat-header-cell {
    border: none !important;
    font-size: 11px;
    padding: 10px 25px 0px 0;
    overflow: hidden;
  }
  .actionstable{
    height: 14px;
}
::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-ripple .mat-ripple-element {
    opacity: 0.03 !important;
    background-color: black!important;
  }

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: black;
  }
  ::ng-deep  .mat-cell, .mat-header-cell {
    border: none !important;
    font-size: 11px;
    padding: 0px 25px 0px 0;
    color:
    #6e6d7a;
    font-weight: 600px;
  }
  .upload_btn
  {
    color: white;
    background-color: #4410ff;
    width: 51%;
    height: 32px;
    font-size: 12px;
  }
  .form_bg
  {
    background-color: #f3f3f4;
    height: 463px;
    width: 100%;
    margin-top: 94px;
  }
  .form_img
  {
    position: absolute;
    right: 48px;
    top: 175px;
    height: 103px;

  }
  .cl_lab
{
  color: #0d0c22;
  font-size: 11px;
  font-weight: 600;
  line-height: 63px;
}
.spaceinput_outer
{
    align-self: center;
}
.form_align
{
  // margin-left: 17px;
  height: 75%;
  // margin-right: 17px;
}
.cl_formdiv
{
  margin-left: 17px;
   margin-right: 17px;
}
.client_placeholder::placeholder {
  color: black;
  font-size: 10px;
  font-family: "poppins" !important;
}
.client_placeholder{
  color: black;
  font-size: 12px;
  margin-top: 15px !important;
  line-height: 5px;
  font-family: "poppins" !important;
}
.forminput
{
  color:red;

}
// .uploadfiles{
//   background-color: #ececec;
//   border-radius: 4px;
//   cursor: pointer;
//   width: 100%;
//   color: #fff;
//   font-size: 12px;
//   align-items: center;
//   font-family: Poppins;
//   height: 5rem;
//   // padding: 5px -8px 4px 10px;
// }
.dropzonengx{
  border-radius: 4px !important;
  background-color: #f3f3f4;
  color: #6e6d7a;
  font-size: 11px;
  width: 92%;
  height: 89%;
  border: none;
  margin-left: 10px;
}

::ng-deep.drag-preview{
  align-items: center!important;
  border-radius: 5px!important;
  display: flex!important;
  // height: 140px!important;
  justify-content: center !important;
  margin: 10px!important;
  /* max-width: 180px; */
  /* min-height: 61px; */
  // height: 41px !important;
  /* min-width: 180px; */
  padding: 0px 20px!important;
  position: relative!important;

}
.drag-preview:hover{
  background-color: #f3f3f4;
}
.drag-preview {
  align-items: center !important;
  border-radius: 5px !important;
  display: flex !important;
  margin: 10px !important;
  height: 40px !important;
  min-height: 68px !important;
  padding: 0px 20px !important;
  position: relative !important;
}
.uploadfiles{
  background-color: #ececec;
  border-radius: 4px;
  cursor: pointer;
  width: 99%;
  color: #fff;
  font-size: 12px;
  align-items: center;
  font-family: Poppins;
  height: 5rem;

  // padding: 4px 10px 4px 10px;
}
.draganddrop{
  color: #6e6d7a;
  font-family: Poppins;
}
.dragdrop-label{
  font-family: "poppins-semi" !important;
  font-size: 10px;
  border-radius: 4px;
  background-color: #f3f3f4;
  cursor: pointer;
  width: 60%;
  font-size: 13px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #acacac;
 min-width: max-content;
}
.dragdrop-label_2{
  min-width: -webkit-max-content;
  min-width: max-content;
  color: #6e6d7a;
  font-family: "poppins-semi" !important;
  font-size: 10px;
  background-color: #f3f3f4;
  cursor: pointer;
  /* width: 100%; */
  /* height: 54%; */
  border-radius: 4px;
}
.add_div
{
  width: 89%;
  height: 91%;
  align-self: center;
  margin-top: 18px;
}
.btn_Add
{
  width: 100%;
  /* height: 100%; */
  background-color: #4410ff;
  color: white;
  font-size: 12px;
}
.upload_bg
{
  background-color: #efeff8;
  height: 151px;
  width: 100%;
  margin-top: 22px;
}
tr.mat-header-row {
  height: 35px;
}
.viewdetails_arrow
{
  
  margin-top: -9px !important;
  margin-left: 8px !important;

}
// ::ng-deep.mat-datepicker-content .mat-calendar{
//   width: 10px !important;
//   height: 10px !important;
// }
// 
// .mat-row,
// .mat-header-row {
//   min-width: 1123px;
//   width: 100%;
//   width: max-content;
// }

// .mat-table {
//   overflow: scroll;
//   max-height: 500px;
// }

// .mat-cell,
// .mat-header-cell {
//   min-width: 90px;
// }
// /*unnecessary to make table header fixed*/
// .mat-header-row {
//   top: 0;
//   position: sticky;
//   z-index: 1;
//   background-color: inherit;
//   text-align: center;
// }

th{
 
  flex-direction: column;

}
tr{
  // height: 50px !important;
  line-height: normal;
  width: max-content;
}

::-webkit-input-placeholder{
  font-size: 8px;
  font-family: 'poppins-semi' !important;
  margin-top: 10px;
}
.formfield{
  padding: 0;
}
.datepicker{
 line-height: 5px;
 margin-top: 5px !important;
}

.color-green{
  color: green;
}
.color-yellow{
  color: yellow;
}
.color-red{
  color: red;
}
.color-blue{
  color: blue;
}
.color-grey{
  color: rebeccapurple;
}