<div fxLayout="column" fxFlex="100">
  <div fxFlex fxLayout="row" fxLayoutGap="10px">
    <div fxFlex="70" class="btn_bg">
      <!-- fxLayoutAlign="flex-start flex-start" -->
      <button mat-flat-button class="Renew_btn" (click)="openDialogrenew()" >Renew</button>
      <button mat-flat-button class="Renew_btn" (click)="openDialogvacate()">Vacate</button>
      <button mat-flat-button class="Renew_btn" (click)="openDialogterminate()">Terminate</button>
      <!-- <button mat-flat-button class="Renew_btn">Send</button> -->
      <!-- <button mat-flat-button class="Renew_btn">Delete</button> -->
    </div>
    <div fxFlex="29" fxLayout="row" class="btn_bg">
      <mat-icon matSuffix class="serachicon_search">search</mat-icon>
      <input matInput class="search_input1" placeholder="Search Document" (keyup)="applyFilter($event)">
    </div>
  </div>
  <div style="height: 20px;">

  </div>
  <mat-sidenav-container class="example-container" autosize hasBackdrop="false">
    <mat-sidenav #drawer class="example-sidenav " position="end" mode="side" (openedChange)="drawerToggled($event)">

      <div style="width: 100%;height: 100% !important;">

        <div class="form_bg" fxLayout="column" fxLayoutGap="10px">

          <mat-toolbar class="arrowtoolbar" fxLayout="row" fxLayoutAlign="start center">
            <img class="toggleimage"   (click)="drawer.toggle()" src="./assets/slide_close_arrow.svg">
          </mat-toolbar> 

          <div fxLayout="row" class="clientview">
            <div fxFlex="50" class="labelcss">Client Name</div>
            <div fxFlex="50" class="labelcssvalue"  *ngIf="variableclient"> {{variableclient}}</div>
            <div fxFlex="50" class="labelcssvalue" *ngIf="!variableclient"> -</div>
          </div>
          <div fxLayout="row" class="clientview">
            <div fxFlex="50" class="labelcss">FileName</div>
            <div fxFlex="50" class="labelcssvalue" *ngIf="variablefilename">{{variablefilename}}</div>
            <div fxFlex="50" class="labelcssvalue" *ngIf="!variablefilename">-</div>
          </div>
          <div fxLayout="row" class="clientview">
            <div fxFlex="50" class="labelcss">Creation Date</div>
            <div fxFlex="50" class="labelcssvalue"  *ngIf="variableCreatedOn">{{variableCreatedOn | date: 'dd.MM.yyyy'}}</div>
            <div fxFlex="50" class="labelcssvalue" *ngIf="!variableCreatedOn">-</div>
          </div>
          <div fxLayout="row" class="clientview">
            <div fxFlex="50" class="labelcss">Expiry Date</div>
            <div fxFlex="50" class="labelcssvalue"  *ngIf="variableExpiryDate">{{variableExpiryDate  | date: 'dd.MM.yyyy'}}</div>
            <div fxFlex="50" class="labelcssvalue" *ngIf="!variableExpiryDate">-</div>
          </div>
          <div fxLayout="row" class="clientview">
            <div fxFlex="50" class="labelcss">Total Deposit</div>
            <div fxFlex="50" class="labelcssvalue" *ngIf="variableTotalDeposit">{{variableTotalDeposit}}</div>
            <div fxFlex="50" class="labelcssvalue" *ngIf="!variableTotalDeposit">-</div>
          </div>
          <div fxLayout="row" class="clientview">
            <div fxFlex="50" class="labelcss">Rental</div>
            <div fxFlex="50" class="labelcssvalue" *ngIf="variableRental"> {{variableRental}}</div>
            <div fxFlex="50" class="labelcssvalue" *ngIf="!variableRental">-</div>
          </div>

          <div fxLayout="row" class="clientview">
            <div fxFlex="50" class="labelcss">Maintenance</div>
            <div fxFlex="50" class="labelcssvalue" *ngIf="vMaintenance"> {{vMaintenance}}</div>
            <div fxFlex="50" class="labelcssvalue" *ngIf="!vMaintenance">-</div>
          </div>
          <div fxLayout="row" class="clientview">
            <div fxFlex="50" class="labelcss">Bank Name</div>
            <div fxFlex="50" class="labelcssvalue" *ngIf="variableBankName"> {{variableBankName}}</div>
            <div fxFlex="50" class="labelcssvalue" *ngIf="!variableBankName">-</div>
          </div>
          <div fxLayout="row" class="clientview">
            <div fxFlex="50" class="labelcss">Holder Name</div>
            <div fxFlex="50" class="labelcssvalue" *ngIf="variableHolderName"> {{variableHolderName}}</div>
            <div fxFlex="50" class="labelcssvalue" *ngIf="!variableHolderName">-</div>
          </div>
          <div fxLayout="row" class="clientview">
            <div fxFlex="50" class="labelcss">Account No.</div>
            <div fxFlex="50" class="labelcssvalue" *ngIf="variableAccountNo"> {{variableAccountNo}}</div>
            <div fxFlex="50" class="labelcssvalue" *ngIf="!variableAccountNo">-</div>
          </div>
          <div fxLayout="row" class="clientview">
            <div fxFlex="50" class="labelcss">Mode of Transfer</div>
            <div fxFlex="50" class="labelcssvalue" *ngIf="variaModeofTransfer"> {{variaModeofTransfer}}</div>
            <div fxFlex="50" class="labelcssvalue" *ngIf="!variaModeofTransfer">-</div>
          </div>
          <div fxLayout="row" class="clientview">
            <div fxFlex="50" class="labelcss">IFSC Code</div>
            <div fxFlex="50" class="labelcssvalue" *ngIf="varIFSCCode"> {{varIFSCCode}}</div>
            <div fxFlex="50" class="labelcssvalue" *ngIf="!varIFSCCode">-</div>
          </div>
          <div fxLayout="row" class="clientview">
            <div fxFlex="50" class="labelcss">Advance Request</div>
            <div fxFlex="50" class="labelcssvalue" *ngIf="vAdvanceRequest"> {{vAdvanceRequest}}</div>
            <div fxFlex="50" class="labelcssvalue" *ngIf="!vAdvanceRequest">-</div>
          </div>
          <div fxLayout="row" class="clientview">
            <div fxFlex="50" class="labelcss" >Remarks</div>
            <div fxFlex="50" class="labelcssvalue" *ngIf="vRemarks"> {{vRemarks}}</div>
            <div fxFlex="50" class="labelcssvalue" *ngIf="!vRemarks">-</div>
          </div>
          <div fxLayout="row" class="clientview">
            <div fxFlex="50" class="labelcss">Electrical</div>
            <div fxFlex="50" class="labelcssvalue"  *ngIf="vElectrical"> {{vElectrical}}</div>
            <div fxFlex="50" class="labelcssvalue" *ngIf="!vElectrical">-</div>
          </div>
          <div fxLayout="row" class="clientview">
            <div fxFlex="50" class="labelcss">Condition</div>
            <div fxFlex="50" class="labelcssvalue" *ngIf="vCondition">{{vCondition}}</div>
            <div fxFlex="50" class="labelcssvalue" *ngIf="!vCondition">-</div>
          </div>
        </div>
      </div>
    </mat-sidenav>

    <mat-sidenav-content *ngIf="valuetable">
      <div fxLayout="row" fxLayoutGap="10px" style="width: 100%;">
        <div fxFlex="100" style="overflow-x: scroll !important;">
          <table mat-table [dataSource]="dataSource" colspan=20
            style="overflow-x: scroll !important;width:100% !important" matSort class="table">
            <!-- <ng-container matColumnDef="select" sticky>
              <th mat-header-cell *matHeaderCellDef>
                <mat-checkbox class="headcheckbox" color="primary" (change)="$event ? masterToggle() : null"
                  [checked]="selection.hasValue() && isAllSelected()"
                  [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
                </mat-checkbox>
              </th>
              <td mat-cell *matCellDef="let row;index as i;">
                <div fxLayout="row" fxLayoutAlign="start center">
                  <mat-checkbox color="primary" [checked]="selectedRowIndex2==row.leaseID">
                  </mat-checkbox>
                </div>
              </td>
            </ng-container> -->

            <ng-container matColumnDef="ClientName">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Client </th>
              <td mat-cell *matCellDef="let row;let element" class="datarow"> {{row.clientName}} </td>
            </ng-container>


            <ng-container matColumnDef="FileName">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Document Name
              </th>
              <td mat-cell *matCellDef="let row" class="datarow"> {{row.documentName}} </td>
            </ng-container>


            <ng-container matColumnDef="DaysRemaining">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Days Remaining
              </th>
              <td mat-cell *matCellDef="let row" class="datarow"
                [ngStyle]="{'color': getWidth(GetRemainingDays(row.expiryDate))}">
                {{GetRemainingDays(row.expiryDate)}} days
              </td>
            </ng-container>


            <ng-container matColumnDef="ExpiryDate">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Expiry Date
              </th>
              <td mat-cell *matCellDef="let row" class="datarow"> {{row.expiryDate | date:'dd/MM/yyyy'}} </td>
            </ng-container>

            <ng-container matColumnDef="Action">
              <th mat-header-cell *matHeaderCellDef mat-sort-header style="text-align: center;"> Action </th>
              <td mat-cell *matCellDef="let row" class="datarow">
                <div fxLayout="row" fxLayoutAlign="space-evenly center">

                  <div fxLayout="row" fxLayoutAlign="space-evenly center" fxLayoutGap="5px" (click)="DownloadLeaseDocument(row)">
                    <img src="./assets/download_ash.svg" class="actionstable">
                    <span class="actionsspan">Download</span>
                  </div>
                  <div fxLayout="row" fxLayoutAlign="space-evenly center" fxLayoutGap="5px"
                   >
                    <img src="./assets/iconmonstr-paper-plane-2 (2).svg" class="actionstable">
                    <span class="actionsspan" (click)="openSendMailDialog(row.documentID)">Send</span>
                  </div>
                  <!-- <div fxLayout="row" fxLayoutAlign="space-evenly center" fxLayoutGap="5px">
                    <img src="./assets/iconmonstr-product-10.svg" class="actionstable">
                    <span class="actionsspan">Review</span>
                  </div> -->
                  
                </div>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns" style="background-color: #f3f3f4;"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" style="border-bottom-style: none;cursor: pointer;"
              [ngClass]="{'highlight3': selectedRowIndex2 == row.leaseID}" (click)="highlight2(row);docdata(row);go(row)"></tr>
          </table>

        </div>
      </div>
    </mat-sidenav-content>

  </mat-sidenav-container>