.btn_task{
    width: 90%;
    height: 25px;
    // margin: 23px 89px 15px 79px;
    // padding: 9px 568px 8px 554px;
    border: solid 1px #f3f3f4;
    border-radius: 4px;
    background-color: #ffffff;
    color: #6e6d7a; 
    margin-top: 20px;
    cursor: pointer;
}
.footer {
    position: fixed;
    bottom: 0;
    height: 100px;
    width: 61%;
    overflow-x: scroll;
    background-color: #ebe6ff;
    color: #0d0c22;
    padding: 10px 10px;
 }
 .main_input_field1{
    background-color: #ffffff;width: 92%; border-radius: 4px; margin-top: 3%;
 }
 .main_input_field2{
  background-color: #ffffff; border-radius: 4px;width: 100% !important;border: 1px solid #acacac;
}
 .input_field{outline: none; color: #acacac; font-size:10px; font-family: 'poppins' !important; 
    border: transparent; background-color: #ffffff;
    width: 90%;
}
.input_field1{outline: none; color: #acacac; font-size:10px; font-family: 'poppins' !important; 
  border: transparent; background-color: #ffffff;
  width: 98%;
}
.rectangle-box{
    width: 36px;
    height: 20px;
    // margin: 4px 5px 21px 4px;
    // padding: 1px 9px;
    border-radius: 4px;
    background-color: #f6f6f6;
    font-family: 'poppins-semi' !important;
    font-size: 12px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.63;
    letter-spacing: normal;
    text-align: center;
    color: #0d0c22;
}
.ava_cls{
    font-family: 'poppins-semi' !important;
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #0d0c22;
}
.div_cls{
    width: 150px !important;
    height: 55px;
    // margin: 0 22px 0 0;
    // padding: 12px 46px 12px 14px;
    // padding: 0px 20px;
    padding: 10px;
    border-radius: 4px;
    background-color: #ffffff;
    
}
.div1_cls{
    font-family: 'poppins-semi';
  font-size: 10px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #0d0c22;
}
.div2_cls{
    font-family: 'poppins-semi';
    font-size: 10px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #c2bedf;
  
}
.mat-grid-tile .mat-figure {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    // display: flex;
     align-items: start !important; 
    justify-content: start !important; 
    height: 100%;
    padding: 0;
    margin: 0;
}
.mat_cls{
    width: 346px;
  height: 159px;
  margin: 0 32px 32px 0;
//   padding: 21px 16px 15px 27px;
  border-radius: 4px;
  box-shadow: 0 2px 6px 0 rgba(22, 115, 242, 0.12);
  background-color: gray;
}
.flex-row-container {
    // background: #aaa;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    overflow: auto;
}
.flex-row-container > .flex-row-item {
    height: 170px;
    width: 30%;
}

.flex-row-item {
    border-radius: 4px;
    box-shadow: 0 2px 6px 0 rgba(22, 115, 242, 0.12);
    background-color: #ffffff;
    margin: 10px;
//   overflow: auto;
}
.Rectangle-7499 {
    width: 100px;
    height: 22px;
    // margin: 20px 55px 4px 0;
    border-radius: 4px;
    background-color: #f9f8fe;
    font-family: 'poppins-semi' !important;
  font-size: 10px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #6e6d7a;
  }
  .cls_name{
    font-family: 'poppins-semi' !important;
    font-size: 10px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #0d0c22;
  }
  .cls_loc{
    font-family: 'poppins-semi' !important;
    font-size: 10px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #c2bedf;
  }
  // .passwordStatusBarColor .mat-progress-bar-fill::after {
  //   background-color: #16f527;
  // }
  .passwordStatusBarColor ::ng-deep .mat-progress-bar-fill::after {
    background-color: #16f527;
}

.add-task{
  font-size: 10px;
  color: #6e6d7a;
  font-family: "poppins-semi" !important;
}
.dot-image{
  transform: scale(0.8);
  cursor: pointer;
}
.location-span{
  color: #c2bedf;
  font-size: 10px;
  font-family: "poppins-semi" !important;
}
.percentage{
  font-size: 10px;
  color: #6e6d7a;
  font-family: "poppins-semi" !important;
}
.lorem-ipsum{
  font-family: 'poppins-semi' !important;
  font-size: 10px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #6e6d7a;
}

.tab-grp.mat-tab-group {
  padding: 10px;
  .mat-tab-header {
    height: 10% !important;
    .mat-tab-header-pagination-controls-enabled .mat-tab-header-pagination {
      display: none !important;
    }
    .mat-ink-bar{
      display: none;
  }
  .tab-grp.mat-tab-label .mat-tab-label-content{
    font-size: 12px;
    font-family: 'poppins-semi' !important;
    color: #0d0c22;
  }
    .mat-tab-label-container {
      box-shadow: 0 2px 6px 0 #eaf1fa;
      left: 0px; // if you need to use it on mobile - set left position to 0
      width: 100%;
      height:100%;
      border-bottom: none;
        .mat-tab-labels {   
          // box-shadow: 0 2px 6px 0 #eaf1fa;
          // overflow: scroll !important;
          // place-content: space-evenly !important;  
          .mat-tab-label {
            padding: 1% !important;
            margin: 0px !important;
            font-size: 10px;
            font-family: "poppins-semi" !important;
            color: #c2bedf;
            font-weight: 500;
            min-width: 100px !important;
            border-bottom: none;
            height: 30px !important ;         
            margin-top: 0px !important;
            opacity: 1 !important;
          }
          .mat-tab-label-active{
            border-bottom: none !important;
            color: #0d0c22;
            height: 30px !important;
            border-radius: 4px;
          }
          .mat-tab-header {
            border-bottom: none !important;
        }
        }
      
    }
  }
}

.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: white !important;
}
.last-tab{
  align-items: flex-end;
  min-width: 150px !important;
}
.cloneIcon{
  font-size: 10px;
  font-family: "poppins-semi" !important;
}
.top-menu-content{
  font-size: 10px !important;
  font-family: "poppins-semi" !important;
  color: #0d0c22;
  height: 30px;
  line-height: normal;
}
.top-menu{
  height: 160px;
}

.available-footer-div{
  width: 100%;padding: 5px 15px;
}


.main_input_field{
  border:1px solid #f3f3f4 !important;
  background-color: #fff;
  width: 92%;
   border-radius: 4px;
   margin-top: 0px !important;
  height: 30px;
  align-items: center;
}
.serachicon_search
{
    color: #acacac;
    transform: scale(0.7);
    align-self: center;
    margin-left: 6px;
}
.input_field11{outline: none; color: #acacac; font-size:10px; font-family: 'poppins' !important; border: transparent; 
  width: 90%;
  background-color: #fff;
}
.input_field11::placeholder{
    color: #acacac !important;
    font-size: 10px !important;
}

.voice-image{
  vertical-align: middle; 
  width: 8px;
}

.green_dot{
  transform: scale(0.7);
}
.sixteenclass{
  color: #0d0c22 !important;
  font-size: 10px !important;
  font-family: "poppins-semi" !important;
}
.pointer{
  cursor: pointer;
}