<div fxLayout="column" fxFlex="100" class="bgouter">
  <div fxFlex fxLayout="row" fxLayoutGap="10px">
    <!-- <div fxFlex="70" class="btn_bg">
        fxLayoutAlign="flex-start flex-start"
        <button mat-flat-button class="Renew_btn">Renew</button>
        <button mat-flat-button class="Renew_btn">Vacate</button>
        <button mat-flat-button class="Renew_btn">Terminate</button>
        <button mat-flat-button class="Renew_btn">Delete</button>
      </div> -->
    <!-- <div fxFlex></div> -->
    <div fxLayout="row" fxLayoutAlign="space-around center" fxFlex="30">
      <div fxLayout="row" class="btn_bg2" fxFlex="100">
        <mat-icon matSuffix class="serachicon_search">search</mat-icon>
        <input matInput class="search_input1 forminputedit" autocomplete="off" placeholder="Search Document"
          (keyup)="applyFilter($event)">
      </div>
    </div>
  </div>
  <div style="height:20px;">

  </div>

  <mat-sidenav-container class="example-container" autosize hasBackdrop="false">
    <mat-sidenav #drawer class="example-sidenav " position="end" mode="side" (openedChange)="drawerToggled($event)">
      <div class="top-formbg">

        <div class="form_bg" fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="10px">

          <mat-toolbar class="arrowtoolbar" fxLayout="row" fxLayoutAlign="start center">
            <img class="toggleimage" (click)="drawer.toggle();toggleSideNav();" src="./assets/slide_close_arrow.svg">
          </mat-toolbar>

          <div fxLayout="row" fxFlex="100" class="clientview">
            <div fxFlex="50" class="labelcss">Client name</div>
            <div fxFlex="50" class="labelcssvalue" *ngIf="variableclient">{{variableclient}}</div>
            <div fxFlex="50" class="labelcssvalue" *ngIf="!variableclient">-</div>
          </div>
          <div fxLayout="row" fxFlex="100" class="clientview">
            <div fxFlex="50" class="labelcss">Client name</div>
            <div fxFlex="50" class="labelcssvalue" *ngIf="variableclient">{{variableclient}}</div>
            <div fxFlex="50" class="labelcssvalue" *ngIf="!variableclient">-</div>
          </div>
          <div fxLayout="row" fxFlex="100" class="clientview">
            <div fxFlex="50" class="labelcss">File name</div>
            <div fxFlex="50" class="labelcssvalue" *ngIf="variablefilename">{{variablefilename}}</div>
            <div fxFlex="50" class="labelcssvalue" *ngIf="!variablefilename">-</div>
          </div>
          <div fxLayout="row" fxFlex="100" class="clientview">
            <div fxFlex="50" class="labelcss">Proposed date</div>
            <div fxFlex="50" class="labelcssvalue" *ngIf="proposeddate">{{proposeddate | date: 'dd.MM.yyyy'}}</div>
            <div fxFlex="50" class="labelcssvalue" *ngIf="!proposeddate">-</div>
          </div>
          <div fxLayout="row" fxFlex="100" class="clientview">
            <div fxFlex="50" class="labelcss">Accepted date</div>
            <div fxFlex="50" class="labelcssvalue" *ngIf="accepteddate">{{accepteddate | date: 'dd.MM.yyyy'}}</div>
            <div fxFlex="50" class="labelcssvalue" *ngIf="!accepteddate">-</div>
          </div>
          <div fxLayout="row" fxFlex="100" class="clientview">
            <div fxFlex="50" class="labelcss">Inspected date</div>
            <div fxFlex="50" class="labelcssvalue" *ngIf="inspectiondate">{{inspectiondate | date: 'dd.MM.yyyy'}}</div>
            <div fxFlex="50" class="labelcssvalue" *ngIf="!inspectiondate">-</div>
          </div>
          <div fxLayout="row" fxFlex="100" class="clientview">
            <div fxFlex="50" class="labelcss">Inspected by</div>
            <div fxFlex="50" class="labelcssvalue" *ngIf="inspectedby">{{inspectedby}}</div>
            <div fxFlex="50" class="labelcssvalue" *ngIf="!inspectedby">-</div>
          </div>
          <div fxLayout="row" fxFlex="100" class="clientview">
            <div fxFlex="50" class="labelcss">Rent due</div>
            <div fxFlex="50" class="labelcssvalue" *ngIf="rentifany">{{rentifany}}</div>
            <div fxFlex="50" class="labelcssvalue" *ngIf="!rentifany">-</div>
          </div>
          <div fxLayout="row" fxFlex="100" class="clientview">
            <div fxFlex="50" class="labelcss">Maintenance due</div>
            <div fxFlex="50" class="labelcssvalue" *ngIf="maintenancedue">{{maintenancedue}}</div>
            <div fxFlex="50" class="labelcssvalue" *ngIf="!maintenancedue">-</div>
          </div>
          <div fxLayout="row" fxFlex="100" class="clientview">
            <div fxFlex="50" class="labelcss">Damage recovery</div>
            <div fxFlex="50" class="labelcssvalue" *ngIf="damagerecovery">{{damagerecovery}}</div>
            <div fxFlex="50" class="labelcssvalue" *ngIf="!damagerecovery">-</div>
          </div>
          <div fxLayout="row" fxFlex="100" class="clientview">
            <div fxFlex="50" class="labelcss">Advance balance</div>
            <div fxFlex="50" class="labelcssvalue" *ngIf="advancebalance">{{advancebalance}}</div>
            <div fxFlex="50" class="labelcssvalue" *ngIf="!advancebalance">-</div>
          </div>
          <div fxLayout="row" fxFlex="100" class="clientview">
            <div fxFlex="50" class="labelcss">Mode of transfer</div>
            <div fxFlex="50" class="labelcssvalue" *ngIf="modeoftransfer">{{modeoftransfer}}</div>
            <div fxFlex="50" class="labelcssvalue" *ngIf="!modeoftransfer">-</div>
          </div>
          <div fxLayout="row" fxFlex="100" class="clientview">
            <div fxFlex="50" class="labelcss">Returnable assets</div>
            <div fxFlex="50" class="labelcssvalue" *ngIf="returnableassets">{{returnableassets}}</div>
            <div fxFlex="50" class="labelcssvalue" *ngIf="!returnableassets">-</div>
          </div>
          <div fxLayout="row" fxFlex="100" class="clientview">
            <div fxFlex="50" class="labelcss">Verified by</div>
            <div fxFlex="50" class="labelcssvalue" *ngIf="verifiedby">{{verifiedby}}</div>
            <div fxFlex="50" class="labelcssvalue" *ngIf="!verifiedby">-</div>
          </div>
          <div fxLayout="row" fxFlex="100" class="clientview">
            <div fxFlex="50" class="labelcss">Remarks</div>
            <div fxFlex="50" class="labelcssvalue" *ngIf="remarks">{{remarks}}</div>
            <div fxFlex="50" class="labelcssvalue" *ngIf="!remarks">-</div>
          </div>
        </div>
      </div>
    </mat-sidenav>


    <mat-sidenav-content *ngIf="valuetable">
      <div fxLayout="row" fxLayoutGap="10px" style="width: 100%;">
        <div fxFlex="100" style="overflow-x: scroll !important;">
          <table mat-table [dataSource]="dataSource" colspan=20
            style="overflow-x: scroll !important;width:100% !important" matSort class="table example-container">
            <!-- <ng-container matColumnDef="select" sticky>
              <th mat-header-cell *matHeaderCellDef>
                <mat-checkbox class="headcheckbox" color="primary"  (change)="$event ? masterToggle() : null"
                  [checked]="selection.hasValue() && isAllSelected()"
                  [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
                </mat-checkbox>
              </th>
              <td mat-cell *matCellDef="let row;index as i;">
                <div fxLayout="row" fxLayoutAlign="start center">
                  <mat-checkbox color="primary" [checked]="selectedRowIndex2==row.leaseID">
                  </mat-checkbox>
                </div>
              </td>
            </ng-container> -->

            <ng-container matColumnDef="ClientName">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Client </th>
              <td mat-cell *matCellDef="let row;let element" class="datarow"> {{row.clientName}} </td>
            </ng-container>


            <ng-container matColumnDef="FileName">
              <th mat-header-cell *matHeaderCellDef mat-sort-header style="text-align: left;"> Document Name
              </th>
              <td mat-cell *matCellDef="let row" class="datarow"> {{row.documentName}} </td>
            </ng-container>


            <ng-container matColumnDef="DaysRemaining">
              <th mat-header-cell *matHeaderCellDef mat-sort-header style="text-align: left;"> Days Remaining
              </th>
              <td mat-cell *matCellDef="let row" style="text-align: left;" class="datarow"
                [ngStyle]="{'color': getWidth(GetRemainingDays(row.expiryDate))}">
                {{GetRemainingDays(row.expiryDate)}} days</td>
            </ng-container>


            <ng-container matColumnDef="ExpiryDate">
              <th mat-header-cell *matHeaderCellDef mat-sort-header style="text-align: left;"> Expiry Date
              </th>
              <td mat-cell *matCellDef="let row" class="datarow"> {{row.expiryDate | date:'dd/MM/yyyy'}} </td>
            </ng-container>

            <ng-container matColumnDef="Action">
              <th mat-header-cell *matHeaderCellDef mat-sort-header style="text-align: center;"> Action </th>
              <td mat-cell *matCellDef="let row" class="datarow">
                <div fxLayout="row" fxLayoutAlign="space-between center">

                  <div fxLayout="row" fxLayoutAlign="space-evenly center" fxLayoutGap="5px"
                    (click)="DownloadLeaseDocument(row)" matTooltip="Download">
                    <img src="./assets/download_ash.svg" class="actionstable">
                    <!-- <span class="actionsspan">Download</span> -->
                  </div>

                  <div fxLayout="row" fxLayoutAlign="space-evenly center" fxLayoutGap="5px"
                    (click)="sideNavStatus=true;openSendMailDialog(row.documentID)" matTooltip="Send Mail">
                    <img src="./assets/iconmonstr-paper-plane-2 (2).svg" class="actionstable">
                    <!-- <span class="actionsspan"  >send</span> -->
                  </div>
                  <div fxLayout="row" fxLayoutAlign="space-evenly center" fxLayoutGap="5px" class="pointer"
                    (click)="Deleteleaserow(row.documentID);" matTooltip="Delete">
                    <img src="./assets/iconmonstr-trash-can-28.svg" class="actionstable">
                    <!-- <span class="actionsspan">Delete</span> -->
                  </div>
                  <!-- <div fxLayout="row" fxLayoutAlign="space-evenly center" fxLayoutGap="5px">
                    <img src="./assets/iconmonstr-product-10.svg" class="actionstable">
                    <span class="actionsspan" (click)="openSendMailDialog(row.documentID)">Review</span>
                  </div> -->
                </div>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns" style="background-color: #f3f3f4;"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"
              style="border-bottom-style: none; cursor: pointer;" (click)="loadLeaseDetails(row)"
              [ngClass]="{'highlight3': selectedRowIndex2 == row.leaseID}" (click)="highlight2(row);docdata(row)">
            </tr>
          </table>


        </div>

      </div>
      <!--    
      <div flex fxLayoutAlign="center center" class="TableFooter" style="margin-top: 20px;"
          *ngIf="!underNoticeLeases.length">
          <mat-icon  class="infoicon">
            info
          </mat-icon>
          <span class="nodata">The table does not contain any records</span>
        </div> -->
      <div flex fxLayoutAlign="center center" fxLayout="column" *ngIf="!underNoticeLeases.length && isDataLoaded">
        <img src="./assets/Empty.svg" style="height: 150px;">
        <label class="nodata">The table does not contain any records</label>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>