.btn_bg
{
    border-radius: 4px;
  background-color: #f3f3f4;
}
.Renew_btn
{
    background-color: #f3f3f4;
    color: #6e6d7a;
    font-size: 11px;
    font-weight: 500;
}
.serachicon_search
{
    color: #98abc4;
    /* font-size: 14px; */
    transform: scale(0.7);
    align-self: center;
    margin-left: 12px;
}
.btn_bg2
{  height: 35px;
    border-radius: 4px;
  background-color: #f3f3f4;
}
.search_input1{
    height: 25px;
    width: 80%;
    border-radius: 3px;
    color: #394256;
    align-self: center;
    font-family: Poppins;
    font-size: 12px;
    font-weight: 500;
    border: none;
    background: transparent;
}
.search_input1:focus{
    outline: none;
}

.table.mat-table {
    background: #fff;
    // width: 100%;
    // overflow: scroll;
    // overflow-x: scroll !important;
    width: 100%;
}
.mat-row {
    height: auto;
    min-width: max-content !important;
    width: max-content;
  }
  
  .mat-cell {
    padding: 8px 8px 8px 0;
    min-width: 50% !important;
    width: max-content;
  }

  .mat-cell, .mat-header-cell {
    border: none !important;
    font-size: 11px;
    padding: 10px 25px 0px 0;
    overflow: hidden;
  }
  .actionstable{
    height: 14px;
}
::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-ripple .mat-ripple-element {
    opacity: 0.03 !important;
    background-color: black!important;
  }

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: black;
  }
  ::ng-deep  .mat-cell, .mat-header-cell {
    border: none !important;
    font-size: 11px;
    padding: 0px 25px 0px 0;
    color:
    #6e6d7a;
    font-weight: 600px;
  }
  .upload_btn
  {
    color: white;
    background-color: #4410ff;
    width: 51%;
    height: 32px;
    font-size: 12px;
  }

  .form_img
  {
    position: absolute;
    right: 48px;
    top: 152px;
    height: 103px;

  }
  .cl_lab
{
  color: #0d0c22;
  font-size: 11px;
  font-weight: 600;
  line-height: 63px;
}
.spaceinput_outer
{
    align-self: center;
}
.form_align
{
  // margin-left: 17px;
  height: 75%;
  // margin-right: 17px;
}
.cl_formdiv
{
  margin-left: 17px;
   margin-right: 17px;
}
.client_placeholder::placeholder {
  color: black;
  font-size: 10px;
}
.forminput
{
  color:red
}
// .uploadfiles{
//   background-color: #ececec;
//   border-radius: 4px;
//   cursor: pointer;
//   width: 100%;
//   color: #fff;
//   font-size: 12px;
//   align-items: center;
//   font-family: Poppins;
//   height: 5rem;
//   // padding: 5px -8px 4px 10px;
// }
.dropzonengx{
  border-radius: 4px !important;
  background-color: #f3f3f4;
  color: #6e6d7a;
  font-size: 11px;
  width: 92%;
  height: 89%;
  border: none;
  margin-left: 10px;
}

::ng-deep.drag-preview{
  align-items: center!important;
  border-radius: 5px!important;
  display: flex!important;
  // height: 140px!important;
  justify-content: center !important;
  margin: 10px!important;
  /* max-width: 180px; */
  /* min-height: 61px; */
  // height: 41px !important;
  /* min-width: 180px; */
  padding: 0px 20px!important;
  position: relative!important;

}
.drag-preview:hover{
  background-color: #f3f3f4;
}
.drag-preview {
  align-items: center !important;
  border-radius: 5px !important;
  display: flex !important;
  margin: 10px !important;
  height: 40px !important;
  min-height: 68px !important;
  padding: 0px 20px !important;
  position: relative !important;
}
.uploadfiles{
  background-color: #ececec;
  border-radius: 4px;
  cursor: pointer;
  width: 99%;
  color: #fff;
  font-size: 12px;
  align-items: center;
  font-family: Poppins;
  height: 5rem;

  // padding: 4px 10px 4px 10px;
}
.draganddrop{
  color: #6e6d7a;
  font-family: Poppins;
}
.dragdrop-label{
  font-family: "poppins-semi" !important;
  font-size: 10px;
  border-radius: 4px;
  background-color: #f3f3f4;
  cursor: pointer;
  width: 60%;
  font-size: 13px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #acacac;
 min-width: max-content;
}
.dragdrop-label_2{
  min-width: -webkit-max-content;
  min-width: max-content;
  color: #6e6d7a;
  font-family: "poppins-semi" !important;
  font-size: 10px;
  background-color: #f3f3f4;
  cursor: pointer;
  /* width: 100%; */
  /* height: 54%; */
  border-radius: 4px;
}
.add_div
{
  width: 89%;
  height: 91%;
  align-self: center;
  margin-top: 18px;
}
.btn_Add
{
  width: 100%;
  /* height: 100%; */
  background-color: #4410ff;
  color: white;
  font-size: 12px;
}
.upload_bg
{
  background-color: #efeff8;
  height: 151px;
  width: 100%;
  margin-top: 22px;
}
tr.mat-header-row {
  height: 35px;
}
.viewdetails_arrow
{
  
  margin-top: -9px !important;
  margin-left: 8px !important;

}
// ::ng-deep.mat-datepicker-content .mat-calendar{
//   width: 10px !important;
//   height: 10px !important;
// }
// 
// .mat-row,
// .mat-header-row {
//   min-width: 1123px;
//   width: 100%;
//   width: max-content;
// }

// .mat-table {
//   overflow: scroll;
//   max-height: 500px;
// }

// .mat-cell,
// .mat-header-cell {
//   min-width: 90px;
// }
// /*unnecessary to make table header fixed*/
// .mat-header-row {
//   top: 0;
//   position: sticky;
//   z-index: 1;
//   background-color: inherit;
//   text-align: center;
// }

.example-container {
  width: 100%;
  height: 100%;
  float: left;
  // border: 1px solid rgba(0, 0, 0, 0.5);
  background-color: white;
}
.example-sidenav {
  // padding: 20px;
  width:30%;
  float: left;
  height: 85% !important;

}


.datarow{
  font-size: 10px !important;
  font-family: 'poppins-semi' !important;
}
// .datarow:hover{
//   font-family: 'poppins-semi' !important;
//   font-size: 12px;
//   color: black;
// }
.datarowrow:hover{
  font-family: 'poppins-semi' !important;
  font-size: 12px;
  color: black;
}

.mat-sidenav-backdrop.mat-sidenav-shown{
  background-color: transparent !important;
}



.highlight2{
  font-size: 12px;
  font-family: 'poppins-semi' !important;
  color: #0d0c22;
}
.label_connect .mat-form-field-appearance-legacy .mat-form-field-label{
  font-size: 10px !important;
  font-family: 'poppins' !important;
  color: #596069 !important;
  line-height: 3.5;

}
tr{
  background-color: #f4f3f4;
  border-bottom-style:none;
}
tr:hover{
  font-size: 12px !important;
  font-family: 'poppins-semi' !important;
  color: #0d0c22 !important;
}

.labelcss{
  font-size: 11px;
  color: #0d0c22;
  font-family: 'poppins-semi' !important;
  justify-content: left;
  text-align: left;
}
.labelcssvalue{
  font-size: 11px;
  color: #838383;
  font-family: 'poppins-semi' !important;
  text-align: left;
}


td{
  font-size: 12px !important;
}
tr:hover {
   color: black;
   cursor: pointer;
   font-family: 'poppins-semi' !important;
}
th{
  font-family: 'poppins-semi' !important;
}
tr{
height: 40px !important;
}





.mat-row {
  height: auto;
  min-width: max-content !important;
}

.mat-cell {
  padding: 8px 8px 8px 0;
}

.mat-cell, .mat-header-cell {
  border: none !important;
  font-size: 12px;
}
::ng-deep  .mat-cell, .mat-header-cell {
  border: none !important;
  font-size: 12px;
  color:
  #6e6d7a;
  font-weight: 500;
}


tr{
  background-color: #f4f3f4;
  border-bottom-style:none;
}
tr:hover{
  font-size: 12px !important;
  font-family: 'poppins-semi' !important;
  color: #0d0c22 !important;
}
td{
  background-color: white;
}


.form_bg
  {
    background-color: #f3f3f4;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
  }

.mat-sidenav-content{
  height: 90vh !important;
}



.clientview{
  text-align: left !important;
  justify-content: left;
  justify-self: left;
  width: 100%;
  justify-content: space-evenly center;
  padding-left: 10px;
}

.toggleimage{
  width: 12px;cursor: pointer;
  justify-content: start start;
  margin-left: -230px;
  margin-top: 10px;
}



.highlight3{
  .mat-cell, .mat-header-cell {
    color: #0d0c22;
    font-weight: 600;
  }
}

