.success {
    background-color: #26b329
}

.danger {
    background-color: #d6201d
}

.warning {
    // background-color: #ee9a2c
    // background-color: #efb577 !important;
    // background-color: #411cb8 !important;
    // color:#26009c;
    background-color:#1992ce !important;
}

.info {
    background-color:#1992ce;
}

.test {
    background: #1abc9c !important;
}