<div fxLayout="column" class="overall-main-div" *ngIf="isnotassign">

    <div *ngIf="isExpand" fxLayout="row" class="overall-hide-topdiv" fxLayoutAlign="start center">
        <div fxFlex="19" fxLayout="column" fxLayoutAlign="start" class="status-div">
            <span class="txt_class-hide">Overall Status</span>
            <span class="txt_class-hide">
                Info
            </span>
            <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart"
                [plotOptions]="chartOptions.plotOptions" [labels]="chartOptions.labels" [colors]="chartOptions.colors"
                [stroke]="chartOptions.stroke" class="overallchart-css">
            </apx-chart>
        </div>
        <!-- <div fxFlex="2" class="divider-space">
        </div> -->

        <mat-divider [vertical]="true" class="divider-elevator"></mat-divider>

        <div fxFlex="65" fxLayout="row" class="signals-div-css">
            <div fxFlex="70">
                <apx-chart [series]="chartOptions1.series" [chart]="chartOptions1.chart" [xaxis]="chartOptions1.xaxis"
                    [yaxis]="chartOptions1.yaxis" [dataLabels]="chartOptions1.dataLabels" [grid]="chartOptions1.grid"
                    [markers]="chartOptions1.markers" [stroke]="chartOptions1.stroke" [legend]="chartOptions1.legend">
                </apx-chart>
            </div>
            <div fxFlex="30" class="second-part-div" fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="20px">
                <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
                    <span class="last-months-span">Last 6 Months</span>
                    <img src="../../assets/Images/Group 8270.svg" class="down-arrow-image">
                </div>
                <div>
                    <div fxLayout="row" fxLayoutGap="10px">
                        <span class="dot_legend color1"></span>
                        <span class="Chart_legend"> Success Alert!</span>
                    </div>
                    <div fxLayout="row" fxLayoutGap="10px">
                        <span class="dot_legend color2"></span>
                        <span class="Chart_legend"> Warning Alert!</span>
                    </div>
                    <div fxLayout="row" fxLayoutGap="10px">
                        <span class="dot_legend color3"></span>
                        <span class="Chart_legend">Info Alert!</span>
                    </div>
                    <div fxLayout="row" fxLayoutGap="10px">
                        <span class="dot_legend color4"></span>
                        <span class="Chart_legend">Danger Alert!</span>
                    </div>
                </div>
            </div>
        </div>
        <div fxFlex="18" fxLayout="column" fxLayoutAlign="space-between center" class="availability-div"
            fxLayoutGap="5px">
            <div fxFlex="50" class="innerdiv-availability">
                <div fxLayout="row" fxLayoutAlign="space-between center">
                    <img src="../../assets/Images/Group 8267.svg" style="width: 30px;height: 30px;">
                    <span class="available-span-last"> Available</span>
                    <span class="dot"></span>
                </div>
                <span class="txt_class-technician">18 Technician's</span>
            </div>
            <div fxFlex="50" class="innerdiv-availability">
                <div fxLayout="row" fxLayoutAlign="space-between center">
                    <img src="../../assets/Images/Group 8268.svg" style="width: 30px;height: 20px;">
                    <span class="available-span-last"> In Progress</span>
                    <span class="dot2"></span>
                </div>
                <span class="txt_class-technician">18 Technician's</span>
            </div>
        </div>
    </div>

    <div fxFlex="70" class="downcontent-div">
        <div fxLayout="row" class="downcontent-innerdiv" fxLayoutAlign="space-evenly center">
            <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start center" class="nested-div-downcontent">
                <span class="txt_class-notifixcations_span">Notifications</span>
                <!-- <div fxLayout="row" class="main_input_field1">
                    <div fxFlex="10" style="padding-left: 5px;">
                        <img style="vertical-align: -webkit-baseline-middle;width: 24px;" src="./assets/search.svg">
                    </div>
                    <div fxFlex="85">
                        <input class="input_field" (keyup)="applyFilter($event)" matInput
                            placeholder="Search by I’d or Name">
                    </div>
                    <div fxFlex="5">
                        <img style="vertical-align: middle; margin-left: -66%;width: 8px;" src="./assets/mic.svg">
                    </div>
                </div> -->
                <div fxLayout="row" fxLayoutAlign="space-around center" fxFlex="50">
                    <div fxLayout="row" class="btn_bg2" fxFlex="100">
                        <mat-icon matSuffix class="serachicon_search">search</mat-icon>
                        <input matInput class="search_input1 forminputedit" autocomplete="off"
                            placeholder="Search by I’d or Name" (keyup)="applyFilter($event)">
                        <img src="./assets/mic.svg" class="voice-image">
                    </div>
                </div>
                <img class="filter_img" src="./assets/iconfinder_Icon_filter_hor_outline_6637739 (2).svg">
            </div>
            <div fxLayout="row" class="main_buttons_side1" fxLayoutAlign="start center" (click)="Expand()">
                <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px" style="padding-left: 5px;"
                    class="expand-div-hover">
                    <img class="expand-image" src="../../assets/Images/Group 7527.svg">
                    <img src="../../assets/expand_active.svg" class="expand-image2">
                    <span class="expand-span">Expand View</span>
                </div>
            </div>
        </div>

        <div fxLayout="row" fxLayoutGap="20px" class="alert-div">
            <div fxFlex="23" fxLayoutAlign="center center" class="button_info_active" fxLayoutGap="10px">
                <span class="txt_class_Infobutton">Info alert!</span>
                <div class="colorbox_button">{{InfoAlert}}</div>
            </div>
            <div fxFlex="23" fxLayoutAlign="center center" class="Warning_button" fxLayoutGap="10px">
                <span class="txt_class_Infobutton">Warning alert!</span>
                <div class="colorbox_button">{{WarningAlert.length}}</div>
            </div>
            <div fxFlex="23" fxLayoutAlign="center center" class="Danger_button" fxLayoutGap="10px">
                <span class="txt_class_Infobutton">Danger alert!</span>
                <div class="colorbox_button">{{DangerAlert.length}}</div>
            </div>
            <div fxFlex="23" fxLayoutAlign="center center" class="Sucess_button" fxLayoutGap="10px">
                <span class="txt_class_Infobutton">Success alert!</span>
                <div class="colorbox_button"> {{SuccessAlert}}</div>
            </div>
        </div>
        <!-- tabel -->
        <div class="autoscroll example">
            <table mat-table [dataSource]="dataSource" style="width: 100%;">
                <ng-container matColumnDef="check">
                    <th mat-header-cell *matHeaderCellDef
                        style="text-align: left; height: 30px;border-bottom: 15px solid white;">
                        <mat-checkbox (change)="$event ? masterToggle() : null"
                            [checked]="selection.hasValue() && isAllSelected()"
                            [indeterminate]="selection.hasValue() && !isAllSelected()" color="primary"></mat-checkbox>
                    </th>
                    <td mat-cell *matCellDef="let element;index as i" style="width: 10%;text-align: left;">
                        <mat-checkbox (click)="$event.stopPropagation();"
                            (change)="$event ? selection.toggle(element) : null"
                            [checked]="selection.isSelected(element)" color="primary"></mat-checkbox>
                    </td>
                </ng-container>

                <ng-container matColumnDef="AssertId">
                    <th mat-header-cell *matHeaderCellDef
                        style="text-align: left; height: 30px;border-bottom: 15px solid white;"> Assert Id </th>
                    <td mat-cell *matCellDef="let element;index as i" style="width: 10%;text-align: left;">
                        {{element.AssertId}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="AssertName">
                    <th mat-header-cell *matHeaderCellDef
                        style="text-align: left; height: 30px;border-bottom: 15px solid white;"> Assert Name </th>
                    <td mat-cell *matCellDef="let element" style="width: 10%;text-align: left;">
                        {{element.AssertName}} </td>
                </ng-container>

                <ng-container matColumnDef="Catalogue">
                    <th mat-header-cell *matHeaderCellDef
                        style="text-align: left;border-bottom: 15px solid white; height: 30px"> Catalogue </th>
                    <td mat-cell *matCellDef="let element" class="view-css">
                        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px" style="cursor: pointer;">
                            <span class="view-span">
                                View
                            </span>
                            <mat-icon class="icon-eye">remove_red_eye</mat-icon>
                        </div>
                    </td>
                </ng-container>
                <ng-container matColumnDef="Location">
                    <th mat-header-cell *matHeaderCellDef
                        style="text-align: left;border-bottom: 15px solid white; height: 30px"> Location </th>
                    <td mat-cell *matCellDef="let element" style="width: 10%;text-align: left;"> {{element.Location}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="AlertDate">
                    <th mat-header-cell *matHeaderCellDef
                        style="text-align: left;border-bottom: 15px solid white; height: 30px"> Alert Date </th>
                    <td mat-cell *matCellDef="let element" style="width: 10%;text-align: left;"> {{element.AlertDate}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="AlertCount">
                    <th mat-header-cell *matHeaderCellDef
                        style="text-align: left; border-bottom: 15px solid white;height: 30px">Alert Count</th>
                    <td mat-cell *matCellDef="let element" style="width: 10%;text-align: left;">
                        {{element.AlertCount}} </td>
                </ng-container>
                <ng-container matColumnDef="Brand">
                    <th mat-header-cell *matHeaderCellDef
                        style="text-align: left;border-bottom: 15px solid white; height: 10px">Brand </th>
                    <td mat-cell *matCellDef="let element" style="width: 10%;text-align: left;">
                        {{element.Brand}} </td>
                </ng-container>
                <ng-container matColumnDef="Menu">
                    <th mat-header-cell *matHeaderCellDef
                        style="text-align: left;border-bottom: 15px solid white; height: 10px"></th>
                    <td mat-cell *matCellDef="let element;index as i" class="menu-table-part">
                        <mat-icon [matMenuTriggerFor]="menu" class="menu-icon">more_vert</mat-icon>
                        <mat-menu #menu="matMenu" class="menu-table-menu">
                            <button mat-menu-item (click)="MovetoDanger(i)" class="menu-table-button">Move to
                                Danger!</button>
                            <button mat-menu-item (click)="MovetoWarning(i)" class="menu-table-button">Move to
                                Warning!</button>
                            <button mat-menu-item (click)="Deleterow(i)" class="menu-table-button">Delete</button>
                        </mat-menu>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns  sticky: true"></tr>
                <tr mat-row *matRowDef="let row; let element; columns: displayedColumns;"
                style="border-bottom-style: none;cursor: pointer;"
                [ngClass]="{'highlight3': selectedRowIndex2 == row.AssertId}" (click)="highlight2(row);"></tr>
                <!-- [ngClass]="{highlight3:selection.isSelected(row)}" -->
                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="4">No data matching the filter </td>
                </tr>
            </table>
        </div>
        <!-- footer -->
        <div fxLayout="row" class="assign-div">
            <button mat-button class="assignbutton" (click)="assign();isassignclk()">Assign
                ({{selection.selected.length}})</button>
        </div>
    </div>
</div>

<div *ngIf="isassign">
    <app-assign (switchSideNav)="switchSideMenu($event)"></app-assign>
</div>