.toolbar_cls{
    height: 20px;
    font-size: 12px;
    background-color: white;
    // margin-top: 0px;
}
.poppins{
    // font-family: poppins-semi;
  }
// .close_hover:hover{
//     display: none; 
// }ks
.spacecreationheading{
    font-size: 12px;
    font-family: "poppins" !important;
}
.mat-dialog-container {
    padding: 0;
    border-radius: 4px;
  }
  .dialog-content-wrapper {
    max-height: 90vh;
    display: flex;
    flex-direction: column;
  }
.close_hover{
    cursor: pointer;
}
.hider{
    display: none;
    color: black;
    font-weight: 600;
    font-size: 8px;
   
}
.title{
    @extend .poppins;
    font-size: 12px;
    color: #2c2c2e;
}
.closeimages{
    cursor: pointer;
    width: 9px;
    justify-content: right;
    text-align: right;
    align-items: flex-end;
}
.spaceOuterdiv
{
    font-size: 10px; color: #0d0c22;font-weight: bold;
}
.close_hover:hover {
    
   display: block;
    // margin-left: -60px;
     text-align: center;
    width:20px;
  
}
.close:before{
    content: "close";
}
.size_space{
    // height: auto; 
    height: 100%; 
    width: 18%;
 }
.Btn_cls{
    width: 100%;
  height: 42px;
//   margin: 26.5px 19.5px 5.5px 18px;
//   padding: 17px 129.3px 16.3px 130px;
  border-radius: 4px;
  border: solid 2px #f9f8fe;
}
.bg_cls{
    width: 100%;
    // height: 75px;
    margin-top: 10px;
    // margin: 10px 19.5px 10px 18px;
    // padding: 18px 123px 18px 37px;
    // padding-left: 20px;
    font-size: 14px;
    padding: 13px;
    border-radius: 4px;
    background-color: #f9f8fe;
}
.bg_cls:hover{
    background-color: #fbedf6;
    font-weight: 600;
}
.List_cls{
    // width: 100%;
  height: 100px;
  margin: 0px 15px;
//   margin: 19px 5.7px 85px 304px;
//   padding: 14px 130px 5px 44px;
  border-radius: 4px;
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
  background-color: #f9f8fe;
}
.General_cls{
    width: 100%;
    height: auto;
    padding: 7px 10px;

}
.General_cls1{
    background-color: #ffffff;
    width: 100%;
    height: auto;
    padding: 7px 10px;
    border-radius: 4px;
    box-shadow: 0 3px 6px 0 rgba(75, 108, 247, 0.16);

}
.General_cls:hover{
    border-radius: 4px;
    box-shadow: 0 3px 6px 0 rgba(75, 108, 247, 0.16);
    background-color: #ffffff;
}
.input_cls{
    outline: none;
    width: 100%;
    border: none;
    font-size: 10px;
    border-bottom: solid 1px
 #f1eff9;
}
.input_cls1{
    // outline: none;
    // opacity: 0.12;
    width: 80%;
    text-align: center;
    border: none;
//   border: solid 1px #f1eff9;
}
.placeholdertext{
    font-size: 10px;
    font-family: "poppins" !important;
    color: black;
    font-weight: 700;
    }
    .form_outer
{
  width: 91%;
  align-items: center;
}
.formspan{
    color: #383744;
    font-size: 10px;
    font-family: "poppins-semi" !important;
    justify-content: left;
    width: 100px;
    }
    .form_field_cls{
        width: 54%;
        font-size: 10px;
        font-family: "poppins";
        color: black !important
      }
    .label_connect .mat-form-field-appearance-legacy .mat-form-field-label{
        font-size: 10px !important;
        font-family: 'poppins' !important;
        color: #596069 !important;
        line-height: 3.5;
        width: 100% !important;
      }
.delete_cls:hover{
    width: 25px;
}
.delete_cls1{
    width: 25px;
    display: none;
}
.hover_class:hover{
    font-weight: 900;
}





.leftside{
    width:13.5%;
    height:auto;
    background-color:white;
}
.example-container {
    /* opacity:12%; */
    width: 100%;
    height: 100%;
    overflow: auto;
 }
 .backimg{
    /* width: 296.8px; */
    width:25%;
    height: 45px;
    /* height: 69.8px; */
    background-image: url('/assets/bg_top.svg');   
    background-repeat: no-repeat;
    background-size:cover;  
    background-position:50% 50%;
    background-size:100%; 
}
.backimg1{
    width:75%;
    height:45px;
}
.rightside{
    width:86.5%;
    height: auto;
    background-color:rgb(246, 250, 255);
}
.modeltext{
    color: #ffffff;
    font-size: 12px;
    line-height: 38px;

}
.sitetext{
    color: #b7b7b7;
    font-size: 12px;
    padding-left: 3%;
    padding-top: 1.5%;
}
.sitetext1{
    color: #6e6d7a;
    font-size: 12px;
    padding-top: 1.5%;
}
.backarrow1{
    padding-top: 1.5%;

}
agm-map {
    height: 300px;
  }
.text1{
    font-size:12px;
}
.carr{
    width: 914px;
    height: 123px;
    background-color:#f6f6f6 ;
    margin-left:17px;
    /* margin-top:10px; */
    border-radius: 4px;
    
    /* overflow: scroll; */
  }
  .j4{
    height: 50px;
    mix-blend-mode: multiply !important; 
  }
  .hehe{
    margin-left: 7px; 
  
    font-size: 12px;
    font-weight: 600;
    color: black;
    /* margin-top:5px; */
    
  }
  .height{
      height:95px;
      width:10%;
      /* background-color: white; */
      
  }
 .height:hover {
    background-color: white;
  }
  .div1{
      background-color: blue;
      height: 90px;
  }
  .group{
      height:303px !important;
  }

// *{
//     font-family: 'poppins' !important;
// }
th{
    font-size:12px;
    font-weight: 600;
    color:black;
    text-align: center;
}
td{
    font-size:12px;
}
.create{
    font-size: 12px;
    color:grey;
    /* padding-left: 41px; */
}
/* .div2{
    background-color: lightpink;
}
.div3{
    background-color: lightsalmon;
}
.div4{
    background-color:hotpink;
}
.div5{
    background-color: white;
}
.div6{
    background-color: lawngreen;
} */
/* .first{
    height:400px;
} */
// .mat_form_field.mat-form-field {
//     font-size: 12px;
//     font-weight: 400;
//     line-height: 1.125;
    
//     letter-spacing: normal;
//     width:270px;
//     text-align:left;
  
//   }
//   .mat_form_field1.mat-form-field {
//     font-size: 12px;
//     font-weight: 400;
//     line-height: 3.125;
  
//     letter-spacing: normal;
//     width:566px;
//     text-align:left;
//     /* height: 70px; */
  
//   }
//   .mat_form_field2.mat-form-field {
//     font-size: 12px;
//     font-weight: 400;
//     line-height: 1.125;
  
//     letter-spacing: normal;
//     width:255px;
//     text-align:left;
  
//   }
  /* .div21{
    background-color: lightpink;
}
.div31{
    background-color: lightsalmon;
}
.div41{
    background-color:hotpink;
}
.div51{
    background-color: yellow;
} */
/* .div211{
    background-color: lightpink;
}
.div311{
    background-color: white;
}
.div411{
    background-color:hotpink;
}*/
.div511{
    background-color: #f9f8fe !important; 
} 

.text{
    border:none !important;
    width:17% !important;
height:32px !important;
background-color: #f3f3f4 !important; 
text-align:left !important ;
font-size: 12px !important;
font-weight: 400 !important;
line-height: initial !important;
box-shadow:none;
border-radius: 4px !important;
outline:none !important;
background-image:url("/assets/search.png") !important;  
background-repeat: no-repeat !important;
float: left !important;
padding-left: 50px !important;
background-size: 10% !important;
background-position: 5% !important;
color:black;
/* opacity: 0.1; */
}
.spacer{
 flex: 1 1 auto;
}
.topic{
    font-size:16px;
    font-weight: 600;
}
 /* .scroll{
    overflow:scroll;
    position: -webkit-sticky; 
  position: sticky;
}  */
.example::-webkit-scrollbar {
  display: none;
}
table {
    width: 100%;
    border:none;
    border-collapse: collapse;
  }
  .tableFixHead { overflow: scroll;  }
.tableFixHead th { position: sticky; top: 0; }
.tableFixHead{
overflow: auto;
}
.tableFixHead::-webkit-scrollbar {
display: none;
 }
 .div211{
     height:100% !important;
 }
 .div311{
    height:100% !important;
}
.div411{
    height:100% !important;
}
.div511{
 
 margin-right: 20px; border-radius: 4px;
 height: 85% !important;
}
.docu{
    font-size: 11px;
    margin-left: 7px;
    font-weight: 600;
    margin-top: 3px;
}
/* .box{
    width: 175px;
    height: 74px;
    background-color: #ebe6ff;
}
.from{
    font-size:12px;
    margin-top:5px;
}
.from1{
    font-size:12px;
    font-weight: 600;
}
.from12{
    font-size:11px;
    font-weight: 600;
} */


/* .button1{
    background-color: #4410ff;
    font-size: 12px;
    text-align:center;
   
}
.button12{
    background-color: #4410ff;
    font-size: 12px;
    text-align: center;
    width: 150px;
    
} */
.box_1{
    width: 100%;
    height: 71px;
    border-radius: 4px;
    background-color: #ebe6ff;
}
.box_2{
    width: 100%;
    height: 71px;
    border-radius: 4px;
    background-color: #ebe6ff;
    /* margin-top: 3%; */
    
}
.box_3{
    width: 100%;
    height: 71px;
    border-radius: 4px;
    background-color: #ebe6ff;
    margin-top: 1%;
}
.filemana{
    width: 20%;
    height: auto;
    padding-left: 7%;
    padding-top: 6%;
    mix-blend-mode: multiply !important; 

}
.textfrom{
    font-size: 12px;
    color: #a1a2a4;
    // padding-top: 15%;
}
.textmana{
    font-size: 12px;
    color: #0d0c22;
    font-weight: 600;

}
.textfrom1{
    font-size: 12px;
    color: #a1a2a4;
    // padding-top: 30%;
}
.textmana1{
    font-size: 12px;
    color: #0d0c22;

}
.textfrom2{
    font-size: 12px;
    color: #a1a2a4;
    // padding-top: 30%;
}
.textmana2{
    font-size: 12px;
    color: #0d0c22;

}
.button1{
    border-radius: 4px;
    background-color: #4410ff;
    font-size: 10px;
    text-align: center;
    color:white;
    height: 28px;
    width: 90%;
    position: relative;
    top:0% !important;
    left: 5%;
    line-height:5px;
    
   
}
.footer{
    width: 100%;
    height: 50px;
    border-radius: 4px;
    background-color: #f9f8fe;

}
.estimate{
    font-size: 11px;
    padding-top: 1.5%;
    padding-left: 4%;
    color: #0d0c22;
    font-family: 'poppins-semi' !important;
}
.adddoc{
    padding-right: 5%;
}
::ng-deep .progressone .mat-progress-bar-fill::after {
    background-color: #4db151;
}
::ng-deep .mat-progress-bar-buffer {
    background: #E4E8EB;
}
::ng-deep .mat-progress-bar {
    border-radius: 2px;
}
.progressone{
    width:45% !important;
    cursor: pointer !important;
    height: 2px !important;
    border-radius: 4px;
    border: 0.5px solid #d5e3fb;
    position:relative;
    top:55%;
    left:0%;
   

     /* box-shadow: 0 0 2px 0 #74a2f1; */
     box-shadow: 0 0 2px 0 #74a2f1;
     

}
.crossimg{
    padding-left: 59% !important;
}

th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
    padding: 0;
    border-bottom-width: none;
     border-bottom-style: none; 
}
 th.mat-header-cell,
td.mat-cell,
td.mat-footer-cell {
     /* padding: 0; */
    border-bottom-width: 0px;
    border-bottom-style: solid;
    
}
 tr.mat-header-row {
    height: 50px;
    border: none;
    border-bottom-style: none;
}

    

 td.mat-cell {
    border-bottom-style: none;

}
.hi1{
    background-color: blue;
}
/* .hi2{
    background-color: greenyellow;
} */

.hi3{
    background-color: olive;
}

.hi4{
    background-color: orangered;
}

.hi5{
    background-color: orchid;
}
.searchtriggerbtn{
    width:250px;
    height:30px;
   text-align: center;
    font-size: 12px;
    font-weight: 400;
    color:lightgrey;

}
// ::ng-deep .cdk-overlay-pane{
//     position: relative;
//     left: 38.5%;
// }
// /* ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
//     height: 37px !important;

    
// }
//      */
//      ::ng-deep .cdk-overlay-pane {
//         position: relative;
//         bottom: -30% !important;
//     /* left: 517.547px; */
//     }
// ::ng-deep .mat-datepicker-content .mat-calendar {
//     width: 272px !important;
//     height: 312px !important;
// }
/* .sp1{
    background-color: orchid;
}
.sp2{
    background-color: khaki;
}
.sp3{
    background-color: lightcoral;
} */
.mat_form_field3.mat-form-field {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.125;
    letter-spacing: normal;
    width:260px;
    text-align:left;
  
  }
  .add1{
      background-color: lightcyan;
  }
  .add2{
    background-color: lightskyblue;
}
.add3{
    background-color: lightpink;
}
.add4{
    background-color: magenta;
}
.add5{
    background-color: mediumspringgreen;
}
.dat1{
    background-color: midnightblue;
}
/* .dat2{
    background-color: goldenrod;
} */
.dat3{
    background-color:darkcyan;
}
.con1{
    background-color: darkred;
}
/* .con2{
    background-color: darkslateblue;
} */
.con3{
    background-color: darksalmon;
}
.con4{
    background-color: fuchsia;
}
.con5{
    background-color: seagreen;
}
// .mat_form_field4.mat-form-field {
//     font-size: 12px;
//     font-weight: 400;
//     line-height: 1.125;
//     /* font-family: 'poppins'!important; */
//     letter-spacing: normal;
//     width:265px;
//     text-align:left;
  
//   }
  .genn{
      color:black;
      font-size:12px;
  }
  .but1{
    color: #0d0c22;
        /* color:#5942b7; */
    font-size: 12px;
    font-weight: 600;
    /* background-color: blue; */
    width: 70px;
    height: 31px;
    line-height: 9px;
    margin-right: 10px;
    margin-top: 18px;
    cursor: pointer;
  }
  .but3{
    color: #0d0c22;
        /* color:#5942b7; */
    font-size: 12px;
    font-weight: 600;
    /* background-color: blue; */
    width: 60px;
    height: 31px;
    line-height: 9px;
    margin-right: 10px;
    margin-top: 18px;
    cursor: pointer;
  }
  .plusbutton{
      text-align: center;
      width:100%;
  }
  .space{
    width:100%;
    height: 84px;
    border-radius: 4px;
    background-color: #fbedf6;
    
  }
  
  .space1{
    width:100%;
  height: 84px;
  border-radius: 4px;
  background-color: #f9f8fe;
 
}
.loreatext{
    color: #0d0c22;
   font-size: 12px;
   font-weight: 600;
}
.textspace{
    color: #0d0c22;
font-size: 12px;
font-weight: 600;
}
.space2{
    width:100%;
  height: 84px;
  border-radius: 4px;
  background-color: #f9f8fe;
}
.spacetext{
    font-size: 12px;
    color: #0d0c22;
    /* font-weight: 600; */
    /* padding-top: 10%; */
}
.spaceid{
    font-size: 12px;
    /* font-weight: 600; */
    color: #0d0c22;
}
.spacetext1{
    font-size: 12px;
    color: #6e6d7a;
    font-weight: 600;
    padding-top: 10%;
}
.spaceid1{
    font-size: 12px;
    font-weight: 600;
    color: #6e6d7a;
}
  .but2{
    color: white;
    font-size: 12px;
    background-color: #4410ff;
    width: 140px;
    height: 31px;
    line-height: 9px;
}
/* igx-time-picker {
    width: 237px;
} */

.mat-list-item.mat-list-single-selected-option{
    box-shadow: 0 3px 6px 0 rgba(102, 163, 239, 0.4);
    /* border: solid 2px #2085fb !important; */
    background-color: #fbedf6;
    color: black !important;
    opacity: 1;
    font-weight: 600;

    
}
.show:hover + .hide {
    display: block;
    color: black;
    
   
  }
  .hide {
    display: none;
    
  }
//   .icon-flipped {
//     transform: scaleX(-1);
//     -moz-transform: scaleX(-1);
//     -webkit-transform: scaleX(-1);
//     -ms-transform: scaleX(-1);
// }
.main_input_field {
    background-color: #f3f3f4;
    width: 92%;
    border-radius: 4px;
    // margin-top: 8%;
}
.input_field {
    outline: none;
    color: #acacac;
    font-size: 10px;
    font-family: 'poppins';
    border: transparent;
    background-color: #f3f3f4;
    width: 90%;
}
// .mat-form-field {
//     font-size: 14px;
//     width: 50%;
//   }
//   .mat-form-field-infix{
//     width: 80px !important;
// }
.spacename{
    font-family: "poppins-semi" !important;
    font-size: 10px;
    height: 23px;
}

::-webkit-input-placeholder{
    font-size: 10px;
}