
.send-mail-dialog{
    width: 540px;
    .poppins{
        font-family: poppins-semi;
    }
    .mat-dialog-container {
      padding: 0;
      border-radius: 4px;
    }
  .content{
      padding: 24px;
      margin: 0;
  }
    .dialog-content-wrapper {
      max-height: 90vh;
      display: flex;
      flex-direction: column;
    }
    .toolbar{
      background-color: #fff;
      height: 48px;
      box-shadow: 0 3px 3px 0px #00000014;
    }
    .title{
        @extend .poppins;
        font-size: 12px;
        color: #2c2c2e;
    }
    .footer{
      box-shadow: 0 -3px 3px 0px #00000014;
      background-color: #fff;
      height: 48px;
      margin: 0;
      padding: 16px;
    }
    .savebtn{
      background-color: #4410ff !important;
      color: #ffffff !important;
      height: 29px;
      line-height: inherit;
      font-size: 10px;
    }
    .closeimages{
      cursor: pointer;
      width: 9px;
      justify-content: right;
      text-align: right;
      align-items: flex-end;
  }
  .chip.mat-standard-chip {
      transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
      display: inline-flex;
      padding: 7px 12px;
      font-size: 10px;
      border-radius: 16px;
      align-items: center;
      cursor: default;
      min-height: 20px;
      height: 1px;
  }
  // .chip-remove{
  //   margin-left: 5px;
  // }
    .btn
    {
      height: 29px;
      line-height: inherit;
      font-size: 10px;
    }
    .list{
      padding: 10px;
      margin:8px;
      background-color: #ebe5ff;
      word-wrap: break-word;
      cursor: pointer;
      border-radius: 4px;
    }
    .list:hover{
      border: 2px solid #5f2cff !important;
    }
    .signin{
      color: #5f2cff;
      text-decoration: underline;
      cursor: pointer;
    }
    .form{
        padding: 0 16px;
        .body{
            min-height: 100px;
        }
        .fields{
            font-size: 10px;
            @extend .poppins;
        }
        .field-prefix{
            @extend .poppins;
        }
    }
    .radio-group{
      margin-bottom: 24px;
    }
  }
  