<div style="width:100%;height:90%;padding-top:15px">

    <div style="width:97%;height:90%;padding-top:15px">

        <!-- <nav mat-tab-nav-bar>
            <div style="height: 50px;margin-left: 15px;width:97%;overflow-y: scroll;display: -webkit-inline-box;">

                <div class="Toolbar_button Toolbar_button1" routerLink="/Electrical">
                    <p style="margin-top: 3px;">Electrical distribution</p>
                </div>
                <div class="Toolbar_button1 Toolbar_button">
                    <p style="margin-top: 3px;">Energy Consumption</p>
                </div>
                <div class="Toolbar_button1 Toolbar_button" routerLink="/hvac">
                    <p style="margin-top: 3px;">HVAC</p>
                </div>
                <div class="Toolbar_button1 Toolbar_button" routerLink="/water">
                    <p style="margin-top: 3px;">Water Consumption</p>
                </div>
                <div class="Toolbar_button1 Toolbar_button">
                    <p style="margin-top: 3px;">Power Resource</p>
                </div>
                <div class="Toolbar_button1 Toolbar_button">
                    <p style="margin-top: 3px;">Parking Access Control</p>
                </div>
                <div class="Toolbar_button1 Toolbar_button">
                    <p style="margin-top: 3px;">CCTV</p>
                </div>
                <div class="Toolbar_button1 Toolbar_button" routerLink="/fire">
                    <p style="margin-top: 3px;">Fire Alarm</p>
                </div>
                <div class="Toolbar_button1 Toolbar_button" routerLink="/others">
                    <p style="margin-top: 3px;">Others</p>
                </div>
    
    
            </div>
          </nav> -->

        <div fxLayout="row" style="width: 100%;margin-left: 15px;height: 70vh;overflow-y: auto;" fxLayoutGap="20px">

            <!--Select Area-->

            <div style="text-align: center; " fxFlex="25" fxLayout="column">
                <div style="height: 5vh;">
                    <div fxLayout="row" fxLayout="space-between center" style="margin: 10px;">
                        <div fxFlex="20">
                            <p class="txt_class">Status</p>
                        </div>
                        <div fxLayout="row" fxFlex="80" fxLayoutGap="10px">
                            <!-- <div fxLayout="row"   fxLayout="space-between center"> -->

                            <p class="txt_class" fxFlexOffset="2" style="color: #acacac;">Active</p>
                            <p class="dot" style="background-color: #4db151;"></p>
                            <!-- <div fxLayout="row"   fxLayout="space-between center"> -->

                            <p class="txt_class" style="color: #acacac;">In Active</p>
                            <p class="dot" style="background-color: red;"></p>
                        </div>
                    </div>
                </div>
                <div style="background-color: #f9f8fe;padding: 10px;text-align: left;height: 63vh;">
                    <p class="txt_class">Select Area flow chart</p>
                    <p class="divider"></p>
                    <div style="overflow: auto;height: 40vh;">
                        <div fxLayout="column" *ngFor="let area of SelectedArea;let i = index" style="margin: 10px;cursor: pointer;" (click)="SelectedSpace(area)">
                            <div style="background-color: #eceff1;padding: 10px;height: 24px;">
                                <div fxLayout="row" fxLayout="space-between center">

                                    <div fxLayout="row" fxFlex="80">
                                        <img src="../../assets/Images/thunder.svg" style="width: 15px;height: 15px;">

                                        <p class="txt_class" style="margin-left:10px">{{area}}</p>
                                    </div>
                                    <div fxLayout="row" fxFlex="20">
                                        <p class="dot_list"></p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div fxLayoutAlign="center center">
                        <img src="../../assets/Images/parking_vector.png" width="180px" height="100px">
                    </div>
                </div>
            </div>

            <!--Select Zone-->

            <div  fxFlex="20">
                <div style="background-color: #fbedf6;padding: 10px;text-align: left;height: 68vh;overflow: auto;">
                    <div fxLayout="row">
                        <p class="txt_class" style="color:#884770;margin-left: 5px;">Select Zone</p>
                        <p style="width: 35%;"></p>
                        <p class="txt_class" style="color:#c49bb6">Area</p>
                    </div>

                    <p class="divider"></p>
                    <div fxLayout="column" *ngFor="let area of Area;let i = index" style="margin: 10px;">
                        <div style="background-color: #fdf3f9b3;padding: 10px;height: 24px;" (click)="SelectedSubSpace(area.space)">
                            <div fxLayout="row" fxLayout="space-between center">

                                <div fxLayout="row" fxFlex="80">
                                    <img src="../../assets/Images/thunder.svg" style="width: 15px;height: 15px;">

                                    <p class="txt_class" style="margin-left:10px">{{area.space}}</p>
                                </div>
                                <div fxLayout="row" fxFlex="20">
                                    <!-- <p class="dot_list1" *ngIf="i==0"></p> -->
                                    <p class="dot_list"></p>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>

            <!--Select Zone-->

            <div fxFlex="5">
                <p style="border-right: 2px solid #f9f9f9; height: 500px; position: relative; top: 35px; left: -15px;"></p>
            </div>

            <div fxFlex="50" style="height: 68vh; overflow: auto;">
                <div fxLayout="column" fxLayoutGap="20px">

                    <div fxLayout="row" fxLayoutAlign="end end" style="line-height: 0;cursor: pointer;">

                        <mat-icon>expand_more</mat-icon>

                        <!-- <mat-icon>expand_more</mat-icon> -->
                        <p>
                            <img src="../../assets/Images/iconfinder_city_3_3078506@3x.png" matBadge="1" width="15px"
                                height="15px" style="margin-bottom: -5px;">
                            <span matBadge="1" matBadgeOverlap="true"></span>
                        </p>
                        <p class="txt_class" style="position: relative; left: 5px;">Assert Details</p>

                    </div>

                    <div fxLayout="row" fxLayoutAlign="center center">
                        <p style="font-weight: bold;">Parking Zone Overview</p>
                    </div>

                    <div fxLayout="row">
                        <img width="90%" height="90%" src="../../assets/Images/parking_img.png">
                    </div>

                    <div fxLayout="row" *ngFor="let p of parking">
                        <div fxlayout="column" fxFlex="50">
                            <div fxLayout="row" fxLayoutGap="15px">
                                <div fxLayout="column" fxLayoutGap="15px">
                                    <p style="float: left;font-weight: bold;font-size: 12px;">Total Vehicles</p>
                                    <p style="float: left;font-weight: bold;font-size: 12px;">Available Slot</p>
                                    <p style="float: left;font-weight: bold;font-size: 12px;">Capacity</p>
                                    <p style="float: left;font-weight: bold;font-size: 12px;">Total Booth</p>
                                </div>
                                <div fxLayout="column" fxLayoutGap="15px">
                                    <p style="float: left;color: #acacac;font-weight: bold;font-size: 12px;">{{p.totalVehicles}}</p>
                                    <p style="float: left;color: #acacac;font-weight: bold;font-size: 12px;">{{p.availableSeats}}</p>
                                    <p style="float: left;color: #acacac;font-weight: bold;font-size: 12px;">{{p.capacity}}</p>
                                    <p style="float: left;color: #acacac;font-weight: bold;font-size: 12px;">{{p.totalBooth}}</p>
                                </div>
                            </div>
                        </div>

                        <div fxlayout="column" fxFlex="50">
                            <div fxLaout="row" fxLayoutAlign="center center">
                                <p style="font-weight: bold; font-size: 24px;">Booth 1</p>
                            </div>
                            <div fxLayout="row" fxLayoutAlign="space-around center">
                                <div fxLayout="column" fxLayoutAlign="center center">
                                    <p style="font-weight: bold; font-size: 12px;">{{p.entryVehicles}}</p>
                                    <p style="font-weight: bold; font-size: 12px;">Entry</p>
                                </div>
                                <div fxLayout="column" fxLayoutAlign="center center">
                                    <p style="font-weight: bold; font-size: 12px;">{{p.exitVehicles}}</p>
                                    <p style="font-weight: bold; font-size: 12px;">Exit</p>
                                </div>
                            </div>
                            <div fxLaout="row" fxLayoutAlign="center center">
                                <p style="font-weight: bold; font-size: 24px;">Booth 2</p>
                            </div>
                            <div fxLayout="column" fxLayoutAlign="center center">
                                <p style="font-weight: bold; font-size: 12px;">{{p.entryVehicles}}</p>
                                <p style="font-weight: bold; font-size: 12px;">Entry</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>
