
.upload-signed-dialog{
  .poppins{
      font-family: Poppins;
      font-weight: 600;
  }
  .mat-dialog-container {
    padding: 0;
    border-radius: 4px;
  }
.content{
    padding: 24px;
    margin: 0;
    max-height: none;
}
  .dialog-content-wrapper {
    max-height: 90vh;
    display: flex;
    flex-direction: column;
  }
  .toolbar_upload{
    background-color: #fff;
    min-height: 48px;
    box-shadow: 0 3px 3px 0px #00000014;
  }
  .title{
      @extend .poppins;
      font-size: 12px;
      color: #2c2c2e;
  }
  .footer{
    background-color: #fff;
      min-height: 48px;
      margin: 0;
      padding: 0 16px;
      box-shadow: 0 -3px 3px 0px #00000014;
  }
  .savebtn{
    background-color: #4410ff !important;
    color: #ffffff !important;
    height: 29px;
    line-height: inherit;
    font-size: 10px;
  }
  .btn
  {
    height: 29px;
    line-height: inherit;
    font-size: 10px;
  }
  .input_font
  {
    font-size: 10px !important;
    font-family: 'poppins'!important;
  }
  // .footer{

  //   box-shadow: 0 2px 18px 0 rgba(74, 122, 255, 0.38);

  //   background-color: #fdfdfd;

  //   height: 56px;

  // }

  // .savebtn{

  //   background-color: #5f2cff !important;

  //   @extend .poppins;

  //   color: #ffffff !important;

  //   font-size: 12px;

  // }
  .list{
    padding: 10px;
    margin:8px;
    background-color: #ebe5ff;
    word-wrap: break-word;
    cursor: pointer;
    border-radius: 4px;
  }
  .list:hover{
    border: 2px solid #5f2cff !important;
  }
  .signin{
    color: #5f2cff;
    text-decoration: underline;
    cursor: pointer;
  }
  .form{
      padding: 0 16px;
  }
  .placeholdertext{
    font-size: 10px;
    font-family: "poppins-semi" !important;
    color: #000000de;
    }
  //   .placeholdertext::placeholder{
  //     font-size: 12px !important;
  //     font-family: 'poppins-semi' !important;
  //     color: 
  //     #596069 !important;
  //   }
   
  
    .label_connect .mat-form-field-appearance-legacy .mat-form-field-label{
      font-size: 10px !important;
      font-family: 'poppins' !important;
      color: #596069 !important;
      line-height: 3.5;
      width: 100% !important;
    }
    .condition_div_cls{
      width: 56.5%;
      padding-right: 11px;
      padding-left: 40px;

    }
    .dropzonengx{
      border-radius: 4px !important;
      background-color: #ececec;
      color: #6e6d7a;
      font-size: 11px;
      width: 97%;
      height: 89%;
      border: none;
      justify-content: space-around;
  }
  .uploadfiles{
    background-color: #ececec;
    border-radius: 4px;
    cursor: pointer;
    width: 101%;
    color: #fff;
    font-size: 12px;
    align-items: center;
    font-family: Poppins;
    height: 5rem;
    margin-top: 18px;
    padding: 4px 10px 4px 10px;
  }
  .dragdrop-label{
      font-family: "poppins-semi" !important;
      font-size: 10px;
      border-radius: 4px;
      background-color: #ececec;
      cursor: pointer;
      width: 97%;
      font-size: 13px;
      font-weight: 600;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.5;
      letter-spacing: normal;
      text-align: center;
      color: #acacac;
     min-width: max-content;
  }
  
  .dragdrop-label_2{
      min-width: -webkit-max-content;
      min-width: max-content;
      color: #6e6d7a;
      font-family: "poppins-semi" !important;
      font-size: 10px;
      background-color: #f3f3f4;
      cursor: pointer;
      /* width: 100%; */
      /* height: 54%; */
      border-radius: 4px;
  }
  .close_hover{
      cursor: pointer;
      height: 10px;
  }
  .attachment
  {
    font-size: 14px;
  font-weight: bolder;
  }
  .div_condition
  {
    margin-top: 20px;
  }
.form_outer
{
width: 32%;
  align-items: center;
}
.form_field_cls{
  width: 64%;
  font-size: 10px;
  font-family: "poppins";
  color: black !important
}
.formspan{
color: #383744;
font-size: 10px;
font-family: "poppins-semi" !important;
justify-content: left;
width: 100px;
}
.form_outer_bank
{
width: 32%;
align-items: center;
}
.form_field_cls_bank{
width: 54%;
font-size: 12px;
}
.formspan_bank{
color: #383744;
font-size: 10px;
font-family: "poppins-semi" !important;
justify-content: left;
width: 100px;
}
.General
{
font-size: 12px;
  font-weight: 900;
}
.subtitle
{
margin-top: 9px;
margin-bottom: 16px !important;
}
.subtitle1
{
margin-top: 2px;
margin-bottom: 8px !important;
}


.textarea
{
min-height: 10px;
}
.cursor
{
cursor: pointer;
}
.font
{
font-size: 10px;
}
}
