<div class="dialog-content-wrapper">
    <mat-toolbar class="toolbar" fxLayout="row" fxLayoutAlign="space-between center">
        <label class="title">Upload Signed Document</label>
        <img class="close_hover close" src="assets/32178.svg" (click)="close()">
    </mat-toolbar>

    <mat-dialog-content class="content" fusePerfectScrollbar>
        <div fxLayout="column" fxLayoutAlign="space-between center">
            <form [formGroup]="SignedDocumentDetailsForm" autocomplete="off" style="width: 100%;">
                <div class="subtitle1">
                    <label class="General">General</label>
                </div>
                <div fxLayout="column" fxLayoutGap="1px">
                    <div fxLayout="row" fxLayoutGap="15px">
                        <div fxLayout="row" class="label_connect form_outer" fxLayoutGap="10px">
                            <span class="formspan">Client name</span>
                            <mat-form-field [floatLabel]="'never'" appearance="legacy" class="form_field_cls">
                                <input matInput formControlName="Client" type="text" class="placeholdertext "
                                    class="input_fontsize" (keydown)="AlphabetsonlyOnly($event)">
                                <mat-error *ngIf="SignedDocumentDetailsForm.get('Client').hasError('required')">
                                    Client name is required
                                </mat-error>
                            </mat-form-field>
                        </div>

                        <div fxLayout="row" class="label_connect form_outer" fxLayoutGap="10px">
                            <span class="formspan">File name</span>
                            <mat-form-field [floatLabel]="'never'" appearance="legacy" class="form_field_cls">
                                <input matInput formControlName="FileName" class="placeholdertext "  >
                                <mat-error *ngIf="SignedDocumentDetailsForm.get('FileName').hasError('required')">
                                    File name is required
                                </mat-error>
                            </mat-form-field>
                        </div>

                        <div fxLayout="row" class="label_connect form_outer" fxLayoutGap="10px">
                            <span class="formspan">Creation Date</span>
                            <mat-form-field [floatLabel]="'never'" appearance="legacy" class="form_field_cls">
                                <input matInput [matDatepicker]="picker3" #creationdate formControlName="CreatedOn" fxFlex>
                                <img src="assets/calendar_upload.svg" width="16px" class="cursor"
                                    (click)="picker3.open()">
                                <mat-datepicker #picker3></mat-datepicker>

                                <mat-error *ngIf="SignedDocumentDetailsForm.get('CreatedOn').touched && 
                                SignedDocumentDetailsForm.get('CreatedOn').hasError('required')">
                                   Enter a valid date
                                </mat-error>
                                <mat-error *ngIf="SignedDocumentDetailsForm.get('CreatedOn').touched && !SignedDocumentDetailsForm.get('CreatedOn').hasError('required')
                                && SignedDocumentDetailsForm.get('CreatedOn').hasError('invalidDate')">
                                    Enter a valid date
                                </mat-error>

                            </mat-form-field>
                        </div>
                    </div>
                    <!--  -->
                    <div fxLayout="row" fxLayoutGap="15px" style="width: 100%;">
                        <div fxLayout="row" class="label_connect form_outer" fxLayoutGap="10px">
                            <span class="formspan">Expiry date</span>
                            <mat-form-field [floatLabel]="'never'" appearance="legacy" class="form_field_cls">
                                <input matInput [matDatepicker]="picker4"  formControlName="ExpiryDate" fxFlex>
                                <img src="assets/calendar_upload.svg" width="16px" class="cursor"
                                    (click)="picker4.open()">
                                <mat-datepicker #picker4></mat-datepicker>
                                <!-- <mat-form-field [floatLabel]="'never'" appearance="legacy" class="form_field_cls">

                                <input matInput [matDatepicker]="dp2" #date_input class="placeholdertext"
                                    formControlName="ExpiryDate" >
                                <mat-datepicker-toggle matSuffix [for]="dp2"></mat-datepicker-toggle>
                                <mat-datepicker #dp2 disabled="false"></mat-datepicker> -->
                                <mat-error *ngIf="SignedDocumentDetailsForm.get('ExpiryDate').hasError('required')">
                                    Enter a valid date
                                </mat-error>
                                <mat-error *ngIf="SignedDocumentDetailsForm.get('ExpiryDate').touched && !SignedDocumentDetailsForm.get('ExpiryDate').hasError('required')
                                &&SignedDocumentDetailsForm.get('ExpiryDate').hasError('pattern')">
                                    Enter a valid date
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <!--  -->
                        <div fxLayout="row" class="label_connect form_outer" fxLayoutGap="10px">
                            <span class="formspan">Maintenance</span>
                            <mat-form-field [floatLabel]="'never'" appearance="legacy" class="form_field_cls">
                                <label matPrefix class="font">Rs.</label>
                                <input matInput formControlName="Maintenance" (keydown)="decimalOnly($event)"
                                    class="placeholdertext">
                                <mat-error *ngIf="SignedDocumentDetailsForm.get('Maintenance').hasError('required')">
                                    Maintenance is required
                                </mat-error>
                                <mat-error *ngIf="SignedDocumentDetailsForm.get('Maintenance').touched && !SignedDocumentDetailsForm.get('Maintenance').hasError('required')
                            &&SignedDocumentDetailsForm.get('Maintenance').hasError('pattern')">
                                    Enter a valid amount
                                </mat-error>
                            </mat-form-field>
                        </div>

                        <div fxLayout="row" class="label_connect form_outer" fxLayoutGap="10px">
                            <span class="formspan">Notice period</span>
                            <mat-form-field [floatLabel]="'never'" appearance="legacy" class="form_field_cls">
                                <input matInput formControlName="NoticePeriod" class="placeholdertext" (keydown)="decimalOnly($event)">
                                <label matSuffix class="font">months</label>
                                <mat-error *ngIf="SignedDocumentDetailsForm.get('NoticePeriod').hasError('required')">
                                    Notice period is required
                                </mat-error>
                                <mat-error *ngIf="SignedDocumentDetailsForm.get('NoticePeriod').touched && !SignedDocumentDetailsForm.get('NoticePeriod').hasError('required')
                    &&SignedDocumentDetailsForm.get('NoticePeriod').hasError('pattern')">
                                    Enter a valid number
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <!--  -->
                    <div fxLayout="row" fxLayoutGap="15px" style="width: 100%;">
                        <div fxLayout="row" class="label_connect form_outer" fxLayoutGap="10px">
                            <span class="formspan">Rental</span>
                            <mat-form-field [floatLabel]="'never'" appearance="legacy" class="form_field_cls">
                                <label matPrefix class="font">Rs.</label>
                                <input matInput formControlName="Rental" (keydown)="decimalOnly($event)"
                                    class="placeholdertext">
                                <mat-error *ngIf="SignedDocumentDetailsForm.get('Rental').hasError('required')">
                                    Rental is required
                                </mat-error>
                                <mat-error *ngIf="SignedDocumentDetailsForm.get('Rental').touched && !SignedDocumentDetailsForm.get('Rental').hasError('required')
                            &&SignedDocumentDetailsForm.get('Rental').hasError('pattern')">
                                    Enter a valid amount
                                </mat-error>
                            </mat-form-field>
                        </div>

                        <div fxLayout="row" class="label_connect form_outer" fxLayoutGap="10px">
                            <span class="formspan">Electrical(RR)</span>
                            <mat-form-field [floatLabel]="'never'" appearance="legacy" class="form_field_cls">
                                <input matInput formControlName="Electrical" class="placeholdertext">
                                <mat-error *ngIf="SignedDocumentDetailsForm.get('Electrical').hasError('required')">
                                    Electrical is required
                                </mat-error>
                                <mat-error *ngIf="SignedDocumentDetailsForm.get('Electrical').touched && !SignedDocumentDetailsForm.get('Electrical').hasError('required')
                            &&SignedDocumentDetailsForm.get('Electrical').hasError('pattern')">
                                    Enter a valid number
                                </mat-error>
                            </mat-form-field>
                        </div>


                    </div>
                    <!--  -->
                    <div fxLayout="row" fxLayoutGap="15px" style="width: 100%;">

                        <div fxLayout="row" class="label_connect form_outer" fxLayoutGap="10px">
                            <span class="formspan">Condition</span>
                            <mat-form-field [floatLabel]="'never'" appearance="legacy" class="form_field_cls">
                                <textarea matInput formControlName="Condition" class="textarea"></textarea>
                                <mat-error *ngIf="SignedDocumentDetailsForm.get('Condition').hasError('required')">
                                    Condition is required
                                </mat-error>
                            </mat-form-field>
                        </div>

                        <div fxLayout="row" class="label_connect form_outer" fxLayoutGap="10px">
                            <span class="formspan">Remarks</span>
                            <mat-form-field [floatLabel]="'never'" appearance="legacy" class="form_field_cls">
                                <textarea matInput formControlName="Remarks" class="textarea"></textarea>
                                <mat-error *ngIf="SignedDocumentDetailsForm.get('Remarks').hasError('required')">
                                    Remarks is required
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <!--  -->
                    <div class="subtitle">
                        <label class="General">Bank Details</label>
                    </div>
                    <div fxLayout="row" fxLayoutGap="15px" style="width: 100%;">
                        <div fxLayout="row" class="label_connect form_outer_bank" fxLayoutGap="10px">
                            <span class="formspan_bank">Bank name</span>
                            <mat-form-field [floatLabel]="'never'" appearance="legacy" class="form_field_cls_bank">
                                <input matInput formControlName="BankName" (keydown)="AlphabetsonlyOnly($event)"
                                    class="placeholdertext">
                                <mat-error *ngIf="SignedDocumentDetailsForm.get('BankName').hasError('required')">
                                    Bank name is required
                                </mat-error>
                                <mat-error *ngIf="SignedDocumentDetailsForm.get('BankName').touched && !SignedDocumentDetailsForm.get('BankName').hasError('required')
                                &&SignedDocumentDetailsForm.get('BankName').hasError('pattern')">
                                    Enter a proper name
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div fxLayout="row" class="label_connect form_outer_bank" fxLayoutGap="10px">
                            <span class="formspan_bank"> A/C holder name</span>
                            <mat-form-field [floatLabel]="'never'" appearance="legacy" class="form_field_cls_bank">
                                <input matInput formControlName="HolderName" (keydown)="AlphabetsonlyOnly($event)"
                                    class="placeholdertext">
                                <mat-error *ngIf="SignedDocumentDetailsForm.get('HolderName').hasError('required')">
                                    Account holder name is required
                                </mat-error>
                                <mat-error *ngIf="SignedDocumentDetailsForm.get('HolderName').touched && !SignedDocumentDetailsForm.get('HolderName').hasError('required')
                                &&SignedDocumentDetailsForm.get('HolderName').hasError('pattern')">
                                    Enter a proper name
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div fxLayout="row" class="label_connect form_outer_bank" fxLayoutGap="10px">
                            <span class="formspan_bank">Account no</span>
                            <mat-form-field [floatLabel]="'never'" appearance="legacy" class="form_field_cls_bank">
                                <input matInput formControlName="AccountNo" (keydown)="decimalOnly($event)"
                                    class="placeholdertext">
                                <mat-error *ngIf="SignedDocumentDetailsForm.get('AccountNo').hasError('required')">
                                    Account no is required
                                </mat-error>
                                <mat-error *ngIf="SignedDocumentDetailsForm.get('AccountNo').touched && !SignedDocumentDetailsForm.get('AccountNo').hasError('required')
                                &&SignedDocumentDetailsForm.get('AccountNo').hasError('pattern')">
                                    Enter a valid Account no
                                </mat-error>
                            </mat-form-field>
                        </div>

                    </div>
                    <!--  -->
                    <div fxLayout="row" fxLayoutGap="15px" style="width: 100%;">
                        <div fxLayout="row" class="label_connect form_outer_bank" fxLayoutGap="10px">
                            <span class="formspan_bank">Mode of transfer</span>
                            <mat-form-field [floatLabel]="'never'" appearance="legacy" class="form_field_cls_bank">

                                <mat-select [(ngModel)]="modetransfer_selected" name="modeoftransfer"
                                    formControlName="ModeofTransfer">
                                    <mat-option *ngFor="let transfer of modeoftransfer" [value]="transfer">
                                        {{transfer}}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="SignedDocumentDetailsForm.get('ModeofTransfer').hasError('required')">
                                    Mode of transfer is required
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <!--  -->
                        <div fxLayout="row" class="label_connect form_outer_bank" fxLayoutGap="10px">
                            <span class="formspan"> IFSC code </span>
                            <mat-form-field [floatLabel]="'never'" appearance="legacy" class="form_field_cls">
                                <input matInput formControlName="IFSCCode" class="placeholdertext">
                                <mat-error *ngIf="SignedDocumentDetailsForm.get('IFSCCode').hasError('required')">
                                    IFSC code is required
                                </mat-error>
                                <mat-error *ngIf="SignedDocumentDetailsForm.get('IFSCCode').touched && !SignedDocumentDetailsForm.get('IFSCCode').hasError('required')
                                && SignedDocumentDetailsForm.get('IFSCCode').hasError('pattern')">
                                    Enter a valid  IFSC code
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div fxLayout="row" class="label_connect form_outer_bank" fxLayoutGap="10px">
                            <span class="formspan">Total deposit</span>
                            <mat-form-field [floatLabel]="'never'" appearance="legacy" class="form_field_cls">
                                <label matPrefix class="font">Rs.</label>
                                <input matInput formControlName="TotalDeposit" (keydown)="decimalOnly($event)"
                                    class="placeholdertext">
                                <mat-error *ngIf="SignedDocumentDetailsForm.get('TotalDeposit').hasError('required')">
                                    Total deposit is required
                                </mat-error>
                                <mat-error *ngIf="SignedDocumentDetailsForm.get('TotalDeposit').touched && !SignedDocumentDetailsForm.get('TotalDeposit').hasError('required')
                                && SignedDocumentDetailsForm.get('TotalDeposit').hasError('pattern')">
                                    Enter a valid amount
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <!--  -->
                    <div fxLayout="column" fxLayoutGap="12px" style="width: 100%;" class="subtitle">
                        <p class="General">Attachemnt</p>
                        <div class="neweditdiv1 uploadfiles" fxLayout="row">

                            <ngx-dropzone accept=".pdf" (change)="onSelect($event)" class="dropzonengx"
                                multiple="false">
                                <ngx-dropzone-label class="dragdrop-label">Drag and Drop file here</ngx-dropzone-label>
                                <ngx-dropzone-preview *ngFor="let f of files" [removable]="true"
                                    style=" min-height: 41px !important; " (removed)="onRemove(f)" class="drag-preview">
                                    <ngx-dropzone-label class="dragdrop-label_2">{{ f.name }}</ngx-dropzone-label>

                                </ngx-dropzone-preview>
                            </ngx-dropzone>
                        </div>
                    </div>
                    <!--  -->
                </div>
            </form>
        </div>
    </mat-dialog-content>
    <!-- <mat-dialog-actions class="m-0 p-16 footer" fxLayoutAlign="end center" fxLayoutGap="8px">
        <button mat-raised-button (click)="upload()" class="savebtn" type="button" color="primary">Upload</button>
        <button mat-raised-button type="button" (click)="close()">Cancel</button>
    </mat-dialog-actions> -->
    <mat-dialog-actions class="m-0 p-16 footer" fxLayoutAlign="end center">

        <button mat-button type="button" class="savebtn btn" color="primary" (click)="upload()">Upload</button>

        <button mat-raised-button type="button" class="btn" (click)="close()">Cancel</button>

    </mat-dialog-actions>
</div>