<mat-sidenav-container class="example-container" autosize>
    <mat-sidenav #drawer class="example-sidenav " position="end" mode="over">
        <div fxLayout="column" style="padding: 10px 0px 0px 0px;">
            <div fxLayout="row" fxLayoutGap="8px">

                <div fxFlex="86" class="asset-details-sidenav" (click)="drawer.toggle()">
                    <p>Asset Details</p>
                </div>

                <div fxFlex="12" >
                    <div fxFlex="69">
                        <img src="./assets/iconfinder_city_3_3078506 selected.png">
                    </div>
                    <div fxFlex="4" class="badge_outer">
                        <p class="badge">2</p>
                    </div>
                </div>

            </div>
            <div fxLayout="column" fxLayoutGap="15px" style="padding: 23px 12px 0px 12px;overflow-y: scroll;  ">
                <div fxLayout="row" fxLayoutAlign="space-evenly center">
                    <div class="electricboard_img ">
                        <img src="./assets/Group 8489.png">
                    </div>
                    <div class="electricboard_img">
                        <img src="./assets/Group 8489.png">
                    </div>
                    <div class="electricboard_img">
                        <img src="./assets/Group 8489.png">
                    </div>
                </div>
                <!-- <div style="width: 60%;text-align-last: right;height: 50vh;"> -->
                <img src="./assets/Mask Group 38.png" class="bigboardimage">
                <!-- </div> -->
                <div fxFlex="8" style="width:96%" class="anchor_title">
                    Anchor by Panasonic 98306 Uno Series 6 Way
                    TPN Metal Double Door Distribution Board,
                    Pack of 2
                </div>
                <br>

                <div fxLayout="row" fxLayoutGap="10px">
                    <div class="brand_lab">
                        Brand :
                    </div>
                    <div class="brand_txt">
                        Anchor by Panasonic
                    </div>
                </div>
                <div class="content">
                    Material: Polycorbonate, Color: White
                </div>
                <div class="content">
                    Item Dimension: 27mm x 20mm x 125mm
                </div>
                <div class="content">
                    6 months warranty provided by the manufacturer
                    from date of purchase
                </div>
                <div class="content">
                    Package contains : Pack of 2, 6 Way TPN Metal
                    Double Door Distribution
                </div>
                <div class="content">
                    Door is separately packed for preventing rusting in
                    double door distribution boards Ample (sufficient)
                    wiring space is provided to ensure proper distribution
                    of neutral and earth wires.
                </div>
                <div fxLayout="row" class="footerdiv" fxLayoutAlign="center center" fxLayoutGap="10px">
                    <button mat-flat-button class="button1">
                        Check Out SimilarProducts
                    </button>
                    <button class="SaveBtn" mat-raised-button>
                        Go To Amazon
                    </button>
                </div>
            </div>

            <!-- <div fxLayout="row" id="footerCard">
                <div fxLayout fxLayoutAlign="end">
                    <div>
                        <button mat-flat-button style="font-size: 12px;
            font-family: 'poppins-semi' !important;">Check Out Similar
                            Products</button>
                    </div>
                    <div>
                        <button class="SaveBtn" mat-raised-button>Go To Amazon</button>

                    </div>
                </div>
            </div> -->
        </div>
    </mat-sidenav>
    <mat-sidenav-content>

        <div class="total-solar-div">
            <div fxLayout="column" class="total-second-div">
                <div fxLayout="row" fxLayoutAlign="end center" *ngIf="assert" (click)="drawer.toggle()">
                    <mat-icon>keyboard_arrow_left</mat-icon>
                    <img src="assets/iconfinder_city_3_3078506.svg" style="margin-right: 5px;cursor: pointer;"
                        (click)="assertdetails(1)">
                    <div class="label pointer">Assert Details</div>
                </div>
                <div fxLayout="row" fxLayoutAlign="end center" *ngIf="!assert" (click)="drawer.toggle()">
                    <mat-icon>keyboard_arrow_up</mat-icon>
                    <img src="assets/iconfinder_city_3_3078506.svg" style="margin-right: 5px;"
                        (click)="assertdetails(2)">
                    <div class="label">Assert Details</div>
                </div>
                <div fxLayout="row" class="nested-second-div" fxFlex="100" *ngFor="let s of solar">
                    <div fxLayout="column" fxLayoutAlign="start start" fxFlex="50">

                        <div fxLayout="column" fxLayoutGap="20px" class="solar-width">
                            <div>
                                <span class="solar-generator">Solar Generator</span>
                            </div>
                            <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="10px"
                                class="type-div-power">
                                <div fxLayout="row" fxFlex="70" class="clientview-powersource">
                                    <span class="type-class" fxFlex="35">Type</span>
                                    <span class="type-answer-css" fxFlex="35">{{s.type}}</span>
                                </div>
                                <div fxLayout="row" fxFlex="70" class="clientview-powersource">
                                    <span class="type-class" fxFlex="35">Voltage</span>
                                    <span class="type-answer-css" fxFlex="35">{{s.voltage}}</span>
                                </div>
                                <div fxLayout="row" fxFlex="70" class="clientview-powersource">
                                    <span class="type-class" fxFlex="35">Output</span>
                                    <span class="type-answer-css" fxFlex="35">{{s.output}}</span>
                                </div>
                                <div fxLayout="row" fxFlex="70" class="clientview-powersource">
                                    <span class="type-class" fxFlex="35">Panel Distance</span>
                                    <span class="type-answer-css" fxFlex="35">{{s.panelDistance}}</span>
                                </div>
                                <div fxLayout="row" fxFlex="70" class="clientview-powersource">
                                    <span class="type-class" fxFlex="35">1 Module</span>
                                    <span class="type-answer-css" fxFlex="35">{{s.module}}</span>
                                </div>
                                <div fxLayout="row" fxFlex="70" class="clientview-powersource">
                                    <span class="type-class" fxFlex="35">Produce</span>
                                    <span class="type-answer-css" fxFlex="35">{{s.produce}} </span>
                                </div>
                                <div fxLayout="row" fxFlex="70" class="clientview-powersource">
                                    <span class="type-class" fxFlex="35">Panel</span>
                                    <span class="type-answer-css" fxFlex="35">{{s.panel}} </span>
                                </div>
                                <div fxLayout="row" fxFlex="70" class="clientview-powersource">
                                    <span class="type-class" fxFlex="35">Angle</span>
                                    <span class="type-answer-css" fxFlex="35">{{s.angle}}</span>
                                </div>
                                <div fxLayout="row" fxFlex="70" class="clientview-powersource">
                                    <span class="type-class" fxFlex="35">Degree</span>
                                    <span class="type-answer-css" fxFlex="35">{{s.degree}}</span>
                                </div>

                            </div>
                        </div>
                        <div fxLayout="column" style="padding: 10px;">
                            <img class="st" src="./assets/Images/diesel.png">
                        </div>
                    </div>


                    <div fxLayout="column" fxLayoutAlign="start start" fxFlex="50">
                        <div fxLayout="column" fxLayoutGap="20px" class="solar-width">
                            <div>
                                <span class="solar-generator">Diesel Generator</span>
                            </div>
                            <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="10px"
                                class="type-div-power">
                                <div fxLayout="row" fxFlex="70" class="clientview-powersource">
                                    <span class="type-class" fxFlex="35">Usage</span>
                                    <span class="type-answer-css" fxFlex="35">{{s.usage}}</span>
                                </div>
                                <div fxLayout="row" fxFlex="70" class="clientview-powersource">
                                    <span class="type-class" fxFlex="35">Efficiency</span>
                                    <span class="type-answer-css" fxFlex="35">{{s.efficiency}}</span>
                                </div>
                                <div fxLayout="row" fxFlex="70" class="clientview-powersource">
                                    <span class="type-class" fxFlex="35">Output</span>
                                    <span class="type-answer-css" fxFlex="35">{{s.output}}</span>
                                </div>
                                <div fxLayout="row" fxFlex="70" class="clientview-powersource">
                                    <span class="type-class" fxFlex="35">1 lit</span>
                                    <span class="type-answer-css" fxFlex="35">{{s.module}}</span>
                                </div>
                                <div fxLayout="row" fxFlex="70" class="clientview-powersource">
                                    <span class="type-class" fxFlex="35">Average</span>
                                    <span class="type-answer-css" fxFlex="35">{{s.average}}</span>
                                </div>
                                <div fxLayout="row" fxFlex="70" class="clientview-powersource">
                                    <span class="type-class" fxFlex="35">Weight</span>
                                    <span class="type-answer-css" fxFlex="35">{{s.weight}}</span>
                                </div>
                                <div fxLayout="row" fxFlex="70" class="clientview-powersource">
                                    <span class="type-class" fxFlex="35">Run&nbsp;&nbsp;Time</span>
                                    <span class="type-answer-css" fxFlex="35">{{s.runTime}}</span>
                                </div>
                                <div fxLayout="row" fxFlex="70" class="clientview-powersource">
                                    <span class="type-class" fxFlex="35">Lifespan</span>
                                    <span class="type-answer-css" fxFlex="35">{{s.lifeSpan}}</span>
                                </div>



                            </div>
                        </div>
                        <div fxLayout="column" style="padding-top: 60px;">
                            <img class="st1" src="./assets/Images/solar.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>