.Toolbar_button:active{
    height: 25px;
  width: 200px !important;
  border-radius: 4px;
  text-align: center;
  color:white;
  font-size: 12px;
  font-weight: 600;
  background-color: #1f009e;
  
}
.Toolbar_button:focus{
    height: 25px;
  width: 200px !important;
  border-radius: 4px;
  text-align: center;
  color:white;
  font-size: 12px;
  font-weight: 600;
  background-color: #1f009e;
  
}
.Toolbar_button1{
    height: 25px;
  width: 200px !important;
  border-radius: 4px;
  text-align: center;
color: #6e6d7a;
  font-size: 12px;
  font-weight: 600;
  box-shadow: 0 2px 6px 0 #eaf1fa;
  background-color: #ffffff;
}
.dot{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin: 6px;
    background-color: #49ee95;
}
.dot_list{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 3px;
    background-color: #4db151;
}
.dot_list1{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 3px;
    background-color: #e50000;
}
.txt_class{
    font-weight: 600;font-size: 12px;
}
.divider{
    opacity: 0.18;
    border-bottom: solid 1px #6d50ff;
    width: 90%;
}
.hover_cls1:hover{
background-color: #fff;
margin: 5px 5px;padding: 0px 15px;
height: 30px;
border-radius: 4px;
}
.hover_cls{
    margin: 5px 5px;padding: 0px 15px;background-color: #fdf3f9b3;
    height: 30px;
    border-radius: 4px;
}
.hover_cls2:hover{
    background-color: #fff;
    // margin: 5px 5px;padding: 0px 15px;
    // height: 30px;
    border-radius: 4px;
    }
    .label{
        font-size: 12px;
        font-weight: 600;
    }
    .label1{
        padding: 5px 15px;
    }
    .Line-284 {
        width: 451px;
        height: 0;
        margin: 10.5px 92.5px 0 20px;
        border: solid 1px #f9f9f9;
      }
      .Label_12{
        font-size: 16px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.19;
        letter-spacing: normal;
        text-align: left;
        color: #206be9;
        
      }
      .silder mat-slide-toggle-bar {
        position: relative;
        width: 30px;
        background-color: aquamarine;
        height: 10px;
        flex-shrink: 0;
        border-radius: 8px;
    }
    .label23{
      font-size: 12px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.19;
  letter-spacing: normal;
  text-align: left;
  color: #6e6d7a;
    }
    .label23_1{
      font-size: 11px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.19;
  letter-spacing: normal;
  text-align: left;
  color: #acacac;
    }
    .la_cls{
      font-size: 12px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      // line-height: 1.19;
      letter-spacing: normal;
      text-align: left;
      color: #0d0c22;
    }
    .Vi_cls{
      font-size: 12px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  // line-height: 1.19;
  letter-spacing: normal;
  text-align: left;
  color: #7169ff;
    }
      
  .Brand_cls{
      background-color: #f6f9ff;
      height: 150px;
  }
  .Cls_bnd{
      margin-top: 5px;
    font-size: 12px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.19;
    letter-spacing: normal;
    text-align: center;
    color: #0d0c22;
  }
  .Cls_bnd2{
    margin-top: 5px;
  font-size: 12px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.19;
  letter-spacing: normal;
//   text-align: center;
  color: #0d0c22;
}
  .Cls_bnd1{
    margin-top: 15px;
  font-size: 8px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.19;
  letter-spacing: normal;
  text-align: center;
  color: #0d0c22;
}
.radio_cls{
    margin-top:12px; ;
}
::ng-deep .mat-radio-outer-circle {
    box-sizing: border-box;
    height: 15px !important;
    left: 0;
    position: absolute;
    top: 0;
    transition: border-color ease 280ms;
    width: 15px !important;
    border-width: 1px !important;
    border-style: solid;
    border-radius: 50%;
    border-color: #0a6dfb;
    opacity: .7;
    background-color: #e6f0ff;
}
::ng-deep .mat-radio-inner-circle {
    border-radius: 50%;
    box-sizing: border-box;
    height: 15px !important;
    left: 0px;
    position: absolute;
    top: 0px;
    transition: transform ease 280ms,background-color ease 280ms;
    width: 15px !important;
    transform: scale(0.001);
    
}
::ng-deep .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: #0a6dfb;
}
::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle, .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple), .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple, .mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
    background-color: #0a6dfb;
}
.bold_clss{
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.21;
  letter-spacing: normal;
  text-align: left;
  color: #0d0c22;
}
.Btn_cls{
  width: 56px;
  height: 20px;
  // margin: 15px 12px 26px 0;
  // padding: 5px 6px 4px;
  // opacity: 0.18;
  border-radius: 4px;
  border: solid 1px #eae9ff;

}
.menu_cls{
  font-size: 11px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.19;
  letter-spacing: normal;
  text-align: center;
  color: #6e6d7a;
  padding-top: 3px;
}
.fire_cls{
  font-size: 11px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  color: #6e6d7a;
}


.txt_class{
  font-weight: 600;
  font-size: 12px;
}




.example-container {
  width: 100%;
  height: 100%;
  float: left;
  // border: 1px solid rgba(0, 0, 0, 0.5);
}
.example-sidenav {
  padding: 20px;
  width:43%;
  // width:67%;
  float: left;
  height: 100%;
  // height:127%;
}
.badge
{
  height: 19px;
  width: 19px;
  background-color: #34c561;
  font-size: 11px;
  border-radius: 13px;
  text-align-last: center;
  color: white;
}
.badge_outer
{
  margin-top: -9px;
    margin-left: -7px;
}
.electricboard_img
{
  text-align-last: center;
}
.bigboardimage{
  width: 80%;
  align-items: center;
  justify-content: center;
  margin-left: 2rem;
  height: 50vh;
}
.anchor_title
{
  color: #0d0c22;
  font-size: 12px;
  // font-weight: 600;
  font-family: 'poppins-semi' !important;
}
.brand_lab
{
  font-size: 12px;
  font-weight: 600;
  color: #0d0c22;
}
.brand_txt
{
  font-size: 12px;
  font-weight: 500;
  color: #6e6d7a;
}

.content
{
  color: #acacac;
  font-size: 12px;
}
// #footerCard {
//   position: relative;
//   height: 50px;
//   box-shadow: 0 -5px 10px 0 rgba(0, 0, 0, 0.16);
//   background-color: #ffffff;
//   bottom: 0px;
//   left: 70px;
//   right: 0px;
//   margin-bottom: 0px;
//   z-index: 100;
// }
.footerdiv{
  position: fixed;
  // box-shadow: 0 -5px 10px 0 rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
  margin-top: 50vh;
  width: 35%;
  height: 50px;
  margin-left: -30px;
}
.SaveBtn {
  background-color: #4410ff;
  color: white;
  width: 35%;
}
.button1{
  font-size: 10px;
  font-family: 'poppins-semi' !important;
  
}
.onclickdiv1{
  cursor: pointer;
}
.onclickdiv1:active{
  border: #86aeff;
}