<div class="bg">
    <p class="title"> Lease Document Management System</p>
    <div fxLayout="row">
        <div (click)="closePage('draft');selection.clear();"
            [ngClass]="selectedPage=='draft' ? 'main_buttons' : 'main_buttons_not_seklected' ">
            Draft

        </div>
        <div style="margin-left: 10px;" (click)="closePage('signed');selection.clear();"
            [ngClass]="selectedPage=='signed' ? 'main_buttons' : 'main_buttons_not_seklected' ">
            Signed
        </div>
        <div style="margin-left: 10px;" (click)="closePage('expiry');selection.clear();"
            [ngClass]="selectedPage=='expiry' ? 'main_buttons' : 'main_buttons_not_seklected' ">
            About To Expiry
        </div>
        <div style="margin-left: 10px;" (click)="closePage('underNotice');selection.clear();"
            [ngClass]="selectedPage=='underNotice' ? 'main_buttons' : 'main_buttons_not_seklected' ">
            Under Notice
        </div>
        <div style="margin-left: 10px;" (click)="closePage('terminate');selection.clear();"
            [ngClass]="selectedPage=='terminate' ? 'main_buttons' : 'main_buttons_not_seklected' ">
            Terminated
        </div>
        <div style="margin-left: 10px;" (click)="closePage('vacated');selection.clear();"
            [ngClass]="selectedPage=='vacated' ? 'main_buttons' : 'main_buttons_not_seklected' ">
            Vacated
        </div>
    </div>
    <!-- <br> -->
    <div *ngIf="selectedPage=='draft'">
        <div class="neweditdiv" fxLayout="row" fxLayoutAlign="space-evenly center" style="margin-top: 13px;" fxLayoutGap="16px">
            <div fxLayout="row" class="tab1" fxLayoutAlign="start center">
                <div matRipple matRippleCentered="true" class="ripple_outer" fxLayoutAlign="center center" (click)="selectedPage='new';newLeaseDraft.documentContent=null">
                    <span class="new_txt">New</span>
                </div>
                <div matRipple matRippleCentered="true" class="ripple_outer" fxLayoutAlign="center center" (click)="openMultiDraftEditor();">
                    <span class="new_txt">Edit</span>
                </div>
                <div matRipple matRippleCentered="true" class="ripple_outer" fxLayoutAlign="center center" (click)="DeleteLeaseDrafts()">
                    <span class="new_txt">Delete</span>
                </div>
                <div matRipple matRippleCentered="true" class="ripple_outer"  fxLayoutAlign="center center" (click)="DownloadLeaseDrafts()">
                    <span class="new_txt">Download</span>
                </div>
                <!-- <button mat-flat-button class="Renew_btn" (click)="selectedPage='new'">New</button>
                <button mat-flat-button class="Renew_btn" (click)="openMultiDraftEditor()">Edit</button>
                <button mat-flat-button class="Renew_btn" (click)="DeleteLeaseDrafts()">Delete</button>
                <button mat-flat-button class="Renew_btn" (click)="DownloadLeaseDrafts()">Download</button> -->
            </div>
            <div fxLayout="row" class="neweditdiv2">
                <div class="search-to-do">
                    <mat-icon matSuffix class="search_iocn">search</mat-icon>
                    <input matInput class="search_input1" placeholder="Search Document" autocomplete="off"
                        (keyup)="applyFilter($event)">
                </div>
            </div>
        </div>

        <div fxLayout="row">
            <div class="neweditdiv1 uploadfiles" fxLayout="row">
                <ngx-dropzone accept=".doc , .docx" (change)="onSelect($event)" class="dropzonengx" multiple="false">
                    <ngx-dropzone-label class="dragdrop-label">Drag and Drop file here</ngx-dropzone-label>
                    
                    <ngx-dropzone-preview *ngFor="let f of files" [removable]="true"
                        style=" min-height: 41px !important; " (removed)="onRemove(f)" class="drag-preview">
                        <ngx-dropzone-label class="dragdrop-label_2">{{ f.name }}</ngx-dropzone-label>
                    </ngx-dropzone-preview>
                </ngx-dropzone>
                <!-- <div class="add_div_draft">
                    <button mat-button class="btn_Add" (click)="UploadDraftDocument()">Add</button>
                </div> -->
                <div fxLayout="column" class="files">
                    <div fxFlex="50" fxLayoutAlign="space-evenly center">
                        Choose Files
                    </div>
                    <div fxLayout="row" fxFlex="50" fxLayoutGap="19px" style="margin: 0px 0px 0px 0px;">
                        <div fxFlex="10">
                            <img src="./assets/file_search_white.svg" (click)="UploadDraftDocument()" class="filesimage">
                        </div>
    
                        <div fxFlex="10">
                            <img src="./assets/iconmonstr-product-4_white.svg" (click)="chooseIcons('product')"
                                class="filesimage">
                        </div>
    
                        <div fxFlex="10">
                            <img src="./assets/drive white.svg" (click)="openGdrive()" class="filesimage">
                        </div>
    
                        <div fxFlex="10">
                            <img src="./assets/XMLID_16_white.svg" (click)="OpenFileFromLink()" class="filesimage">
                        </div>
                    </div>
                </div>
            </div>
            
        </div>


        <br>


        <div class="tabledivision">
            <table mat-table [dataSource]="dataSource" matSort>
                <ng-container matColumnDef="select" sticky>
                    <th mat-header-cell *matHeaderCellDef>
                        <mat-checkbox (change)="$event ? masterToggle() : null" #checkbox1 color="primary"
                            [checked]="selection.hasValue() && isAllSelected()"
                            [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
                        </mat-checkbox>
                    </th>
                    <td mat-cell *matCellDef="let row;index as i;">
                        <div fxLayout="row" fxLayoutAlign="start center">
                            <mat-checkbox (click)="$event.stopPropagation();" #checkbox color="primary"
                                (change)="$event ? selection.toggle(row) : null;row.highlighted = checkbox.checked;getrow(row)" [checked]="selection.isSelected(row)"
                                [aria-label]="checkboxLabel(row)">
                            </mat-checkbox>
                        </div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="documentOwner">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Document owner </th>
                    <td mat-cell *matCellDef="let row" class="datarow"> {{row.documentOwner}} </td>
                </ng-container>

                <ng-container matColumnDef="documentType">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Document type </th>
                    <td mat-cell *matCellDef="let row" class="datarow"> {{row.documentType}} </td>
                </ng-container>

                <ng-container matColumnDef="documentName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Document name </th>
                    <td mat-cell *matCellDef="let row" class="datarow"> {{row.documentName}} </td>
                </ng-container>

                <ng-container matColumnDef="createdOn">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Created on </th>
                    <td mat-cell *matCellDef="let row" class="datarow"> {{row.createdOn | date:'dd/MM/yyyy'}} </td>
                </ng-container>

                <ng-container matColumnDef="modifiedOn">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Modified on </th>
                    <td mat-cell *matCellDef="let row" class="datarow"> {{row.modifiedOn | date:'dd/MM/yyyy'}} </td>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header style="text-align: -webkit-center;"> Actions
                    </th>
                    <td mat-cell *matCellDef="let row" class="datarow">
                        <div fxLayout="row" fxLayoutAlign="space-evenly center">
                            <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px" class="pointer"
                                (click)="openSendMailDialog(row.documentID)">
                                <img src="./assets/iconmonstr-paper-plane-2 (2).svg" class="actionstable">
                                <span>Send</span>
                            </div>
                            <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px" class="pointer"
                                (click)="openDratEdtitor(row)">
                                <img src="./assets/iconmonstr-share-8.svg" class="actionstable">
                                <span>Open</span>
                            </div>
                        </div>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"  style="background-color: #f3f3f4;"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)" (dblclick)="openDratEdtitor(row)" [ngClass]="{highlight3:selection.isSelected(row)}"  
                style="border-bottom-style: none;cursor: pointer;"></tr>

            </table>
            <!-- <div flex fxLayoutAlign="center center" class="TableFooter" style="margin-top: 20px;"
            *ngIf="!LeaseDrafts.length">
            <mat-icon  class="infoicon">
              info
            </mat-icon>
            <span class="nodata">The table does not contain any records</span>
          </div> -->
          <div  flex fxLayoutAlign="center center" fxLayout="column" *ngIf="!LeaseDrafts.length && isDataLoaded">
            <img src="./assets/Empty.svg"  style="height: 150px;">
            <label class="nodata">The table does not contain any records</label>
          </div>
        </div>
    </div>
    <div *ngIf="selectedPage=='signed'">
        <app-leasemanagement-signed [item]="SiteSpaceOfSeleceted" (sideNavToggle)="sideNavStatus($event)"></app-leasemanagement-signed>
    </div>
    <div *ngIf="selectedPage=='expiry'">
        <app-leasemanagement-expiry (sideNavToggle)="sideNavStatus($event)"></app-leasemanagement-expiry>
    </div>
    <div *ngIf="selectedPage=='underNotice'">
        <app-under-notice (sideNavToggle)="sideNavStatus($event)"></app-under-notice>
    </div>
    <div *ngIf="selectedPage=='terminate'">
        <app-terminate (sideNavToggle)="sideNavStatus($event)"></app-terminate>
    </div>
    <div *ngIf="selectedPage=='vacated'">
        <app-leasemanagement-vacated (sideNavToggle)="sideNavStatus($event)"></app-leasemanagement-vacated>
    </div>

    <div *ngIf="selectedPage=='new'" class="ckeditor_outer">

        <div fxLayout="row" fxLayoutAlign="end center" class="submit-area">
            <div fxLayout="row">
                <div fxLayout="row" matRipple class="icon_outer" (click)="saveNewDraft()" style="margin-right: 12px;">
                    <mat-icon
                        style="font-family: 'Material Icons';font-size: 15px;text-align-last: center; line-height: 24px;">
                        save</mat-icon>
                    <span class="save_label">Save</span>
                </div>
                <div fxLayout="row" matRipple class="icon_outer" (click)="closeDraft('new')">
                    <mat-icon
                        style="font-family: 'Material Icons';font-size: 13px;text-align-last: center; line-height: 24px;">
                        clear</mat-icon>
                    <span class="save_label">Close</span>
                </div>
            </div>
            <!-- <button mat-raised-button class="saveBtn" (click)="saveNewDraft()">Save</button>
            <button mat-raised-button class="saveBtn" (click)="close">close</button> -->
        </div>
        <ck-editor name="richEditor" [(ngModel)]="newLeaseDraft.documentContent" skin="moono-lisa" language="en" (change)="neweditorchange=true"
            [fullPage]="true" [config]="editorConfig" class="editor"></ck-editor>
    </div>
    <div *ngIf="selectedPage=='edit'" class="ckeditor_outer">
        <div fxLayout="row">
            <div fxLayout="column">
                <div fxLayout="row" fxLayoutAlign="start center" *ngIf="editor1" class="submit-area">
                    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="16px" fxFlex>
                        <div fxLayoutAlign="start center">
                            <mat-icon style="font-size: 16px;line-height: 22px;" *ngIf="!editor1change">cloud_done</mat-icon>
                            <mat-icon style="font-size: 16px;line-height: 22px;" *ngIf="editor1change">sync</mat-icon>
                            <span *ngIf="editor1change" style="font-size: 11px;">saving...</span>
                        </div>
                        <div fxFlex></div>
                        <div fxLayout="row" matRipple class="icon_outer" (click)="saveDraft1()">
                            <mat-icon
                                style="font-size: 16px;line-height: 22px;">
                                save</mat-icon>
                            <span class="save_label">Save as</span>
                        </div>
                        <div fxLayout="row" matRipple class="icon_outer" (click)="closeDraft('editor1')">
                            <mat-icon
                                style="font-size: 16px;line-height: 22px;">
                                clear</mat-icon>
                            <span class="save_label">Close</span>
                        </div>
                    </div>
                </div>
                <ck-editor *ngIf="editor1" name="richEditor1" [(ngModel)]="leaseDraft1.documentContent" (ngModelChange)="editor1change=true;"
                    skin="moono-lisa" language="en" [fullPage]="true" [config]="editorConfig" class="editor">
                </ck-editor>
            </div>
            
            <div fxLayout="column">
                <div fxLayout="row" fxLayoutAlign="start center" *ngIf="editor2" class="submit-area">
                    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="16px" fxFlex>
                        <div fxLayoutAlign="start center">
                            <mat-icon style="font-size: 16px;line-height: 22px;" *ngIf="!editor2change">cloud_done</mat-icon>
                            <mat-icon style="font-size: 16px;line-height: 22px;" *ngIf="editor1change">sync</mat-icon>
                            <span *ngIf="editor2change" style="font-size: 11px;">saving...</span>
                        </div>
                        <div fxFlex></div>
                        <div fxLayout="row" matRipple class="icon_outer" (click)="saveDraft2()">
                            <mat-icon style="font-size: 16px;line-height: 22px;">
                                save</mat-icon>
                            <span class="save_label">Save as</span>
                        </div>
                        <div fxLayout="row" matRipple class="icon_outer" (click)="closeDraft('editor2')">
                            <mat-icon style="font-size: 16px;line-height: 22px;">
                                clear</mat-icon>
                            <span class="save_label">Close</span>
                        </div>
                    </div>
                </div>
                <ck-editor *ngIf="editor2" name="richEditor2" [(ngModel)]="leaseDraft2.documentContent" (ngModelChange)="editor2change=true;"
                    skin="moono-lisa" language="en" [fullPage]="true" [config]="editorConfig" class="editor">
                </ck-editor>
            </div>
        </div>
        <!-- <div fxLayout="row" fxLayoutGap="8px">
            <div fxFlex></div>
            <div fxFlex="50" *ngIf="editor1" fxLayout="row" fxLayoutAlign="end center" class="submit-area">
                <button mat-raised-button class="saveBtn" (click)="saveDraft1()">Save</button>
            </div>
            <div fxFlex="50" *ngIf="editor2" fxLayout="row" fxLayoutAlign="end center" class="submit-area">
                <button mat-raised-button class="saveBtn" (click)="saveDraft2()">Save</button>
            </div>
        </div> -->

    </div>
</div>