.upload-terminate-dialog{

    .vacatespan{
        font-size: 10px;
        font-family: 'poppins-semi' !important;
        color: #0d0c22 !important;
    }
    .vacatediv{
        font-family: 'poppins-semi' !important;
        background-color: #ffffff;
        position: absolute;
    }
    .closediv{
       justify-content: end;
       align-items: flex-end;
    }
    
    .closeimages{
        cursor: pointer;
        width: 15px;
        height: 15px;
        justify-content: right;
        text-align: right;
        align-items: flex-end;
    }
    
    .form_bg
    {
        background-color: #f3f3f4;
        height: 100%;
        width: 100%;
        overflow-y: scroll;
        padding: 34px 8px 8px 8px;
    }
    
    .labelcss{
        font-size: 10px;
        color: #0d0c22;
        font-family: 'poppins-semi' !important;
        justify-content: left;
        text-align: left;
    }
    .labelcssvalue{
        font-size: 10px;
        color: #838383;
        font-family: 'poppins-semi' !important;
        word-wrap: break-word;
    }
    
    .label_connect .mat-form-field-appearance-legacy .mat-form-field-label{
        font-size: 10px !important;
        font-family: 'poppins' !important;
        color: #596069 !important;
        line-height: 3.5;
        width: 100% !important;
    }
    .formspan{
        color: #0d0c22;
        font-size: 10px;
        font-family: 'poppins-semi' !important;
        // justify-content: left;
    }
    
    .formfield{
        width: 100% !important;
    }
      .form-field-wrapper{
      width: 100%;
      }
    
      ::placeholder {
        color: #98abc4;
        font-size: 10px !important;
    }
    ::-webkit-input-placeholder{
      color: #98abc4;
        font-size: 10px;
    }
    
    .greyscaleimage{
    width: 80px;
    margin-bottom: -24px;
    z-index: 1;
    }
    .container{
        background-color: red;
        width: 100%;
    }
    
    
    
      .savebtn{
        background-color: #4410ff !important;
        color: #ffffff !important;
        width: 17%;
        height: 28px;
        line-height: normal;
        font-size: 10px;
        font-family: 'poppins-semi' !important;
      }
    .actions{
        height: 5vh !important;
        bottom: 0%;
        margin-top: 72px !important;
        box-shadow: red;
    }
    
    .footer{
        box-shadow: 0 -3px 3px 0px #00000014;
        background-color: #fff;
        height: 26px;
        margin: 0;
        padding: 16px;
        bottom: 0;
      }
      .dialog-content-wrapper {
        max-height: 90vh !important;
        display: flex;
        flex-direction: column;
      }
      .mat-dialog-container {
        padding: 0;
        border-radius: 4px;
      }
      .content{
        padding: 24px;
        padding-top: 0;
        margin: 0;
        .contentdivision{
          padding:0 24px;
        }
    }
    .selectoptionclass{
      color: #9ba0a5 !important;
      font-size: 10px !important;
      font-family: 'poppins-semi' !important;
    }
    .toolbar{
        background-color: white;
        height: 30px;
        padding: 20px;
        box-shadow: 0 3px 3px 0px #00000014;
        padding: 24px;
        // padding-bottom: 0;
      }
      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        -webkit-appearance: none;
      }
    .forminputedit{
      color: #0d0c22 !important;
      font-size: 10px !important;
      font-family: 'poppins-semi' !important;
    }
    .chipcss.mat-standard-chip {
      transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
      display: inline-flex;
      padding: 7px 12px;
      font-size: 10px;
      border-radius: 16px;
      align-items: center;
      cursor: default;
      min-height: 20px;
      height: 1px;
  }
  .forminputedit.mat-chip-list-wrapper input.mat-input-element, .mat-chip-list-wrapper .mat-standard-chip {
    margin: 2;
  }
    .erroredits{
      font-size: 8px !important;
      font-family: 'poppins-semi' !important;
    }





    }

  