<div class="dialog-content-wrapper">
    <mat-toolbar class="toolbar" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="10px">
        <span class="vacatespan">
            Terminate
        </span>
        <img (click)="Close()" class="closeimages" src="assets/Close.svg">
    </mat-toolbar>

    <mat-dialog-content class="content" fusePerfectScrollbar>
        <div fxLayout="column" fxLayoutAlign="end  center">
    
            <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="56px" fxFlex="100" >
                <div fxFlex="30" class="imagesforbackground">

                    <div fxLayout="column" fxlayoutGap="16px" style="width: 100%;height: 100% !important;">
                        <div fxLayout="row" fxFlex>
                            <div fxFlex></div>
                            <img src="./assets/MaskGroup55.png" class="greyscaleimage">
                        </div>

                        <div class="form_bg" fxLayout="column" fxLayoutAlign="start start">
                            <div fxLayout="row" fxFlex="100" class="clientview">
                                <div fxFlex="50" class="labelcss">Client Name</div>
                                <div fxFlex="50" class="labelcssvalue">{{leaseData.clientName?leaseData.clientName:'-'}}
                                </div>
                            </div>
                            <div fxLayout="row" fxFlex="100" class="clientview">
                                <div fxFlex="50" class="labelcss">FileName</div>
                                <div fxFlex="50" class="labelcssvalue">
                                    {{leaseData.documentName?leaseData.documentName:'-'}}</div>
                            </div>
                            <div fxLayout="row" fxFlex="100" class="clientview">
                                <div fxFlex="50" class="labelcss">Creation Date</div>
                                <div fxFlex="50" class="labelcssvalue">{{leaseData.createdOn | date:'dd/MM/yyyy'}}</div>
                            </div>
                            <div fxLayout="row" fxFlex="100" class="clientview">
                                <div fxFlex="50" class="labelcss">Expiry Date</div>
                                <div fxFlex="50" class="labelcssvalue">{{leaseData.expiryDate | date:'dd/MM/yyyy'}}
                                </div>
                            </div>

                            <div fxLayout="row" fxFlex="100" class="clientview">
                                <div fxFlex="50" class="labelcss">Total Deposit</div>
                                <div fxFlex="50" class="labelcssvalue">
                                    {{leaseData.totalDeposit?leaseData.totalDeposit:'-'}}</div>
                            </div>
                            <div fxLayout="row" fxFlex="100" class="clientview">
                                <div fxFlex="50" class="labelcss">Rental</div>
                                <div fxFlex="50" class="labelcssvalue"> {{leaseData.rental?leaseData.rental:'-'}}</div>
                            </div>
                            <div fxLayout="row" fxFlex="100" class="clientview">
                                <div fxFlex="50" class="labelcss">Bank Name</div>
                                <div fxFlex="50" class="labelcssvalue"> {{leaseData.bankName?leaseData.bankName:'-'}}
                                </div>
                            </div>
                            <div fxLayout="row" fxFlex="100" class="clientview">
                                <div fxFlex="50" class="labelcss">Holder Name</div>
                                <div fxFlex="50" class="labelcssvalue">{{leaseData.holderName?leaseData.holderName:'-'}}
                                </div>
                            </div>
                            <div fxLayout="row" fxFlex="100" class="clientview">
                                <div fxFlex="50" class="labelcss">Account No.</div>
                                <div fxFlex="50" class="labelcssvalue"> {{leaseData.accountNo?leaseData.accountNo:'-'}}
                                </div>
                            </div>


                            <div fxLayout="row" fxFlex="100" class="clientview">
                                <div fxFlex="50" class="labelcss">Mode of Transfer</div>
                                <div fxFlex="50" class="labelcssvalue">
                                    {{leaseData.modeOfTransfer?leaseData.modeOfTransfer:'-'}}</div>
                            </div>
                            <div fxLayout="row" fxFlex="100" class="clientview">
                                <div fxFlex="50" class="labelcss">IFSC Code</div>
                                <div fxFlex="50" class="labelcssvalue"> {{leaseData.ifsc?leaseData.ifsc:'-'}}</div>
                            </div>
                            <div fxLayout="row" fxFlex="100" class="clientview">
                                <div fxFlex="50" class="labelcss">Advance Request</div>
                                <div fxFlex="50" class="labelcssvalue"> {{leaseData.advance?leaseData.advance:'-'}}
                                </div>
                            </div>
                            <div fxLayout="row" fxFlex="100" class="clientview">
                                <div fxFlex="50" class="labelcss">Maintenance</div>
                                <div fxFlex="50" class="labelcssvalue">
                                    {{leaseData.manintenace?leaseData.manintenace:'-'}}</div>
                            </div>
                            <div fxLayout="row" fxFlex="100" class="clientview">
                                <div fxFlex="50" class="labelcss">Remarks</div>
                                <div fxFlex="50" class="labelcssvalue">{{leaseData.remarks?leaseData.remarks:'-'}}</div>
                            </div>
                            <div fxLayout="row" fxFlex="100" class="clientview">
                                <div fxFlex="50" class="labelcss">Electrical</div>
                                <div fxFlex="50" class="labelcssvalue">
                                    {{leaseData.electrical?leaseData.electrical:'-'}}</div>
                            </div>

                            <div fxLayout="row" fxFlex="100" class="clientview">
                                <div fxFlex="50" class="labelcss">Condition</div>
                                <div fxFlex="50" class="labelcssvalue"> {{leaseData.condition?leaseData.condition:'-'}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div fxFlex fxLayout="row">
                    <form [formGroup]="Terminateformgroup" autocomplete="off" style="width: 100%;">
                        <div fxLayout="column" style="width:100% !important;padding: 10px 10px;">

                            <div fxLayout="row" class="label_connect" fxFlex="100" fxLayoutAlign="start center">
                                <span class="formspan" fxFlex="50">Proposed date</span>
                                <mat-form-field appearance="legacy" fxFlex="50">
                                    <input matInput  formControlName="Proposeddate"
                                        [matDatepicker]="picker1">
                                        <mat-error *ngIf="Terminateformgroup.get('Proposeddate').hasError('required')">
                                            Proposeddate (mm/dd/yyyy format) is required
                                        </mat-error>
                                        <mat-error *ngIf="Terminateformgroup.get('Proposeddate').hasError('TerminatecomponentComponent.Date')">
                                            mm/dd/yyyy format  is required
                                        </mat-error>
                                        <!-- <mat-error *ngIf="Terminateformgroup.controls['Proposeddate'].hasError('ptDate')">
                                            mm/dd/yyyy format  is required
                                        </mat-error> -->
                                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                    <mat-datepicker #picker1></mat-datepicker>
                                </mat-form-field>
                            </div>

                            <div fxLayout="row" class="label_connect" fxFlex="100" fxLayoutAlign="start center">
                                <span class="formspan" fxFlex="50">Accepted date</span>
                                <mat-form-field appearance="legacy" fxFlex="50">
                                    <input matInput  formControlName="Accepteddate"
                                        [matDatepicker]="picker2">
                                        <mat-error *ngIf="Terminateformgroup.get('Accepteddate').hasError('required')">
                                            Accepteddate (mm/dd/yyyy format) is required
                                        </mat-error>
                                        <mat-error *ngIf="Terminateformgroup.get('Accepteddate').hasError('TerminatecomponentComponent.Date')">
                                            mm/dd/yyyy format  is required
                                        </mat-error>
                                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                    <mat-datepicker #picker2></mat-datepicker>
                                </mat-form-field>
                            </div>

                            <div fxLayout="row" class="label_connect" fxFlex="100" fxLayoutAlign="start center">
                                <span class="formspan" fxFlex="50">Inspection date</span>
                                <mat-form-field appearance="legacy" fxFlex="50">
                                    <input matInput  formControlName="Inspectiondate"
                                        [matDatepicker]="picker3">
                                        <mat-error *ngIf="Terminateformgroup.get('Inspectiondate').hasError('required')">
                                            Inspectiondate (mm/dd/yyyy format) is required
                                        </mat-error>    
                                        <mat-error *ngIf="Terminateformgroup.get('Inspectiondate').hasError('TerminatecomponentComponent.Date')">
                                            mm/dd/yyyy format  is required
                                        </mat-error>
                                    <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                                    <mat-datepicker #picker3></mat-datepicker>
                                </mat-form-field>
                            </div>

                            <div fxLayout="row" class="label_connect" fxFlex="100" fxLayoutAlign="start center">
                                <span class="formspan" fxFlex="50">Inspected by</span>
                                <mat-form-field appearance="legacy" fxFlex="50">
                                    <mat-select formControlName="Inspectedby" class="selectoptionclass">
                                        <mat-option *ngFor="let option of fromToOptions" [value]="option">
                                            {{option}}</mat-option>
                                    </mat-select>
                                    <!-- <input matInput  formControlName="Inspectedby"> -->
                                    <mat-error *ngIf="Terminateformgroup.get('Inspectedby').hasError('required')">
                                        Select an option
                                    </mat-error>
                                    <!-- <mat-error *ngIf="Terminateformgroup.get('Inspectedby').touched">
                                        Select an option
                                    </mat-error> -->
                                </mat-form-field>
                            </div>

                            <div fxLayout="row" class="label_connect" fxFlex="100" fxLayoutAlign="start center">
                                <span class="formspan" fxFlex="50">Rent due if any</span>
                                <mat-form-field appearance="legacy" fxFlex="50">
                                    <input matInput  formControlName="Rentdue" type="number">
                                    <mat-error *ngIf="Terminateformgroup.get('Rentdue').hasError('required')">
                                        Rentdue is required
                                    </mat-error> 
                                    <mat-error *ngIf="Terminateformgroup.controls['Rentdue'].hasError('invalidName')">
                                        No special character
                                    </mat-error>
                                </mat-form-field>
                            </div>

                            <div fxLayout="row" class="label_connect" fxFlex="100" fxLayoutAlign="start center">
                                <span class="formspan" fxFlex="50">Maintenance due if any</span>
                                <mat-form-field appearance="legacy" fxFlex="50">
                                    <input matInput  formControlName="Maintenancedue" type="number">
                                    <mat-error *ngIf="Terminateformgroup.get('Maintenancedue').hasError('required')">
                                        Maintenancedue is required
                                    </mat-error>
                                    <mat-error *ngIf="Terminateformgroup.controls['Maintenancedue'].hasError('invalidName')">
                                        No special character
                                    </mat-error>
                                    <!-- <mat-error *ngIf="Terminateformgroup.get('Maintenancedue').hasError('pattern')">
                                        correct pattern with no special is required
                                    </mat-error> -->
                                </mat-form-field>
                            </div>


                            <div fxLayout="row" class="label_connect" fxFlex="100" fxLayoutAlign="start center">
                                <span class="formspan" fxFlex="50">Damage Recovery</span>
                                <mat-form-field appearance="legacy" fxFlex="50">
                                    <input matInput  formControlName="DamageRecovery" type="number">
                                    <mat-error *ngIf="Terminateformgroup.get('DamageRecovery').hasError('required')">
                                        DamageRecovery is required
                                    </mat-error>
                                    <mat-error *ngIf="Terminateformgroup.controls['DamageRecovery'].hasError('invalidName')">
                                        No special character
                                    </mat-error>
                                </mat-form-field>
                            </div>

                            <div fxLayout="row" class="label_connect" fxFlex="100" fxLayoutAlign="start center">
                                <span class="formspan" fxFlex="50">Advance Balance to Be settled</span>
                                <mat-form-field appearance="legacy" fxFlex="50" >
                                    <input matInput  formControlName="AdvanceBalance" type="number">
                                    <mat-error *ngIf="Terminateformgroup.get('AdvanceBalance').hasError('required')">
                                        AdvanceBalance is required
                                    </mat-error>
                                    <mat-error *ngIf="Terminateformgroup.controls['AdvanceBalance'].hasError('invalidName')">
                                        No special character
                                    </mat-error>
                                </mat-form-field>
                            </div>

                            <div fxLayout="row" class="label_connect" fxFlex="100" fxLayoutAlign="start center">
                                <span class="formspan" fxFlex="50">Expected Date To transfer</span>
                                <mat-form-field appearance="legacy" fxFlex="50">
                                    <input matInput  formControlName="ExpectedDate"
                                        [matDatepicker]="picker4">
                                        <mat-error *ngIf="Terminateformgroup.get('ExpectedDate').hasError('required')">
                                            ExpectedDate (mm/dd/yyyy format) is required
                                        </mat-error>
                                        <mat-error *ngIf="Terminateformgroup.get('ExpectedDate').hasError('TerminatecomponentComponent.Date')">
                                            mm/dd/yyyy format  is required
                                        </mat-error>
                                    <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
                                    <mat-datepicker #picker4></mat-datepicker>
                                </mat-form-field>
                            </div>

                            <div fxLayout="row" class="label_connect" fxFlex="100" fxLayoutAlign="start center">
                                <span class="formspan" fxFlex="50">Mode of transfer</span>
                                <mat-form-field appearance="legacy" fxFlex="50">
                                    <mat-select formControlName="Modeoftransfer" class="selectoptionclass">
                                        <mat-option *ngFor="let option of fromToOptions" [value]="option">
                                            {{option}}</mat-option>
                                    </mat-select>
                                    <!-- <input matInput  formControlName="Modeoftransfer"> -->
                                    <mat-error *ngIf="Terminateformgroup.get('Modeoftransfer').hasError('required')">
                                        Select an option
                                    </mat-error>
                                </mat-form-field>
                            </div>

                            <div fxLayout="row" class="label_connect" fxFlex="100" fxLayoutAlign="start center">
                                <span class="formspan" fxFlex="50">Returnable Assets</span>
                                <mat-form-field appearance="legacy" fxFlex=50>
                                    <mat-chip-list #chipList formControlName="ReturnableAssets" color="primary">
                                        <mat-chip *ngFor="let asset of assets.value" [selectable]="selectable"
                                            [removable]="removable" (removed)="remove(asset)">
                                            {{asset}}
                                            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                                        </mat-chip>
                                        <input [matChipInputFor]="chipList" 
                                            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                            [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="add($event)">
                                    </mat-chip-list>
                                </mat-form-field>

                            </div>

                            <div fxLayout="row" class="label_connect" fxFlex="100" fxLayoutAlign="start center">
                                <span class="formspan" fxFlex="50">Verified by</span>
                                <mat-form-field appearance="legacy" fxFlex="50">
                                
                                    <mat-select formControlName="Verifiedby" class="selectoptionclass">
                                        <mat-option *ngFor="let option of fromToOptions" [value]="option">
                                            {{option}}</mat-option>
                                    </mat-select>
                                    <!-- <input matInput  formControlName="Verifiedby"> -->
                                    <mat-error *ngIf="Terminateformgroup.get('Verifiedby').hasError('required')">
                                        Select an option
                                    </mat-error>
                                </mat-form-field>
                            </div>

                            <div fxLayout="row" class="label_connect" fxFlex="100" fxLayoutAlign="start center">
                                <span class="formspan" fxFlex="50">Remarks</span>
                                <mat-form-field appearance="legacy" fxFlex="50">
                                    <input matInput  formControlName="Remarks">
                                    <mat-error *ngIf="Terminateformgroup.get('Remarks').hasError('required')">
                                        Remarks is required
                                    </mat-error>
                                </mat-form-field>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>

    </mat-dialog-content>

    <mat-dialog-actions class="m-0 p-16 footer" fxLayoutAlign="center center" fxLayoutGap="8px">
        <button mat-raised-button class="savebtn" type="button" color="primary"
            (click)="openShiftDialog()">Shift</button>
        <button mat-raised-button class="savebtn" type="button" color="primary"
            (click)="Postterminatedetails()">Terminate</button>

    </mat-dialog-actions>

</div>