.input_field{outline: none; color: #acacac; font-size:10px; font-family: 'poppins' !important; 
    border: transparent; background-color: #ebe6ff;
    width: 90%;
}
.main_input_field1{
    background-color: #ebe6ff;    width: 57%;
    margin-left: 9px;height: 30px; border-radius: 4px; 
 }
 input{
     background-color: #ebe6ff;
     border-radius: 4px;
 }
 .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    background-color: #ebe6ff;
    color: #0d0c22;
    padding: 10px 10px;
    // text-align: center;
 }
 .assignbutton{
    width: 150px;
    height: 35px;
    background-color: #ebe6ff;
    color: #00ba53;
    font-weight: 600;
}
.div1_cls{
    font-family: Poppins;
  font-size: 12px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: normal;
  text-align: left;
  color: #0d0c22;
}
.div2_cls{
    font-family: Poppins;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    letter-spacing: normal;
    text-align: left;
    color: #c2bedf;
  
}