<div class="dialog-content-wrapper">
    <mat-toolbar class="toolbar" fxLayout="row" fxLayoutAlign="space-between center">
        <label class="title">Upload Document</label>
        <img class="closeimages" src="assets/32178.svg" (click)="close()">
    </mat-toolbar>

    <mat-dialog-content class="content" fusePerfectScrollbar>
        <form fxLayout="column" class="form" [formGroup]="form">
            <mat-radio-group class="radio-group" aria-label="Select a document type" fxLayoutGap="32px" formControlName="documentType">
                <mat-radio-button color="primary" value="Template" class="radio">Template</mat-radio-button>
                <mat-radio-button color="primary" value="Draft" class="radio">Draft</mat-radio-button>
            </mat-radio-group>
            <mat-form-field appearance="fill" class="fields">
                <mat-label>Document Name</mat-label>
                <input matInput formControlName="documentName" autocomplete="off">
                <mat-error *ngIf="form.get('documentName').touched && form.get('documentName').hasError('required')">
                    Document Name
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill" class="fields">
                <mat-label>Document owner</mat-label>
                <input matInput formControlName="documentOwner" autocomplete="off">
                <mat-error *ngIf="form.get('documentOwner').touched && form.get('documentOwner').hasError('required')">
                    Document owner
                </mat-error>
            </mat-form-field>
        </form>
    </mat-dialog-content>
    
    <mat-dialog-actions class="m-0 p-16 footer" fxLayoutAlign="end center" fxLayoutGap="8px">
        <button mat-raised-button class="savebtn" type="button" color="primary" (click)="UploadFile()">Save</button>
        <button mat-raised-button type="button" class="btn" (click)="close()">Close</button>
    </mat-dialog-actions>
</div>