/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family:  'poppins' !important  }

::-webkit-scrollbar{
    display: none;
}
@font-face{
    font-family:'poppins';
    src: url("./assets/Poppins-Regular.ttf");
}
@font-face{
  font-family:geometric415bt;
  src: url("./assets/geometric415bt-blacka-1-opentype_bigfontsite.com.otf");
}
@font-face{
    font-family: 'poppins-med';
    src:url('assets/Poppins-Medium.ttf');
    }
    @font-face{
    
    font-family: 'poppins-bold';
    src:url('assets/Poppins-Bold.ttf');
    }
    @font-face{
      font-family: 'poppins-light';
      src:url('assets/Poppins-Light.ttf');
      }
    @font-face{
      font-family: 'poppins-semi';
      src:url('assets/Poppins-SemiBold.ttf');
      }

      .full-width-dialog .mat-dialog-container {
        box-shadow: 0 6px 16px 0 rgba(31, 0, 158, 0.12);
        padding: 15px 0px 0px 10px;
      }
      .success {
        background-color: #47cb2a !important;
        color: #fff;
      }
        
      .danger {
        background-color: #f8383f !important;
        color: #fff;
      }
        
      .warning {
        background: #fc9c18 !important;
        color: #fff;
      }
        
      .info {
        background-color: #0a6dfb !important;
        color: #fff;
      }
      .mat-simple-snackbar {
        font-family: 'Poppins-Medium';
        font-weight: 500;
        font-size: 11px !important;
      }
      .mat-snack-bar-container {
        min-width: 272px !important;
      }
      .carousel {
        height: 70vh !important;
    }
    .carousel-indicators > button {
      width: 6px !important;
      height: 6px !important;
      margin: 7.5px;
  }
  .mat-tab-header-pagination-controls-enabled .mat-tab-header-pagination {
    display: none !important;
  }

  .mat-checkbox-checked.mat-primary .mat-checkbox-background {
    background-color: #4410ff;
  }
  .mat-checkbox-indeterminate.mat-primary .mat-checkbox-background{
    background-color: #4410ff;
  }

  //   .carousel-indicators[_ngcontent-tuo-c314] > button[_ngcontent-tuo-c314] {
  //     width: 6px !important;
  //     height: 6px !important;
  //     margin: 7.5px !important;
  // }
