.Datelink
{
.mat-dialog-container {
    padding: 0;
    border-radius: 4px;
  }
.content{
    padding: 9px 24px 0px 24px;
    margin: 0;
}
.placeholdertext{
  font-size: 10px;
  font-family: "poppins" !important;
  color: black;
  font-weight: 700;
  }
  .form_outer
{
width: 91%;
align-items: center;
}
.input_cls{
    outline: none;
    // opacity: 0.12;
    width: 100%;
    border: none;
  border-bottom: solid 1px #f1eff9;
}
.poppins{
    font-family: poppins-semi;
  }
.formspan{
  color: #383744;
  font-size: 10px;
  font-family: "poppins-semi" !important;
  justify-content: left;
  width: 100px;
  }
  .form_field_cls{
      width: 54%;
      font-size: 10px;
      font-family: "poppins";
      color: black !important
    }
  .label_connect .mat-form-field-appearance-legacy .mat-form-field-label{
      font-size: 10px !important;
      font-family: 'poppins' !important;
      color: #596069 !important;
      line-height: 3.5;
      width: 100% !important;
    }
  .dialog-content-wrapper {
    max-height: 90vh;
    display: flex;
    flex-direction: column;
  }
  .toolbar{
    background-color: #f4f4fb;
    height: 56px;
  }

  .title{
      @extend .poppins;
      font-size: 12px;
      color: #2c2c2e;
  }
  .footer{
    // box-shadow: 0 2px 18px 0 rgba(74, 122, 255, 0.38);
    background-color: #fdfdfd;
    height: 56px;
    margin: 0;
    padding: 16px;
  }
  .savebtn{
    background-color: #4410ff !important;
    color: #ffffff !important;
    height: 29px;
  line-height: inherit;
  font-size: 10px;
  }
.input_cls1{
    outline: none;
    // opacity: 0.12;
    width: 80%;
    text-align: center;
    border: none;
  border: solid 1px #f1eff9;
}
.close_hover{
    cursor: pointer;
}
.close_hover:hover {
    
    display: block;
     // margin-left: -60px;
      text-align: center;
     width:20px;
 }
}