<div style="overflow: auto;height: 250px;">
    <div fxLayout="column" style="padding: 7px;overflow: auto;">
        <div fxLayout="row" fxLayoutAlign="space-between center">
            <span class="create">Create Date Link Details</span>
            <span> <img class="close_hover close" src="assets/32178.svg" (click)="close()"></span>
        </div>
        <form autocomplete="off" [formGroup]="DateLinkForm">
            <div fxLayout="row" style="width: 100%;margin-top: 15px;padding: 10px 55px;" fxLayoutGap="55px">
                <div fxLayout="column" fxFlex="50" fxLayoutGap="20px">
                    <div fxLayout="row" style="font-size: 12px; color: #0d0c22;font-weight: bold;"><span
                            fxFlex="30">Starting Date</span><span fxFlex="70">
                            <input class="input_cls" formControlName="StartDate" fxFlex matInput
                                [matDatepicker]="picker1" placeholder=" Enter Start Date">
                            <img src="assets/calenderblue.svg" width="16px" class="clickable" (click)="picker1.open()">
                            <mat-datepicker #picker1></mat-datepicker>
                        </span>
                    </div>
                    <div fxLayout="row" style="font-size: 12px; color: #0d0c22;font-weight: bold;"><span
                            fxFlex="30">Ending Date</span><span fxFlex="70">
                            <input class="input_cls" formControlName="EndDate" fxFlex matInput
                                [matDatepicker]="picker2" placeholder=" Enter End Date">
                            <img src="assets/calenderblue.svg" width="16px" class="clickable" (click)="picker2.open()">
                            <mat-datepicker #picker2></mat-datepicker>
                        </span>
                    </div>
                    <div fxLayout="row" style="font-size: 12px; color: #0d0c22;font-weight: bold;"><span
                            fxFlex="30">Time</span><span fxFlex="70">
                            <input class="input_cls" formControlName="Time" matInput
                                placeholder=" Enter Time">
                        </span>
                    </div>
                    <div fxLayout="row" style="font-size: 12px; color: #0d0c22;font-weight: bold;"><span
                            fxFlex="30">Time Stamp</span><span fxFlex="70">
                            <input class="input_cls" formControlName="TimeStamp" matInput
                                placeholder=" Enter Time Stamp">
                        </span>
                    </div>
                </div>
                <div fxLayout="column" fxFlex="50" fxLayoutGap="20px">
                    <img style="width: 60%;" src="assets/general space.png" />
                </div>
            </div>
        </form>
    </div>
</div>
<mat-dialog-actions fxLayoutAlign="center center">
    <button mat-flat-button color="primary" (click)="Save()">Save</button>
</mat-dialog-actions>