<div class="dialog-content-wrapper">
    <mat-toolbar class="toolbar" fxLayout="row" fxLayoutAlign="space-between center">
        <label class="title">Create Date Link Details</label>
        <img class="closeimages"  src="assets/32178.svg" (click)="close()">
    </mat-toolbar>

<mat-dialog-content class="content" fusePerfectScrollbar>
    <form autocomplete="off" [formGroup]="DateLinkForm">
        <div fxLayout="column" fxFlex="100"  fxLayoutGap="5px">
            <!-- <div fxLayout="column" fxFlex="50">         -->
                <div fxLayout="row" class="label_connect form_outer" fxLayoutGap="4px">
                    <span class="formspan">Start Date</span>
                    <mat-form-field [floatLabel]="'never'" appearance="legacy" class="form_field_cls">
                        <input matInput [matDatepicker]="picker3"  formControlName="StartDate" fxFlex>
                        <img src="assets/calendar_upload.svg" width="16px" class="cursor"
                            (click)="picker3.open()">
                        <mat-datepicker #picker3></mat-datepicker>
                
                        <mat-error *ngIf="DateLinkForm.get('StartDate').hasError('required')">
                            Start Date is required
                        </mat-error>
                    </mat-form-field>
                </div>
                <div fxLayout="row" class="label_connect form_outer" fxLayoutGap="4px">
                    <span class="formspan">End Date</span>
                    <mat-form-field [floatLabel]="'never'" appearance="legacy" class="form_field_cls">
                        <input matInput [matDatepicker]="picker4"  formControlName="EndDate" fxFlex>
                        <img src="assets/calendar_upload.svg" width="16px" class="cursor"
                            (click)="picker4.open()">
                        <mat-datepicker #picker4></mat-datepicker>
                
                        <mat-error *ngIf="DateLinkForm.get('EndDate').hasError('required')">
                            End Date is required
                        </mat-error>
                    </mat-form-field>
                </div>
                <div fxLayout="row" class="label_connect form_outer" fxLayoutGap="4px">
                    <span class="formspan">Time</span>
                    <mat-form-field [floatLabel]="'never'" appearance="legacy"
                        class="form_field_cls">
                        <input matInput formControlName="Time" type="text"
                            class="placeholdertext ">
                        <mat-error *ngIf="DateLinkForm.get('Time').hasError('required')">
                            Time is required
                        </mat-error>
                    </mat-form-field>
                </div>
                <div fxLayout="row" class="label_connect form_outer" fxLayoutGap="4px">
                    <span class="formspan">Time Stamp</span>
                    <mat-form-field [floatLabel]="'never'" appearance="legacy"
                        class="form_field_cls">
                        <input matInput formControlName="TimeStamp" type="text"
                            class="placeholdertext ">
                        <mat-error *ngIf="DateLinkForm.get('TimeStamp').hasError('required')">
                            Time Stamp is required
                        </mat-error>
                    </mat-form-field>
                </div>
            <!-- </div> -->
           
        </div>
    </form>
</mat-dialog-content>

<mat-dialog-actions fxLayoutAlign="center center">


    <button mat-flat-button color="primary" class="savebtn" (click)="Save()">Save</button>


</mat-dialog-actions>
</div>



<!-- <div style="overflow: auto;height: 250px;">
    <div fxLayout="column" style="padding: 7px;overflow: auto;">
        <div fxLayout="row" fxLayoutAlign="space-between center">
            <span class="create">Create Date Link Details</span>
            <span> <img class="close_hover close" src="assets/32178.svg" (click)="close()"></span>
        </div>
        <form autocomplete="off" [formGroup]="DateLinkForm">
            <div fxLayout="row" style="width: 100%;margin-top: 15px;padding: 10px 55px;" fxLayoutGap="55px">
                <div fxLayout="column" fxFlex="50" fxLayoutGap="20px">
                    <div fxLayout="row" style="font-size: 12px; color: #0d0c22;font-weight: bold;"><span
                            fxFlex="30">Starting Date</span><span fxFlex="70">
                            <input class="input_cls" formControlName="StartDate" fxFlex matInput
                                [matDatepicker]="picker1" placeholder=" Enter Start Date">
                            <img src="assets/calenderblue.svg" width="16px" class="clickable" (click)="picker1.open()">
                            <mat-datepicker #picker1></mat-datepicker>
                        </span>
                    </div>
                    <div fxLayout="row" style="font-size: 12px; color: #0d0c22;font-weight: bold;"><span
                            fxFlex="30">Ending Date</span><span fxFlex="70">
                            <input class="input_cls" formControlName="EndDate" fxFlex matInput
                                [matDatepicker]="picker2" placeholder=" Enter End Date">
                            <img src="assets/calenderblue.svg" width="16px" class="clickable" (click)="picker2.open()">
                            <mat-datepicker #picker2></mat-datepicker>
                        </span>
                    </div>
                    <div fxLayout="row" style="font-size: 12px; color: #0d0c22;font-weight: bold;"><span
                            fxFlex="30">Time</span><span fxFlex="70">
                            <input class="input_cls" formControlName="Time" matInput
                                placeholder=" Enter Time">
                        </span>
                    </div>
                    <div fxLayout="row" style="font-size: 12px; color: #0d0c22;font-weight: bold;"><span
                            fxFlex="30">Time Stamp</span><span fxFlex="70">
                            <input class="input_cls" formControlName="TimeStamp" matInput
                                placeholder=" Enter Time Stamp">
                        </span>
                    </div>
                </div>
                <div fxLayout="column" fxFlex="50" fxLayoutGap="20px">
                    <img style="width: 60%;" src="assets/general space.png" />
                </div>
            </div>
        </form>
    </div>
</div>
<mat-dialog-actions fxLayoutAlign="center center">
    <button mat-flat-button color="primary" (click)="Save()">Save</button>
</mat-dialog-actions> -->