<mat-sidenav-container class="example-container" autosize>
    <mat-sidenav #drawer class="example-sidenav " position="end" mode="over">
        <div fxLayout="column" style="padding: 10px 0px 0px 0px;">
            <div fxLayout="row" fxLayoutGap="8px">
                <div fxFlex="86" class="asset-details-sidenav">
                    <p>Asset Details</p>
                </div>
                <div fxFlex="12" (click)="drawer.toggle()">
                    <div fxFlex="69">
                        <img src="./assets/iconfinder_city_3_3078506 selected.png">
                    </div>
                    <div fxFlex="4" class="badge_outer">
                        <p class="badge">2</p>
                    </div>
                </div>

            </div>
            <div fxLayout="column" fxLayoutGap="15px" style="padding: 23px 12px 0px 12px;overflow-y: scroll;  ">
                <div fxLayout="row" fxLayoutAlign="space-evenly center">
                    <div class="electricboard_img ">
                        <img src="./assets/Group 8489.png">
                    </div>
                    <div class="electricboard_img">
                        <img src="./assets/Group 8489.png">
                    </div>
                    <div class="electricboard_img">
                        <img src="./assets/Group 8489.png">
                    </div>
                </div>
                <!-- <div style="width: 60%;text-align-last: right;height: 50vh;"> -->
                <img src="./assets/Mask Group 38.png" class="bigboardimage">
                <!-- </div> -->
                <div fxFlex="8" style="width:96%" class="anchor_title">
                    Anchor by Panasonic 98306 Uno Series 6 Way
                    TPN Metal Double Door Distribution Board,
                    Pack of 2
                </div>
                <br>

                <div fxLayout="row" fxLayoutGap="10px">
                    <div class="brand_lab">
                        Brand :
                    </div>
                    <div class="brand_txt">
                        Anchor by Panasonic
                    </div>
                </div>
                <div class="content">
                    Material: Polycorbonate, Color: White
                </div>
                <div class="content">
                    Item Dimension: 27mm x 20mm x 125mm
                </div>
                <div class="content">
                    6 months warranty provided by the manufacturer
                    from date of purchase
                </div>
                <div class="content">
                    Package contains : Pack of 2, 6 Way TPN Metal
                    Double Door Distribution
                </div>
                <div class="content">
                    Door is separately packed for preventing rusting in
                    double door distribution boards Ample (sufficient)
                    wiring space is provided to ensure proper distribution
                    of neutral and earth wires.
                </div>
                <div fxLayout="row" class="footerdiv" fxLayoutAlign="center center" fxLayoutGap="10px">
                    <button mat-flat-button class="button1">
                        Check Out SimilarProducts
                    </button>
                    <button class="SaveBtn" mat-raised-button>
                        Go To Amazon
                    </button>
                </div>
            </div>

            <!-- <div fxLayout="row" id="footerCard">
                <div fxLayout fxLayoutAlign="end">
                    <div>
                        <button mat-flat-button style="font-size: 12px;
            font-family: 'poppins-semi' !important;">Check Out Similar
                            Products</button>
                    </div>
                    <div>
                        <button class="SaveBtn" mat-raised-button>Go To Amazon</button>

                    </div>
                </div>
            </div> -->
        </div>
    </mat-sidenav>
    <mat-sidenav-content>

        <div class="ed-first">
            <div class="ed-second">
                <div fxLayout="row" fxLayoutGap="20px" class="ed-third">
                    <div style="height: 100%;text-align: center; " fxFlex="25" fxLayout="column">
                        <div style="height: 50px;">
                            <div fxLayout="row" fxLayoutAlign="start center" style="padding-top: 6px;"
                                fxLayoutGap="10px">
                                <div fxFlex="20">
                                    <span class="txt_class-status">Status</span>
                                </div>
                                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="80" fxLayoutGap="5px">
                                    <div fxLayout="row" fxLayoutAlign="start center">
                                        <span class="txt_class-high">Active</span>
                                        <span class="dot-normal"></span>
                                    </div>
                                    <div fxLayout="row" fxLayoutAlign="start center">
                                        <span class="txt_class-high">In-Active</span>
                                        <span class="dot-high"></span>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="selected-area" fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="10px">
                            <span class="txt_class-selected-area">Selected Area flow chart</span>
                            <mat-divider class="divider-class"></mat-divider>
                            <div fxLayout="column" *ngFor="let area of SelectedArea;let i = index"
                                (click)="SelectedSpace(area)" class="selected-area-flow">
                                <div class="second-selected-flow">
                                    <div fxLayout="row" fxLayout="space-between center">

                                        <div fxLayout="row" fxFlex="80">
                                            <img src="../../assets/Images/Electrocution.svg"
                                                style="width: 15px;height: 15px;">

                                            <span class="txt_class" style="margin-left:10px">{{area}}</span>
                                        </div>
                                        <div fxLayout="row" fxFlex="20">
                                            <span class="dot_list1" *ngIf="i==0"></span>
                                            <span class="dot_list"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div style="padding-top: 10px;">
                                <img src="../../assets/Images/Image 46.png" class="image46-css">
                            </div>
                            <!-- <app-root (messageEvent)="receiveMessage($event)"></app-root> -->
                        </div>
                    </div>

                    <div style="height: 100%;" fxFlex="26">
                        <div class="selected-zone-div" fxLayout="column" fxLayoutAlign="start" fxLayoutGap="10px">
                            <div fxLayout="row" fxLayoutAlign="space-between center">
                                <span class="txt_class-zone">Select Zone</span>
                                <span class="txt_class-area">Area</span>
                            </div>
                            <mat-divider class="divider-class"></mat-divider>
                            <div fxLayout="column" *ngFor="let area of Area;let i = index" style="margin: 10px;">
                                <div style="background-color: #fdf3f9b3;padding: 10px;height: 24px;cursor: pointer;"
                                    (click)="SelectedSubSpace(area.space)">
                                    <div fxLayout="row" fxLayout="space-between center">

                                        <div fxLayout="row" fxFlex="80">
                                            <img src="../../assets/Images/Electrocution.svg"
                                                style="width: 15px;height: 15px;">

                                            <span class="txt_class" style="margin-left:10px">{{area.space}}</span>
                                        </div>
                                        <div fxLayout="row" fxFlex="20">
                                            <span class="dot_list1" *ngIf="i==0"></span>
                                            <span class="dot_list"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <mat-divider [vertical]="true" class="divider-overall"></mat-divider>

                    <div style="height: 100%;" fxFlex="40" fxLayout="column">
                        <div fxLayout="column" fxLayoutGap="10px">
                            <div fxLayout="row" (click)="drawer.toggle()" fxLayoutAlign="end center"
                                style="line-height: 0;cursor: pointer;" fxLayoutGap="5px">
                                <mat-icon>keyboard_arrow_left</mat-icon>
                                <img src="../../assets/Images/iconfinder_city_3_3078506@3x.png" width="15px"
                                    height="15px" style="margin-right: 5px;">
                                <div class="txt_class asset">Assert Details</div>
                            </div>
                            <div fxLayout="row" class="label" fxLayoutAlign="center center">
                                Energy Consumption Over View
                            </div>
                            <div fxLayout="row" class="label1" fxLayoutAlign="center center" fxLayoutGap="10px">
                                <div class="label">
                                    Last 6 Months
                                </div>
                                <img src="../../assets/Group 8232.svg" class="arrow-months">
                            </div>
                            <div style="height: 150px; background-color:#fff ;">
                                <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
                                    <div>
                                        <apx-chart [series]="chartOptions1.series" [chart]="chartOptions1.chart"
                                            [xaxis]="chartOptions1.xaxis" [yaxis]="chartOptions1.yaxis"
                                            [dataLabels]="chartOptions1.dataLabels" [grid]="chartOptions1.grid"
                                            [markers]="chartOptions1.markers" [stroke]="chartOptions1.stroke"
                                            [legend]="chartOptions1.legend"></apx-chart>
                                    </div>
                                </div>
                            </div>
                            <div class="Line-284"></div>
                            <div fxLayoutAlign="center center" fxLayout="column" class="label"
                                *ngFor="let ele of Electrical">
                                <div fxLayout="row" fxLayoutAlign="center center">
                                    <label class="energyusage-label"> Energy Usage </label>
                                </div>
                                <div fxLayout="row" fxLayoutAlign="center center">
                                    <label class="energy-answer">{{ele.energyUsage}}</label>
                                </div>
                            </div>
                            <div style="height: 190px;padding: 10px;" *ngFor="let ele of Electrical">

                                <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="20px"
                                    style="padding: 20px;">
                                    <div fxLayout="row" fxFlex="100" class="clientview">
                                        <div class="label23" fxFlex="50"> Type </div>
                                        <div class="label23_1" fxFlex="50">
                                            {{ele.type}}
                                        </div>
                                    </div>
                                    <div fxLayout="row" fxFlex="100" class="clientview">
                                        <div class="label23" fxFlex="50">
                                            Stabilizer
                                        </div>
                                        <div class="label23_1" fxFlex="50">
                                            {{ele.stabilizer}}
                                        </div>
                                    </div>
                                    <div fxLayout="row" fxFlex="100" class="clientview">
                                        <div class="label23" fxFlex="50">
                                            Capacity
                                        </div>
                                        <div class="label23_1" fxFlex="50">
                                            {{ele.capacity}}
                                        </div>
                                    </div>
                                    <div fxLayout="row" fxFlex="100" class="clientview">
                                        <div class="label23" fxFlex="50">
                                            Voltage
                                        </div>
                                        <div class="label23_1" fxFlex="50">
                                            {{ele.voltage}}
                                        </div>
                                    </div>
                                    <div fxLayout="row" fxFlex="100" class="clientview">
                                        <div class="label23" fxFlexOffset="80px" fxFlex="50">
                                            Input
                                        </div>
                                        <div class="label23_1" fxFlex="50">
                                            {{ele.inputVoltage}}
                                        </div>
                                    </div>
                                    <div fxLayout="row" fxFlex="100" class="clientview">
                                        <div class="label23" fxFlex="50" fxFlexOffset="80px">
                                            Output
                                        </div>

                                        <div class="label23_1" fxFlex="50">
                                            {{ele.outputVoltage}}
                                        </div>

                                    </div>
                                    <div fxLayout="row" fxFlex="100" class="clientview">
                                        <div class="label23" fxFlex="50">
                                            Ampere
                                        </div>
                                        <div class="label23_1" fxFlex="50">
                                            {{ele.ampere}}
                                        </div>
                                    </div>
                                    <div fxLayout="row" fxFlex="100" class="clientview">
                                        <div class="label23" fxFlex="50">
                                            Power
                                        </div>
                                        <div class="label23_1" fxFlex="50">
                                            {{ele.power}}
                                        </div>
                                    </div>
                                    <div fxLayout="row" fxFlex="100" class="clientview">
                                        <div class="label23" fxFlex="50">
                                            Frequency
                                        </div>
                                        <div class="label23_1" fxFlex="50">
                                            {{ele.frequency}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </mat-sidenav-content>
</mat-sidenav-container>