.Toolbar_button:active{
    height: 25px;
  width: 200px !important;
  border-radius: 4px;
  text-align: center;
  color:white;
  font-size: 12px;
  font-weight: 600;
  background-color: #1f009e;
  }
  
  .Toolbar_button:focus{
    height: 25px;
  width: 200px !important;
  border-radius: 4px;
  text-align: center;
  color:white;
  font-size: 12px;
  font-weight: 600;
  background-color: #1f009e;
  
  }
  .Toolbar_button1{
    height: 25px;
  width: 200px !important;
  border-radius: 4px;
  text-align: center;
  color: #6e6d7a;
  font-size: 12px;
  font-weight: 600;
  box-shadow: 0 2px 6px 0 #eaf1fa;
  background-color: #ffffff;
  }
  .dot{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin: 6px;
    background-color: #49ee95;
  }
  .dot_list{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 3px;
    background-color: #4db151;
  }
  .dot_list1{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 3px;
    background-color: #ffba00;
  }
  .txt_class{
    font-weight: 600;
    font-size: 12px;
  }
  .divider{
    opacity: 0.18;
    border-bottom: solid 1px #6d50ff;
    width: 90%;
  }
  .more_icon{
  width: 8px;
  height: 4px;
  position: relative;
  top: -4px;
  }
  .city_img{
  width: 18.2px;
  height: 15.4px;
  }
  .mat-badge-medium .mat-badge-content {
  background: #00ba53;
  color: white;
  width: 17px;
  height: 17px;
  font-size: 9px;
  line-height: 18px;
  position: relative;
  left: -10px;
  }
  
  .common .mat-slide-toggle-bar{
  width: 60px !important;
  height: 24px !important;
  border-radius: 15px !important;
  }
  .common .mat-slide-toggle-thumb {
    background-color: white !important;
  height: 21px !important;
  width: 21px !important;
  border-radius: 50% !important;
  position:  relative !important;
  top: 4px !important;
  left: 1px !important;
  }
  .common .mat-slide-toggle.mat-checked .mat-slide-toggle-bar::after {
          content: 'ON';
          font-size: 12px;
          font-weight: 600;
          color: black;
          position: absolute;
          left: 12px;
          top: 0px;
      }
      .common .mat-slide-toggle:not(.mat-checked) .mat-slide-toggle-bar::after {
      content: 'OFF';
      font-size: 12px;
      font-weight: 600;
      color: black;
      position: absolute;
      left: 25px;
      top: 0px;
      }
      .common .mat-slide-toggle .mat-slide-toggle-bar {
        background-color:  #c0d6fd;
    }
    .common .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
        background-color: #3ec725 !important;
        margin-left: 110%;
        height: 24px !important;
        width: 24px !important;
        border-radius: 50% !important;
        position:  relative !important;
        top: 3px !important;
    } 
    .common .mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
      background-color: #afffb2 !important;
  } 
  .on_div{
    height: 22px;
      width: 46px;
      border-radius: 45px;
      background-color: grey;
      color: white;
      text-align: center;
  }
  .mat-menu-panel{
    position: relative;
    left: 33%;
    width: 600px !important;
  }
  .label{
    font-size: 10px;
    font-weight: 600 !important;
    font-family: "poppins-semi" !important;
    color: #0e0d22;
}
.label1{
    padding: 5px 15px;
}
.Line-284 {
    width: 451px;
    height: 0;
    margin: 10.5px 92.5px 0 20px;
    border: solid 1px #f9f9f9;
  }
  .Label_12{
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.19;
    letter-spacing: normal;
    text-align: left;
    color: #206be9;
    
  }
  .silder mat-slide-toggle-bar {
    position: relative;
    width: 30px;
    background-color: aquamarine;
    height: 10px;
    flex-shrink: 0;
    border-radius: 8px;
}
.label23{
  font-size: 12px;
font-weight: bold;
font-stretch: normal;
font-style: normal;
line-height: 1.19;
letter-spacing: normal;
text-align: left;
color: #6e6d7a;
}
.label23_1{
  font-size: 11px;
font-weight: 500;
font-stretch: normal;
font-style: normal;
line-height: 1.19;
letter-spacing: normal;
text-align: left;
color: #acacac;
}
.la_cls{
  font-size: 12px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  // line-height: 1.19;
  letter-spacing: normal;
  text-align: left;
  color: #0d0c22;
}
.Vi_cls{
  font-size: 12px;
font-weight: bold;
font-stretch: normal;
font-style: normal;
// line-height: 1.19;
letter-spacing: normal;
text-align: left;
color: #7169ff;
}


.txt_class{
  font-weight: 600;
  font-size: 12px;
}



.example-container {
  width: 100%;
  height: 100%;
  float: left;
  // border: 1px solid rgba(0, 0, 0, 0.5);
}
.example-sidenav {
  padding: 20px;
  width:43%;
  // width:67%;
  float: left;
  height: 100%;
  // height:127%;
}
.badge
{
  height: 19px;
  width: 19px;
  background-color: #34c561;
  font-size: 11px;
  border-radius: 13px;
  text-align-last: center;
  color: white;
}
.badge_outer
{
  margin-top: -9px;
    margin-left: -7px;
}
.electricboard_img
{
  text-align-last: center;
}
.bigboardimage{
  width: 80%;
  align-items: center;
  justify-content: center;
  margin-left: 2rem;
  height: 50vh;
}
.anchor_title
{
  color: #0d0c22;
  font-size: 12px;
  // font-weight: 600;
  font-family: 'poppins-semi' !important;
}
.brand_lab
{
  font-size: 12px;
  font-weight: 600;
  color: #0d0c22;
}
.brand_txt
{
  font-size: 12px;
  font-weight: 500;
  color: #6e6d7a;
}

.content
{
  color: #acacac;
  font-size: 12px;
}
// #footerCard {
//   position: relative;
//   height: 50px;
//   box-shadow: 0 -5px 10px 0 rgba(0, 0, 0, 0.16);
//   background-color: #ffffff;
//   bottom: 0px;
//   left: 70px;
//   right: 0px;
//   margin-bottom: 0px;
//   z-index: 100;
// }
.footerdiv{
  position: fixed;
  // box-shadow: 0 -5px 10px 0 rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
  margin-top: 50vh;
  width: 35%;
  height: 50px;
  margin-left: -30px;
}
.SaveBtn {
  background-color: #4410ff;
  color: white;
  width: 35%;
}
.button1{
  font-size: 10px;
  font-family: 'poppins-semi' !important;
  
}
.onclickdiv1{
  cursor: pointer;
}
.onclickdiv1:active{
  border: #86aeff;
}

.asset-details-sidenav{
  font-size: 12px;
  font-weight: bold;
  text-align: right;
  cursor: pointer;
}
.ed-first{
  width:100%;
  height:90%;
  padding-top:15px;
}
.ed-second{
  width:97%;
  height:90%;
  padding-top:15px;
}
.ed-third{
  width: 100%;
  margin-left: 15px;
  height: 70vh;
  overflow: auto;
}

.txt_class-status{
  font-weight: 500;
  font-size: 10px;
  font-family: "poppins-semi" !important;
  color: #0d0c22;
}
.txt_class-high{
  font-weight: 500;
  font-size: 10px;
  font-family: "poppins-semi" !important;
  color: #acacac;
}
.divider{
  opacity: 0.18;
  border-bottom: solid 1px #6d50ff;
  width: 90%;
}

.selected-area{
  background-color: #f9f8fe;
  padding: 10px;
  text-align: left;
}
.txt_class-selected-area{
  font-weight: 500;
  font-size: 10px;
  font-family: "poppins-semi" !important;
  color: #0d0c22;
}
.selected-area-flow{
  padding-top: 10px;
  cursor: pointer;
}

.second-selected-flow{
  background-color: #eceff1;
  padding: 10px;
  height: 24px;
}
.dot_list1{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 3px;
  background-color: #ffba00;
}

.image46-css{
  text-align: left;
  width: 180px;
}

.dot-normal{
  width: 6px;
  height: 6px;
  border-radius: 50%;
  margin: 6px;
  background-color: #4db151;
}
.dot-high{
  width: 6px;
  height: 6px;
  border-radius: 50%;
  margin: 6px;
  background-color: #e50000;
}
.divider-overall{
  color: #f9f9f9;
  width: 2px;
  height: 120%;
  position: relative;
  top: 20%;
}

.divider-class{
  width: 100%;
}
.selected-zone-div{
  background-color: #fbedf6;
  padding: 10px;
  text-align: left;
  padding: 10px;
}

.txt_class-zone{
  color:#884770;
  font-weight: 600;
  font-size: 10px;
  font-family: "poppins-semi" !important;
}
.txt_class-area{
  color:#c49bb6;
  font-weight: 600;
  font-size: 10px;
  font-family: "poppins-semi" !important;
}
.divider-overall{
  color: #f9f9f9;
  width: 2px;
  height: 120%;
  position: relative;
  top: 20%;
}
.asset{
  color: #0e0d22 !important;
}
.arrow-months{
  transform: scale(0.7);
  cursor: pointer;
}
.energyusage-label{
  color: #0d0c22;
  font-size: 10px;
  font-weight: 500;
}
.energy-answer{
  margin-left: 10px;
  color: #0d0c22;
  font-size: 18px;
  font-weight: 600;
}
.electrical-divider{
  width: 90%;
  color: #f9f9f9;
  height: 2px;
  position: relative;
}
.clientview{
  text-align: left !important;
  justify-content: left;
  justify-self: left;
  width: 100%;
  padding-left: 10px;
}