
<div class="total-controlpanel">
    <div class="total-controlpanel-second">

        <mat-tab-group class="control-panel-class-tab">
            <mat-tab label="Electrical distribution" class="electrical-tab">
                <app-electrical-distribution></app-electrical-distribution>
            </mat-tab>
            <mat-tab label="Energy Consumption">
                <app-energy-consumption></app-energy-consumption> 
                 </mat-tab>
            <mat-tab label="HVAC"> 
                <app-hvac></app-hvac>
            </mat-tab>
            <mat-tab label="Water Consumption"> 
                <app-water-consumption></app-water-consumption>
            </mat-tab>
            <mat-tab label="Power Resource"> 
                <app-power></app-power>
            </mat-tab>
            <mat-tab label="Parking Access Control">  
                <app-parking-access></app-parking-access>
            </mat-tab>
            <mat-tab label="CCTV">    
            </mat-tab>
            <mat-tab label="Fire Alarm"> 
               <app-fire-alarm></app-fire-alarm>
            </mat-tab>
            <mat-tab label="Others"> 
                <app-others></app-others>
             </mat-tab>
          </mat-tab-group>
    </div>
</div>