.upload-renew-dialog{

    .vacatespan{
        font-size: 11px;
        font-family: 'poppins-semi' !important;
        color: #0d0c22 !important;
    }
    .vacatediv{
        font-family: 'poppins-semi' !important;
        background-color: #ffffff;
        position: absolute;
    }
    .closediv{
       justify-content: end;
       align-items: flex-end;
    }
    
    .closeimages{
        cursor: pointer;
        width: 15px;
        justify-content: right;
        text-align: right;
        align-items: flex-end;
    }
    
    .form_bg
    {
        background-color: #f3f3f4;
        height: 100%;
        width: 100%;
        overflow-y: scroll;
        padding: 34px 8px 8px 8px;
    }
    
    .labelcss{
        font-size: 10px;
        color: #0d0c22;
        font-family: 'poppins-semi' !important;
        justify-content: left;
        text-align: left;
    }
    .labelcssvalue{
        font-size: 10px;
        color: #838383;
        font-family: 'poppins-semi' !important;
        text-align: left;
    }
    
    .label_connect .mat-form-field-appearance-legacy .mat-form-field-label{
        font-size: 10px !important;
        font-family: 'poppins' !important;
        color: #596069 !important;
        line-height: 3.5;
        width: 100% !important;
      
    }
    .formspan{
        color: #0d0c22;
        font-size: 10px;
        font-family: 'poppins-semi' !important;
        // justify-content: left;
    }
    
    .formfield{
        width: 100% !important;
    }
      .form-field-wrapper{
      width: 100%;
      }
    
      ::placeholder {
        color: #98abc4;
        font-size: 10px !important;
    }
    ::-webkit-input-placeholder{
      color: #98abc4;
        font-size: 10px;
    }
    
    .greyscaleimage{
    width: 80px;
    margin-bottom: -24px;
    z-index: 1;
    }
    .container{
        background-color: red;
        width: 100%;
    }
    
    
    
      .savebtn{
        background-color: #4410ff !important;
        color: #ffffff !important;
        width: 100%;
        font-size: 10px;
        height: 31px;
        line-height: normal;
      }
      .savebtnfooter{
        background-color: #4410ff !important;
        color: #ffffff !important;
        width: 20%;
        font-size: 10px;
        height: 27px;
        line-height: normal;
      }
    .actions{
        height: 5vh !important;
        bottom: 0%;
        margin-top: 72px !important;
        box-shadow: red;
    }
    
    .footer{
        box-shadow: 0 -3px 3px 0px #00000014;
        background-color: #fff;
        height: 48px;
        margin: 0;
        padding: 16px;
        bottom: 0;
      }
      .dialog-content-wrapper {
        max-height: 90vh !important;
        display: flex;
        flex-direction: column;
      }
      .mat-dialog-container {
        padding: 0;
        border-radius: 4px;
      }
      .content{
        padding: 24px;
        padding-top: 19px;
        margin: 0;
        max-height: 90vh;
    }

    .toolbar{
        background-color: white;
        padding: 0px 24px;
        padding-bottom: 0;
        box-shadow: 0 3px 3px 0px #00000014;
        height: 48px;
      }

      .messagediv{
          background-color: #f3f3f4;
          width: 100%;
      }
      .messageimage{
        width: 80px;
        margin-left: 0px;
        z-index: 1;
      }

.current{
        color: #9ba0a5;
        font-size: 10px;
        font-family: 'poppins-semi' !important;
}
.messagespan{
    color: #0d0c22;
    font-size: 10px;
    font-family: 'poppins-semi' !important;
}
.firstdiv{
    border:1px solid #f3f3f4;
    background-color: white;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    
}

.name{
    color: #596069;
    font-size: 10px;
    font-family: 'poppins-semi' !important;
}
.arrowimages{
    width: 10px;
    height: 10px;
}
.dateclass{
    color:  #596069;
    font-size: 10px;
    font-family: 'poppins-semi' !important;
}


.highlight{
     background-color: #f3f3f4 ;
     color: #0d0c22;
     font-size: 10px;
    font-family: 'poppins-semi' !important;

}
.daysleft{
    color: white;
   
    font-size: 10px;
    font-family: 'poppins-semi' !important;
}

.daysleftdiv{
    background-color: #ff3131;
    width: 200px;
    padding-bottom: 0;
}
.filename
{
    
    font-size: 12px;
    color: black;
    font-weight: bold;
    padding: 10px;

}
.filename_blue
{
    
    font-size: 12px;
    color: #1e8bed;
    font-weight: bold;
    /* padding: 10px; */
    line-height: normal;


}
.filename_outer
{
    height: 10px;
    align-self: center;
    margin-top: 10px;
    cursor: pointer;
}
.date
{
    font-size: 12px;
    color: black;
}
.highlight{
    background-color: #f3f3f4;
}
.placeholdertext{
    font-size: 10px;
    font-family: "poppins-semi" !important;
    color: #000000de;
    }
.newbtn
{
    background-color: #4410ff !important;
        color: #ffffff !important;
        width: 31%;
        font-size: 10px;
        height: 25px;
        line-height: normal;
    margin-bottom: 16px;
}
.forminputedit{
    color: #0d0c22 !important;
    font-size: 10px !important;
    font-family: 'poppins-semi' !important;
  }
  .textarea
  {
  min-height: 10px;
  }
  .actionstable{
    height: 14px;
}
}

